@charset "utf-8";



/*交易查询*/
.bg{background:#f6f6f6;}

.top{position: relative;}
.top_view{width:100%;height:1.962rem;background: #fff;text-align: center;line-height: 1.962rem;font-size: 0.64rem;}

.down{
    position: absolute;
    display: inline-block;
    margin-left: 0.34rem;
    width: 10px;
    height: 10px;
    top:.58rem;
    border-left: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    -webkit-transform:  rotate(-45deg);
    -o-transform:  rotate(-45deg);
    -ms-transform:  rotate(-45deg);
    transform:  rotate(-45deg);
}

.up{
    position: absolute;
    display: inline-block;
    margin-left: 0.34rem;
    width: 10px;
    height: 10px;
    top:.80rem;
    border-right: 2px solid #cfcfcf;
    border-top: 2px solid #cfcfcf;
    -webkit-transform:  rotate(-45deg);
    -o-transform:  rotate(-45deg);
    -ms-transform:  rotate(-45deg);
    transform:  rotate(-45deg);

}

.top_none{width:100%;background: #fff;position: absolute;display: none;}
.top_none p{text-align: center;line-height: 1.962rem;font-size: 0.64rem;border-top: 1px solid #efefef;margin: 0 .64rem;}
.top_none .focus{color: #fb5c5f;}

.content{margin-top: .426rem;background: #fff;overflow: hidden;}
.con{margin:.60rem .64rem 0 .64rem;padding-bottom:.60rem;border-bottom: 1px solid #efefef;}

.con .con_1{margin-bottom: .30rem;}
.con .con_1 .title{color:#000;font-size: 0.64rem;}
.con .right{color:#999;font-size: 0.60rem;float: right;}
.con .left{color:#999;font-size: 0.60rem;}

.load_more{text-align: center;}
.load_more a{font-size: .60rem;color:#999;padding: 0.25rem 0;line-height:.90rem;width: 100%;display: inline-block;}


/*取现规则*/
.main_rules{margin: 0 .64rem .64rem .64rem ;font-size: 0.64rem; }
.main_rules h2{margin-top:.64rem;color:#000;}
.main_rules h3{color:#000;line-height: 1.1rem;}
.main_rules p{color:#666666;line-height: 1.1rem;margin-bottom: .20rem;}
.main_rules table{width:100%;margin-top: .42667rem;}
.main_rules table td{border: 1px solid #aaaaaa;border-collapse: collapse;padding:.42667rem;}
.main_rules table td p{color:#000;}
.main_rules .tc{text-align: center;}
.main_rules table .wd1{width:30%;}
.main_rules table .wd2{width:50%;}


/* 风险评估 */
.body_bg{background-color: #efeff4;}

.section{ padding: 0.4rem; }
.section p{ line-height: 22px; font-size: 0.6rem;}
.risk-top{  color: #343434; }
.risk-top p{ padding: .5rem;color:#5c5d5e;}
.risk-cont{ margin-top: 0.2rem; background-color: #fff;}
.risk-info{ margin-bottom: 1rem; }
.text_c{display: flex;display: -webkit-flex;align-items: center;flex-direction: column;-webkit-align-items: center;-webkit-flex-direction: column;}
.risk-cont .radio_  p input{width:inherit;margin-right: .3rem;margin-top: 0!important;}
.risk-cont .radio_ p label{width:inherit;}
.risk-cont .radio_ p{margin-bottom: .8rem;display: flex;display: -webkit-flex;align-items:center;-webkit-align-items: center;}

.risk-cont h4{margin-bottom: 1rem; color: #343434;font-size: 0.7666rem; }
.text_c h4{text-align: center; margin-top: 0.5rem;}
.risk-cont p{ font-size: .7333rem;}
.risk-cont p input{ width: 6%; margin-top: 0.2rem; display: inline-block; vertical-align: top; cursor: pointer; }
.risk-cont p label{ width: 94%; display: inline-block; }

.risk-down p{text-align: center;color:#dd1010;margin-top: 1.5rem;}
.chn .risk-info p{margin-left: .8rem;margin-top: 1rem;padding-right: .8rem;}
.chn .risk-info p{margin-left: .8rem;margin-top: 1rem;padding-right: .8rem;}

.risk-top .img{
    width:70px;
    height: 70px;
    background: url(//10.50.115.48:8005/qy/h5/img/icon1.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin: 2rem auto 0;
}
.risk-top .text{text-align: center;margin-top: 2.0rem;margin-bottom:.5rem;color:#5c5d5e;font-size: .7333rem;}
.sru_oth{background:#fff;}
.sru_oth p textarea{width:100%;height:2.7rem;}
.sru_oth ul li p{height:100%;}

.newA{margin-top: .5rem;}
.newA .clear{float:right;height: 1.275rem;display: block;margin:.2rem;width:3rem;border-radius:.1rem;text-align:center;line-height: 1.275rem;background:#ff7618;color:#fff;font-size: 0.7333rem;}
.newA form{border: 1px solid #e5e5e5; }

.section .other input{ width: 6%; margin-top: 5px; display: inline-block; vertical-align: top; cursor: pointer; }
.section .other p label{ width: 94%; display: inline-block; font-size: 0.5rem;}
.section .other{margin:.5rem .3rem;}

.risk-down .btn{display: flex;display: -webkit-flex;padding: 0 0.5rem;}
.risk-down .btn .newAdd{flex:2;-webkit-flex:2;}
.risk-down .btn .newSub{flex:3;-webkit-flex:3;}

.risk-down .newAdd{background:#fff;color:#ff7618;margin-right: 0.5rem;}

.mt30{margin-top: 1.5rem;}
.sru_oth ul li p input, .sru_oth ul li p textarea{font-size: 0.7rem;font-family: inherit;}

.zhezhao{display:none;position:absolute;top:0;left:0;background:#000;opacity: 0.4;width:100%;height:100%;z-index: 2;}
.risk_tan{
    width:12.25rem;
    padding-top: 0.625rem;
    font-size:0.7rem;
    color:#666;
    position:fixed;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top: -3.25rem;
    background-color: #fff;
    border-radius:4px;
    display: none;
    z-index: 99;
}
.risk_tan .tan_top{
    padding:0 0.625rem 0.5rem 0.625rem;line-height:0.9rem;border-bottom: 1px solid #e5e5e5;
}
.risk_tan .tan_top .col{color:#c55026}
.risk_tan .tan_top .p1{text-align: center;padding-bottom: .4rem;font-weight: bolder;}
.risk_tan .tan_btn{text-align: center;}
.risk_tan .tan_btn a{display: block;width:100%;height:100%;padding-top: 0.5rem;padding-bottom: 0.5rem;}


.line{width: 100%;height:2px;font-size: 0;}

.risk_title{font-size: 0.74rem;text-align: center;margin-top: 0.64rem;}

/*现金宝详情*/
.fund_top{text-align: center;background: #fff;overflow: hidden;}
.fund_top .p_title{font-size: .64rem;color:#999999;margin-top: 1.2rem;margin-bottom: .65rem;}
.fund_top .p_num{font-size: 1.493rem;margin-bottom: .9rem;}
.fund_top .p_tomorrow{font-size: .60rem;color:#999;margin-bottom: .50rem;}
.fund_top .p_add{font-size: 0.8533rem;margin-bottom: .90rem;}
.echarts_details{height:300px;width: 100%;margin: 0 auto;}


.fund_echarts{margin-top: .427rem;background: #fff;}
.fund_echarts .fund_income{display: flex;display: -webkit-flex;justify-content: center;align-items: center;-webkit-justify-content: center;-webkit-align-items: center;padding:.64rem 0;}
.fund_echarts .fund_income .right{flex:1;-webkit-flex:1;text-align: center;}
.fund_echarts .fund_income .left{flex:1;-webkit-flex:1;text-align: center;}
.fund_echarts .fund_income .p1{color:#999;font-size: 0.64rem;}
.fund_echarts .fund_income .p2{font-size: 0.64rem;}
.fund_echarts .fund_income .line_left{border-left: 1px solid #eee;position: relative;}
.fund_echarts .fund_income .line_left a{position: absolute;right:.64rem;top:.64rem;}
.to_right{
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    -webkit-transform:  rotate(-45deg);
    -o-transform:  rotate(-45deg);
    -ms-transform:  rotate(-45deg);
    transform:  rotate(-45deg);
}
.fund_echarts .fund_date {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    padding-bottom: .85rem;
}
.fund_echarts .fund_date a{margin:0 .68rem;text-align: center;width:3.84rem;height:1.28rem;background:#eee;color:#666;font-size:.60rem;display: flex;display: -webkit-flex;align-items: center;justify-content: center;-webkit-align-items: center;-webkit-justify-content: center;border-radius: 4px;}
.fund_echarts .fund_date .skin{color:#fff!important;}

.fund_rules{margin-top: .427rem;background: #fff;}
.fund_rules h3,.fund_pro h3,.fund_risk h3{height:1.593rem;line-height: 1.593rem;font-size: .68rem;color:#000;font-weight:normal;border-bottom: 1px solid #e7e7e7;padding-left: .64rem;}
.fund_rules .rules_details{margin-left:.64rem;display: flex;display: -webkit-flex;justify-content: center;align-items: center;-webkit-justify-content: center;-webkit-align-items: center;font-size: .64rem;color:#666;padding: .64rem 0;border-bottom: 1px solid #e7e7e7;}
.fund_rules .rules_details .p1{flex: 1;-webkit-flex:1;}
.fund_rules .rules_details .p2{flex: 4;-webkit-flex:4;margin:0 .64rem;}
.fund_rules .rules_add{text-align: center;height:2rem;line-height:2rem;}
.fund_rules .rules_add a{color:#148ce6;font-size: .64rem;}

.fund_pro{margin-top: .427rem;background: #fff;}
.fund_pro .pro_details{margin-left:.64rem;display: flex;display: -webkit-flex;justify-content: center;align-items: center;-webkit-justify-content: center;-webkit-align-items: center;font-size: .64rem;color:#666;padding: .64rem 0;border-bottom: 1px solid #e7e7e7;}
.fund_pro .pro_details .p1{flex:1;-webkit-flex:1;}
.fund_pro .pro_details .p2{margin-right: .64rem;}

.fund_risk{margin-top: .427rem;margin-bottom: 1.927rem;background: #fff;}
.fund_risk .risk_details{margin:0 .64rem;font-size: .64rem;color:#666;padding: .64rem 0;}
.fund_risk .risk_details p{margin-bottom: .32rem;}

.fund_btn{position:fixed;bottom:0;width:100%;background: #fff;display: flex;display: -webkit-flex;justify-content: center;align-items: center;-webkit-justify-content: center;-webkit-align-items: center;border-top:1px solid #4c7abf;}
.fund_btn a{height:2.13rem;flex:1;-webkit-flex:1;display: flex;display: -webkit-flex;justify-content: center;align-items: center;-webkit-justify-content: center;-webkit-align-items: center;font-size: .755333rem;}
.fund_btn .border_left{border-left:1px solid #4c7abf;}


/*投资者信息认证*/
.info_top{padding: .5rem;color:#666666;font-size: .512rem;}
.info_section{padding: 0 .64rem;margin-bottom:.64rem;background:#fff;}
.info_text{position:relative;padding: .60rem 0;font-size: .59rem;color:#000;border-bottom: 1px solid #eee;display: flex;display: -webkit-flex;}
.info_text_card p{flex:3;-webkit-flex:3;color:#666666;}
.info_text span{flex: 1;-webkit-flex:1;}
.info_text .flex{flex: 1;-webkit-flex:1;position: relative;margin-right: .7rem;}
.info_text input{font-size: .59rem;flex:3;-webkit-flex:3;}
.info_text2 input{font-size: .59rem;flex:2;-webkit-flex:2;}
.info_text3 input{font-size: .59rem;flex:2;-webkit-flex:2;}
.img_code span{display: flex;display: -webkit-flex;align-items: center;-webkit-align-items: center;}
.img_code{padding:.20rem 0;}
/*.info_text3 input::-webkit-input-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}
.info_text3 input:-moz-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}
.info_text3 input::-moz-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}
.info_text3 input:-ms-input-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}*/
.info_text select{font-size: .59rem;flex:3;-webkit-flex:3;}
.info_text .veriCode{font-size: .59rem;flex:3!important;-webkit-flex:3!important;display: flex;display: -webkit-flex;}
.info_text .veriCode input{font-size: .59rem;flex:1!important;-webkit-flex:1!important;width:69%;}
.info_text a{font-size: .54rem;border-left: 1px solid #999;padding-left:.60rem;width: 31%;text-align: center;}

.selc:after{
    content: "";
    position: absolute;
    right: 0.605rem;
    top: 50%;
    width: 8px;
    height: 8px;
    border-left: 3px solid #aaaaaa;
    border-bottom: 3px solid #aaaaaa;
    -webkit-transform: translateY(-50%) rotate(-135deg);
    -ms-transform: translateY(-50%) rotate(-135deg);
    -o-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
}
.info_bottom{margin: .5rem;font-size: .412rem;overflow: hidden;}
.pro label{margin-left: .2rem;}
.pro label a{color:#148ce6;}
.submit{display:inline-block;text-align: center;width:100%;height:1.92rem;line-height: 1.92rem;font-size: .64rem;background: #ccc;border-radius:25px;margin-top: .69rem;color:#fff;}


.eye{background-size: contain;width:.738rem;height: .426rem;position: absolute;top:50%;right: 0rem;margin-top: -.209rem;}
.eye_cur{background-size: contain;}
.ask{background-size: contain;width:.64rem;height: .64rem;position: absolute;top:50%;right: .0rem;margin-top: -.32rem;}
.switch_on{background-size: contain;width:2.56rem;height:1.28rem;display: inline-block;}
.switch_off{background-size: contain;width:2.56rem;height:1.28rem;display: inline-block;}
.switch input[type="checkbox"]{display: none;}


.sw{line-height: 1.28rem;}

.info_tan{display:none;width:12.8rem;background: #fff;border-radius: 5px;position: absolute;top:50%;left:50%;margin-left: -6.4rem;margin-top:-2.6rem;z-index: 99;}
.info_tan_top{color:#666;font-size: .60rem;padding:1.067rem 1.000rem .83rem 1.000rem;border-bottom: 1px solid #eee;}
.know{font-size: .64rem;color:#0070fa;line-height: 1.75rem;}
.forget{font-size: .64rem;color:#000;line-height: 1.75rem;border-right: 1px solid #eee;}
.know_btn{text-align: center;display: flex;display: -webkit-flex;}
.know_btn a{flex: 1;-webkit-flex:1;}
.tc{text-align: center;}
.pb20{padding-bottom: 1.20rem!important;}

/*取现成功*/
.take_main{margin: .5rem;}
.take_main .take_title{margin-top:3.84rem;margin-bottom: 1.578rem;text-align: center;position: relative;}
.take_main .take_title span{width:1.06667rem;height:1.06667rem;background-size: contain;display: inline-block;position: absolute;left: 50%;top:-5px;margin-left: -18%}
.take_main p{color:#666;font-size: .60rem;}



/*基金介绍*/
.intor_main{background:#fff;}
.intor_info{padding:.70rem 0;margin-left:.64rem;border-bottom: 1px solid #e7e7e7;display: flex;display: -webkit-flex;font-size: .64rem;}
.intor_info .p1{flex:1;-webkit-flex:1;color:#666;}
.intor_info .p2{flex:3;-webkit-flex:3;color:#000;}
.intor_info .p2 a{color:#148ce6;}

/*基金介绍*/
.comp_main{background:#fff;}
.comp_section{margin-top: .427rem;background: #fff;}
.comp_section h3{height: 1.593rem;  line-height: 1.593rem;  font-size: .68rem;  color: #000;  font-weight: normal;  border-bottom: 1px solid #e7e7e7;  padding-left: .64rem;}
.comp_section .comp_info{margin: 0 .64rem;font-size: .64rem;color: #666;padding: .64rem 0 .34rem 0;}
.comp_section .comp_info p{margin-bottom: .32rem;}


/*基金经理*/
.mana_top{padding:.70rem .64rem;display: flex;display: -webkit-flex;background:#fff;}
.mana_img{flex:1;-webkit-flex:1;width:3.84rem;height: 5.12rem;}
.mana_img img{width:3.84rem;height: 5.12rem;}
.mana_info{flex:2;-webkit-flex:2;display: flex;display: -webkit-flex;align-items: center;-webkit-align-items: center;}
.mana_info p{font-size: .64rem;line-height: 1rem;color:#000;}

.mana_text{padding:.30rem .64rem;background:#fff;font-size: .64rem;line-height: 1rem;color:#666;}


/*转出*/
.turn_top{background:#fff;padding: .64rem;overflow: hidden;}
.turn_top .img{background-image:url(../img/bank.png);background-size:14.933rem 8.53333rem;float: left;width:1.621rem;height:1.621rem;}

.bank_002{background-position: 0 0;}
.bank_003{background-position: -1.621rem 0;}
.bank_005{background-position: -3.242667rem 0;}
.bank_006{background-position: -4.864rem 0;}
.bank_007{background-position: -6.4853rem 0;}
.bank_008{background-position: -8.1067rem 0;}
.bank_009{background-position: -9.728rem 0;}
.bank_011{background-position: -11.3493rem 0;}
.bank_012{background-position: -12.970rem 0;}

.bank_014{background-position: 0 -1.621rem;}
.bank_015{background-position: -1.621rem -1.621rem;}
.bank_018{background-position: -3.242667rem -1.621rem;}
.bank_019{background-position: -4.864rem -1.621rem;}
.bank_102{background-position: -6.4853rem -1.621rem;}
.bank_103{background-position: -8.1067rem -1.621rem;}
.bank_104{background-position: -9.728rem -1.621rem;}
.bank_106{background-position: -11.3493rem -1.621rem;}
.bank_108{background-position: -12.970rem -1.621rem;}

.bank_109{background-position: 0 -3.242667rem;}
.bank_112{background-position: -1.621rem -3.242667rem;}
.bank_202{background-position: -3.242667rem -3.242667rem;}
.bank_603{background-position: -4.864rem -3.242667rem;}
.bank_604{background-position: -6.4853rem -3.242667rem;}
.bank_605{background-position: -8.1067rem -3.242667rem;}
.bank_606{background-position: -9.728rem -3.242667rem;}
.bank_607{background-position: -11.3493rem -3.242667rem;}
.bank_608{background-position: -12.970rem -3.242667rem;}

.bank_609{background-position: 0 -4.864rem;}
.bank_611{background-position: -1.621rem -4.864rem;}
.bank_613{background-position: -3.242667rem -4.864rem;}
.bank_614{background-position: -4.864rem -4.864rem;}
.bank_618{background-position: -6.4853rem -4.864rem;}
.bank_619{background-position: -8.1067rem -4.864rem;}
.bank_621{background-position: -9.728rem -4.864rem;}
.bank_705{background-position: -11.3493rem -4.864rem;}
.bank_802{background-position: -12.970rem -4.864rem;}

.bank_803{background-position: 0 -6.4853rem;}
.bank_804{background-position: -1.621rem -6.4853rem;}
.bank_806{background-position: -3.242667rem -6.4853rem;}
.bank_808{background-position: -4.864rem -6.4853rem;}
.bank_812{background-position: -6.4853rem -6.4853rem;}
.bank_813{background-position: -8.1067rem -6.4853rem;}
.bank_814{background-position: -9.728rem -6.4853rem;}
.bank_815{background-position: -11.3493rem -6.4853rem;}
.bank_819{background-position: -12.970rem -6.4853rem;}




.turn_top .info{margin-left: .60rem;float: left;}
.turn_top .info .p1{font-size: .68rem;color:#000;margin-bottom: .1rem;}
.turn_top .info .p2{font-size: .48rem;color:#666;}
.turn_p{font-size: .48rem;color:#666;margin-left: .64rem;line-height: 1.4rem;}

.turn_section{background:#fff;}
.turn_con{padding: .64rem 0;margin-left: .64rem;position: relative;}
.bord{border-bottom: 1px solid #eee;}
.turn_con .p1{font-size: .68rem;color:#000;margin-bottom: .3rem;}
.turn_con .p2{font-size: .58rem;color:#666;}

.turn_con .check{position: absolute;top:40%;right:.64rem;}
.icon-off{background: url(../img/icon_off.png) no-repeat;background-size: contain;width:.64rem;height:.64rem;display: inline-block;}
.icon-on{background: url(../img/icon_on.png) no-repeat;background-size: contain;width:.64rem;height:.64rem;display: inline-block;}
.check input[type="radio"]{display: none;}

.turn_text{position:relative;padding: .60rem 0;margin-left:.64rem;font-size: .59rem;color:#000;display: flex;display: -webkit-flex;}
.turn_text span{flex: 1;-webkit-flex:1;}
.turn_text input{font-size: .59rem;flex:2;-webkit-flex:2;}

.turn_btn{margin: 0 .5rem;}


.zhezhao{display:none;position:absolute;top:0;left:0;background:#000;opacity: 0.4;width:100%;height:100%;z-index: 2;}
.close{background:url(../img/close.png) no-repeat;width:.64rem;height:.64rem;background-size:contain;position: absolute;top:.64rem;right:.64rem;cursor:pointer;}

.turn_tan{display:none;position: absolute;left:50%;top:50%;margin-top:-4.2rem;margin-left: -6.97rem;background: #fff;width:13.952rem;height:8.448rem;z-index: 99;border-radius: 7px;}
.tan_top{height: 1.92rem;font-size: .64rem;color:#000;text-align: center;line-height: 1.92rem;border-bottom: 1px solid #eee;}
.tan_p{text-align: center;color:#666;font-size: .6rem;margin-top: .74rem;margin-bottom: 1.00rem;}
.tan_con{display: flex;display: -webkit-flex;justify-content: center;-webkit-justify-content: center;}
.tan_con table td{width:2.13rem;height:2.13rem;line-height:2.13rem;border: 1px solid #999;border-collapse: collapse;border-radius: 3px;font-size: .64rem;text-align: center;}
.tan_con input{width:2.13rem;text-align: center;font-size: .64rem;display: none;}
.input_password{position: absolute;left:-10rem;z-index: 3;}

.loading_tan{display:none;position: absolute;left:50%;top:50%;margin-top:-1.2rem;margin-left: -1.7rem;background: #000;opacity:0.7;width:3.2867rem;height:2.4466rem;z-index: 99;border-radius: 7px;padding:.32rem;}
.loading_tan .img{background:url(../img/loading_icon.png) no-repeat;background-size: contain;width:1.536rem;height: 1.536rem;margin: 0 auto;animation:rotateImg 10s linear .5s infinite running;}
.loading_tan p{text-align: center;padding-top: .25rem;font-size: .48rem;color:#fff;}

@keyframes rotateImg{
    0%{
        transform:rotate(0deg);

    }
    100%{
        transform:rotate(1800deg);
    }
}

.mt20{margin-top: .64rem;}
.ml20{margin-left: .64rem;}
.mb20{margin-bottom: .64rem;}
.mt17{margin-top: 1.7rem;}

.disno{display: none;}

.info_section .info01_p{padding:1.2rem 0;font-size: .56rem;line-height: .9rem;color:#000;}
.info_section .info01_span{font-size: .36rem!important;line-height: .9rem;color: #666;padding-bottom: 1.0rem;}

.countDown{display: none;}


/*协议prot css*/
.prot{
    padding:0.375rem 1.0rem;
    font-size: 0.5rem;
    line-height: 0.875rem;
    text-align: justify;
}
.prot p{
    margin-bottom:0.5rem;
    text-align:justify;
}
.prot .hot{
    font-weight:bold;
}

.prot .title{text-align: center;font-size: .64rem;margin:0.5rem 0 1rem 0;}

.protocol_1 .table{display: -webkit-box;overflow-x:scroll; -webkit-overflow-scrolling:touch; }
.protocol_1 table{width:900px;border-bottom: 1px solid #999;border-right: 1px solid #999;border-spacing: 0;}
.protocol_1 table th{background: #c7c3ba;height:40px;text-align: center;font-weight: bold;border-top: 1px solid #999;border-left: 1px solid #999;}
.protocol_1 table td{padding:10px;border-top: 1px solid #999;border-left: 1px solid #999;}

/*
提示*/

.prompt_main{text-align: center;font-size: 0.64rem;padding:2.5rem 0;background: #fff;}
.prompt_main p{color:#666;}


/*
充值成功*/
.re_main{padding: .5rem;background: #fff;overflow: hidden;}
.re_main .step{clear: both;padding-bottom: 1.28rem;overflow: hidden;}
.re_main .step .left{float:left;position: relative;margin-left: .353rem;}
.re_main .step .right{float:left;margin-left: .853rem;}

.re_main .step .left p{width:.853rem;height:.853rem;background: #fb5c5f;color:#fff;line-height: .853rem;text-align: center;border-radius: 50%;}
.re_main .step .left .red{background: #fb5c5f;}
.re_main .step .left .gray{background: #ccc;}
.re_main .step .left .line{width:2px;height:3.133rem;position: absolute;left:50%;margin-left: -1px;}


.re_main .step .right .p1{font-size: .64rem;color:#333;}
.re_main .step .right .p1 strong{color:#fb5c5f;}
.re_main .step .right .p2{color:#666666;font-size: .5546rem;margin-top: .60rem;}

.err_tan{display:none;background:rgba(0,0,0,.7);color:#fff;text-align: left;padding:.64rem;position: absolute;top:30%;border-radius: 5px;letter-spacing: 1px;line-height: 0.9rem;font-size: .64rem;overflow: hidden;}

.tan2{top:15%}

.imgCode{width:4.266666666666667rem;height:1.706666666666667rem;}

.forgetP{display:inline-block;padding:.5rem .5rem;float: right;color:#4c7abf;font-size: .59rem;}