@charset "utf-8";
/*替换皮肤 默认皮肤*/

/*ff6d2e*/

.link_color{color: #ff6048 !important;}

/*
蓝色样式
.skin{  background-color: #4c7abf!important;  }
.textColor{  color:#4c7abf!important;  }

.fund_btn{border-top-color: #4c7abf !important;}
.fund_btn .border_left{border-left-color: #4c7abf !important;}
*/

/*橙色样式*/
.skin{  background-color: #ff6d2e!important;  }
.textColor{  color:#ff6d2e!important;  }

.fund_btn{border-top-color: #ff6d2e !important;}
.fund_btn .border_left{border-left-color: #ff6d2e !important;}


/*图标*/

.take_main .take_title span{background: url(../img/success.png) no-repeat;background-size:contain;}

.eye{background: url(../img/close_eye_1.png) no-repeat;background-size:contain;}
.eye_cur{background: url(../img/open_eye_1.png) no-repeat;background-size:contain;}

.ask{background: url(../img/ask_1.png) no-repeat;background-size:contain;}
.switch_on{background: url(../img/switch_on.png) no-repeat;background-size:contain;}
.switch_off{background: url(../img/switch_off.png) no-repeat;background-size:contain;}


