/**
 * 网通商场后台 公共
 * @authors Inman Shaw
 * @date    2014-07-08 16:32:35
 */
input,select{outline: none;}
html{background: #f8f8f8}
.container{width: 96%;}

.content{margin-top: 5px;margin-left: 5px;padding: 10px;background: #fff;box-shadow:1px 1px 3px rgba(0,0,0,.05),-1px -1px 3px rgba(0,0,0,.05);min-height: 400px;}
.content-title{padding: 5px 0;margin-bottom: 1px;border-bottom: 2px solid #e6e6e6;}
.content-title strong{font-size: 15px;color: #333;font-weight: 700;}
.content-title a{margin-left: 10px;}

/*form*/
.ui-form .ui-btn{margin-right: 10px;}
.ui-form .ipt-long{width: 490px;}
.ui-form input:focus,.ui-form textarea:focus{outline: none;}

/*popups*/
.popup .popup-header{font-size: 1.6em;}
.popup-header .popup-close{margin: 3px 0 0;background: url(../../img/sc/zx/pop_close.gif) center center no-repeat;}
.popup-header .popup-close:hover{background-image: url(../../img/sc/zx/pop_close_hover.gif);}
.popSmall{width: 300px;}
.popSmall .popup-content{padding: 20px 5px;}
.popSmall .popup-footer .ui-btn{margin: 0 5px;}

.content form{margin-top: 20px;}
/*search-form*/
.search-form{padding: 15px 5px;background: #f5f5f5;}
.search-form .ui-input{margin-right: 10px;padding: 2px 5px 3px;border-radius: 2px}
.search-form .ui-select{margin-right: 10px;padding: 3px 5px 3px}
.search-form .ui-input, .search-form .ui-select,.search-form button{vertical-align: 2px;}

/*table-toolbar*/
.table-toolbar{padding: 8px 0;margin-bottom: 5px;}
.table-toolbar input{vertical-align: -2px;margin-right: 3px;}
.table-toolbar .ui-btn, .table-toolbar label{margin-right: 20px;}

/*list table*/
.ui-border-table tr:nth-of-type(even) {background: #f7f7f7;}
.ui-border-table th{font-size: 13px;white-space: nowrap;padding: 8px 3px;width: 10%;background-color: #eee;font-weight: 700;}
.ui-border-table td{font-size: 12px;text-align: center;padding: 8px 3px;}
.ui-border-table .color-green{color: rgb(25, 173, 96);}
.ui-border-table .color-red{color: rgb(252, 22, 114);}
table .w1{width: .5%;}

/*table-pager*/
.table-pager{margin-top: 10px;}
.pager-option{font-size: 13px;line-height: 23px;margin-right: 10px;}
.pager-option select{padding: 2px;vertical-align: middle;}

