@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-table-1.0.0.css");
@import url("../mod/ui-pager-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("../mod/popup.css");
@import url("pub-basic.css");
@import url("pub-header.css");
@import url("pub-nav.css");
@import url("pub-sidenav.css");
/**
 * 查看商品详细信息
 * @authors jiangzhiqiang
 * @date    2014-09-02
 */

.ico-x1 { width: 16px; height: 16px; display: inline-block; background:url(../../img/sc/misc/i_001.png) no-repeat -30px -160px; cursor: pointer; }
.ico-x2 { width: 16px; height: 16px; display: inline-block; background:url(../../img/sc/misc/i_001.png) no-repeat -60px -160px; cursor: pointer; }
.ico-x3 { width: 16px; height: 16px; display: inline-block; background:url(../../img/sc/misc/i_001.png) no-repeat -90px -160px; cursor: pointer; }
.ico-x4 { width: 16px; height: 16px; display: inline-block; background:url(../../img/sc/misc/i_001.png) no-repeat -120px -160px; cursor: pointer; }


.popedit{width: 800px;}
.popedit .popup-content{background: #f5f5f5;padding: 20px;}
.popedit .ui-form .ui-form-item{padding: 10px 0;}
.popedit .ui-form .cnt-category{margin: 10px 0;}
.popedit .ui-form .cnt-category .cnt-box{height: 250px;overflow: auto;}
.popedit .ui-form .cnt-category .cnt-box .search-area{position: relative;}
.popedit .ui-form .cnt-category .cnt-box .search-area li{text-align: left;}
.popedit .ui-form .cnt-category .cnt-box .search-area .ui-input{padding: 5px 5px 5px 20px;}
.popedit .ui-form .cnt-category .cnt-box .search-area .ico{position:absolute;top:8px;left: 16px; cursor: pointer; display:inline-block;width:16px;height:16px;background:  url(../../img/sc-admin/sc-settings/search.png) no-repeat ;}
.popedit .ui-form p.cnt-result{clear:both;text-align: left;border: 1px solid #ebebeb;background: #fff;line-height: 32px;height: 32px;padding: 0 4px; }
.popedit .ui-form p.search-form{text-align: left;}
.popedit .ui-form .cnt-category td a{color: #333;width: 100%;line-height: 26px;height: 26px;}
.popedit .ui-form .fast-go{clear:both;overflow:hidden;text-align: left;border: 1px solid #ebebeb;background: #fff;line-height: 26px;padding: 0 4px;margin: 10px 0;}

.sp-list-show {margin-top: 20px;}
.sp-list-show td{text-align: left;padding-left: 5px;}
.sp-list-show td.title{background: #efefef;text-align: right;padding-right: 5px;}
.sp-list-show td a.right{float: right;margin-right: 8px;}
