@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-table-1.0.0.css");
@import url("../mod/ui-pager-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("../mod/popup.css");
@import url("pub-basic.css");
@import url("pub-header.css");
@import url("pub-nav.css");
@import url("pub-sidenav.css");
/**
 * 商品管理
 * @authors jiangzhiqiang
 * @date    2014-09-01
 */
.search-form {padding: 10px 5px;width: 100%;overflow: hidden;}
.search-form .left{float: left;width: 90%;}
.search-form .left p{padding: 5px 0;}
.search-form .right{float: right;width: 10%}
.search-form .right border-top: bottom;{float: right;width: 10%}
.table-toolbar {clear: both;}

.tb-sp-list td img{float: left;}
.tb-sp-list td.left{text-align: left;}
.tb-sp-list td p.ico-bar{padding-left:40px; }
.ico-x1 { width: 16px; height: 16px; display: inline-block; background:url(../../img/sc/misc/i_001.png) no-repeat -30px -160px; cursor: pointer; }
.ico-x2 { width: 16px; height: 16px; display: inline-block; background:url(../../img/sc/misc/i_001.png) no-repeat -60px -160px; cursor: pointer; }
.ico-x3 { width: 16px; height: 16px; display: inline-block; background:url(../../img/sc/misc/i_001.png) no-repeat -90px -160px; cursor: pointer; }
.ico-x4 { width: 16px; height: 16px; display: inline-block; background:url(../../img/sc/misc/i_001.png) no-repeat -120px -160px; cursor: pointer; }

.popcheck{width: 400px;}
.popcheck .ui-form .ui-form-item{padding: 10px 0;}
.popcheck .ui-form .gap{height: 30px;}
.popcheck .ui-form .ui-form-item label{padding: 0 10px;}
.popcheck .ui-form .ui-form-item li{text-align: left;line-height: 30px;}

.popedit{width: 800px;}
.popedit .popup-content{background: #f5f5f5;padding: 20px;}
.popedit .ui-form .ui-form-item{padding: 10px 0;}
.popedit .ui-form .cnt-category{margin: 10px 0;}
.popedit .ui-form .cnt-category .cnt-box{height: 250px;overflow: auto;}
.popedit .ui-form .cnt-category .cnt-box .search-area{position: relative;}
.popedit .ui-form .cnt-category .cnt-box .search-area li{text-align: left;}
.popedit .ui-form .cnt-category .cnt-box .search-area .ui-input{padding: 5px 5px 5px 20px;}
.popedit .ui-form .cnt-category .cnt-box .search-area .ico{position:absolute;top:8px;left: 16px; cursor: pointer; display:inline-block;width:16px;height:16px;background:  url(../../img/sc-admin/sc-settings/search.png) no-repeat ;}
.popedit .ui-form p.cnt-result{clear:both;text-align: left;border: 1px solid #ebebeb;background: #fff;line-height: 32px;height: 32px;padding: 0 4px; }
.popedit .ui-form p.search-form{text-align: left;}
.popedit .ui-form .cnt-category td a{color: #333;width: 100%;line-height: 26px;height: 26px;}
.popedit .ui-form .fast-go{clear:both;overflow:hidden;text-align: left;border: 1px solid #ebebeb;background: #fff;line-height: 26px;padding: 0 4px;margin: 10px 0;}

