@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-table-1.0.0.css");
@import url("../mod/ui-pager-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("../mod/popup.css");
@import url("pub-basic.css");
@import url("pub-header.css");
@import url("pub-nav.css");
@import url("pub-sidenav.css");
/**
 * 系统管理-服务协议管理
 * @authors Inman Shaw
 * @date    2014-07-09 13:47:31
 */

.tb-agreement-list .actions a{padding: 0 10px;margin: 0 5px;}

/*popups*/
.pop-show-agreement .popup-content{padding-right: 0;}
.pop-show-agreement .agm-cnt{max-height: 600px;overflow-y: auto;padding: 10px;}
.pop-show-agreement .agm-cnt h2{font-size: 1.2em;font-weight: 700;text-align: center;}

