@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-table-1.0.0.css");
@import url("../mod/ui-pager-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("../mod/popup.css");
@import url("pub-basic.css");
@import url("pub-header.css");
@import url("pub-nav.css");
@import url("pub-sidenav.css");

/**
 * 系统管理-系统配置-栏目管理
 * @authors jiangzhiqiang
 * @date    2014-08-18 16:39:38
 */


.add-form .ui-input, .add-form .ui-textarea{width: 50%;}
.add-form .ui-form-item .ui-btn{vertical-align: -5px;}
a.disabled,a.disabled:hover,a.disabled:active{background-color: #aaa;}
td.td-treegrid{text-align: left;white-space: nowrap;}
td.td-treegrid .td-span-collapse{display:inline-block;width: 16px;height: 16px; margin-top: 6px; padding:0 3px; cursor:pointer; vertical-align: top;  background: #fff url(../../img/sc-admin/sc-settings/collapse.png) no-repeat ; }
td.td-treegrid .td-span-expand{display:inline-block;width: 16px;height: 16px; margin-top: 6px; padding:0 3px;cursor:pointer; vertical-align: top; background: #fff url(../../img/sc-admin/sc-settings/expand.png) no-repeat ; }
td.td-treegrid .td-span-indent{display: inline-block; width: 16px; height: 16px; margin-top: 6px; padding:0 3px; vertical-align: top;}
.td-span-green{color: green;}
.td-span-up{display: inline-block; cursor: pointer; width: 16px; height: 16px; margin-top: 6px; padding:0 3px; vertical-align: top; background: #fff url(../../img/sc-admin/sc-settings/up.png) no-repeat ;}
.td-span-up1{display: inline-block; cursor: pointer; width: 16px; height: 16px; margin-top: 6px; padding:0 3px; vertical-align: top; background: #fff url(../../img/sc-admin/sc-settings/up1.png) no-repeat ;}
.td-span-up2{display: inline-block; cursor: pointer; width: 16px; height: 16px; margin-top: 6px; padding:0 3px; vertical-align: top; background: #fff url(../../img/sc-admin/sc-settings/up2.png) no-repeat ;}
.td-span-down{display: inline-block; cursor: pointer; width: 16px; height: 16px; margin-top: 6px; padding:0 3px; vertical-align: top; background: #fff url(../../img/sc-admin/sc-settings/down.png) no-repeat ;}
.td-span-down1{display: inline-block; cursor: pointer; width: 16px; height: 16px; margin-top: 6px; padding:0 3px; vertical-align: top; background: #fff url(../../img/sc-admin/sc-settings/down1.png) no-repeat ;}
.td-span-down2{display: inline-block; cursor: pointer; width: 16px; height: 16px; margin-top: 6px; padding:0 3px; vertical-align: top; background: #fff url(../../img/sc-admin/sc-settings/down2.png) no-repeat ;}
.tb-footer-center{text-align: center;margin-top: 10px;}
