<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>qBaoEarning</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/base.css">
    <link rel="stylesheet" type="text/css" href="./css/content.css">
    <script type="text/javascript" src="./js/fontresize.js"></script>
    <script src="./js/vue/vue.js"></script>
</head>
<body class="bg">
<div id="app">
    <div class="info_top">
        <p>仅供参考</p>
    </div>
    <div class="info_section borderNo pt0">
        <div class="info_text">
            <span>总资产:</span>
            <input placeholder="请输入您的总资产" class="total" maxlength="9"/>
            <div class="del"><i></i></div>
        </div>
        <div class="info_text">
            <span>天数:</span>
            <input placeholder="请输入您的天数" class="days" maxlength="5"/>
            <div class="del"><i></i></div>
        </div>

        <button class="inqu" @click="submit">计算</button>
    </div>

    <div class="comp_section">
        <h3>{{days}}天的总收益及手续费 <strong>（单位元）</strong></h3>
        <div class="info_section borderNo">
            <div class="text">
                <p v-for="allDays in allDays" v-bind:class="{p1:!allDays.type}">{{allDays.name}}：<span>{{allDays.value}}</span></p>
            </div>
        </div>
    </div>

    <div class="comp_section">
        <h3>资产分布</h3>
        <div id="pie1" class="pie"></div>
    </div>

    <div class="comp_section">
        <h3>每日收益明细 <strong>（单位元）</strong></h3>
        <div class="info_section" v-for="msg in allDaily">
            <div class="left">
                <p>{{msg.days}}</p>
                <p>日收益：<span>{{msg.dailyIncome}}</span></p>
                <p>总资产：<span>{{msg.totals}}</span></p>
            </div>
            <div class="right">
                <p>账户管理费：<span>{{msg.dailyAccountManagementFee}}</span></p>
                <p>数据助手：<span>{{msg.dailyAssistantFee}}</span></p>
            </div>
        </div>
    </div>

    <div class="err_tan">
        <p>格式错误！</p>
    </div>
    <div class="toTop"></div>
</div>
<script src="./js/number.js"></script>
<script src="./js/jquery-2.2.2.min.js"></script>
<script src="./js/test.js"></script>
<script src="./js/echarts.common.min.js"></script>
<script src="./js/component.js"></script>
<script>

   /* var a=12.62, b=12.3333;
    console.log(typeof (a).add(b));        //24.9533
    console.log(typeof (a).subtr(b));      //0.2867
    console.log(typeof (a).mul(b));        //155.646246
    console.log(typeof (a).div(b));        //1.0232460087729967

    var c = 30,d= 30;
    console.log(!(c/d));*/

    //输入框清空按钮操作
    $(function(){
        var input = $('.info_text input');
        input.keyup(function(){
            //console.log('222');
            //this.value=this.value.replace(/[^1-9]/g,'');
            if(this.value.length >0){
                $(this).parent().find('.del').show();
            }else{
                $(this).parent().find('.del').hide();
            }
        });

        $('.del').click(function(){
            $(this).parent().find('input').val("");
            $(this).hide();
        });
    });

    //错误提示弹窗样式
    $(function(){
        $(".err_tan").removeAttr("style");
        var w = $('.err_tan').width();
        var w_d = $(document).width();
        //var w_p = $('.err_tan p').outerWidth();

        //console.log(w);
        //console.log(w_d);
        var w_t=w_d-150;


        if(w >= w_t){
            $('.err_tan').css({"width":w_t + "px"});
            $('.err_tan').css({"left":(w_d - $('.err_tan').outerWidth())/2+"px"});
        }else{
            $('.err_tan').css({"left":(w_d - $('.err_tan').outerWidth())/2+"px"});
            //$('.err_tan').css({"margin-left":-(w_rem/2)+"rem"});
        }

    });


    var vm=new Vue({
        el:'#app',
        data:{
            days:0,
            allDays:[],
            allDaily:[]
        },
        methods:{
            submit:function(){
                var valueAll;
                var total = $('.total').val();
                var days = $('.days').val();

                if(total == '' || days == ''){
                    //console.log("无值");
                }else{
                    valueAll= cal(days,total);
                    //$('.text').html(valueAll);
                    var chartsData = [];
                    for(var i=0;i<valueAll.allDays.length;i++){
                        if(valueAll.allDays[i].type){
                            var data = {name:valueAll.allDays[i].name+"："+valueAll.allDays[i].value,value:valueAll.allDays[i].value};
                            chartsData.push(data);
                        }
                    }
                    //console.log(chartsData);
                    this.allDays = valueAll.allDays;
                    this.allDaily = valueAll.allDaily;
                    this.days = days;
                    pieEcharts.init("pie1",{            //默认参数配置
                        title:'',             //标题
                        data: chartsData
                    });

                }
            }
        }
    });

    $(window).scroll(function(){
        //console.log($(window).scrollTop());
        if($(window).scrollTop() > 1000){
            $('.toTop').show();
        }else{
            $('.toTop').hide();
        }
    });
    $('.toTop').click(function(){
        //$('.toTop').hide();
        $('body,html').animate({scrollTop:0},1000);
    });





    //是否是纯数字
    function CheckNum(Str) {
        var re=/^\d+$/;
        //var re=^(-?\\d+)(;

        return re.test(Str);
    }
</script>

</body>
</html>