@charset "UTF-8";

/*添富投顾*/
.bg{background:#f6f6f6;}

.top{background:#fff;display: flex;display: -webkit-flex;justify-content: center;align-items: center;-webkit-justify-content: center;-webkit-align-items: center;}
.top a{display: flex;display: -webkit-flex;flex:1;height: 1.856rem;justify-content: center;align-items: center;-webkit-justify-content: center;-webkit-align-items: center;color:#000;font-size: .64rem;border-bottom: 2px solid #fff;}
.top .focus{color:#c9a85b;border-bottom: 2px solid #c9a85b;}

.con{margin-top: .4266rem;background:#fff;}
.to_right{
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.to_right1{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nds{display: none;}

.con a{display: flex;display:-webkit-flex;align-items: center;-webkit-align-items: center;padding:.64rem .64rem .4266rem 0;margin-left:.64rem;border-bottom: 1px solid #eee;}
.con a div{flex:1;}
.con a div .p1{font-size: .64rem;color:#000;}
.con a div .p2{font-size: .5546rem;color:#666;margin-top: .4266rem;}


/*
添富观点*/
.main{background: #fff;}
.main .top{padding:.64rem .64rem .4266rem .64rem;border-bottom: 1px solid #eee;display: block;}
.main .top .p1,.author .top .p1{font-size: .64rem;color:#000;}
.main .top .p2{font-size: .5546rem;color:#666;margin-top: .4266rem;}
.main .text{padding: 0 .64rem;}
.main .text p{color:#666;font-size: .597rem;line-height: 1.2rem;padding-top: .50rem;text-indent: 1.20rem;}

.prompt{padding: 0 .64rem;margin-bottom: 2rem;}
.prompt p{color:#666;font-size: .554rem;line-height: 1rem;padding-top: .50rem;}

.author{margin-top: .4266rem;background: #fff;}
.author .top{padding:.64rem .64rem .4266rem .64rem;border-bottom: 1px solid #eee;display: block;}

.mana_top{padding:.70rem .64rem;display: flex;display: -webkit-flex;background:#fff;}
.mana_img{flex:1;background:url(../img/men.jpg) no-repeat;background-size: contain;width:3.84rem;height: 5.12rem;}
.mana_info{flex:2;margin-top: .554rem;}
.mana_info p{font-size: .64rem;line-height: 1rem;color:#000;}

.mana_text{padding:.30rem .64rem .853rem .64rem;background:#fff;font-size: .64rem;line-height: 1.2rem;color:#666;}


/*首页*/
.top_bg{width:100%;height: 4.885333333333333rem;}
.top_bg img{width:100%;height: 4.885333333333333rem;}
.adv{background: url(../img/adv.png) no-repeat;background-size: contain;width:100%;height: .7253rem;margin-top: .554rem;margin-bottom: .3rem;}

.ptys{margin-top: .4266rem;background: #fff;}
.ptys .ptys_1{display: flex;display: -webkit-flex;text-align: center;padding:.64rem 0;}
.ptys .ptys_1 div{flex:1;}
.ptys .ptys_1 div:first-child{border-right: 1px solid #eee;}
.ptys .ptys_1 div p{color:#666666;font-size:.554rem;}
.ptys .ptys_1 div span{color:#fe7e01;font-size:.853rem;font-weight: bold;margin-top: .554rem;display: inline-block;}

.flex{display: flex;display: -webkit-flex;padding:.5973rem .64rem .5973rem 0;margin-left: .64rem;}
.flex .flex_1{flex:1;display: flex;display: -webkit-flex; justify-content: center;align-items:center;flex-direction: column;-webkit-justify-content: center;-webkit-align-content: center;-webkit-flex-direction: column;}
.flex .flex_2{flex:2;margin-left: .853rem;display: flex;display: -webkit-flex;justify-content: center;flex-direction: column;-webkit-justify-content: center;-webkit-flex-direction: column;}
.flex .flex_2 p{color:#333333;font-size:.597rem;margin-bottom: .40rem;font-weight: bold;font-family: "Microsoft YaHei";}
.flex .flex_2 span{color:#666666;font-size:.512rem;line-height: .8rem;}
.flex .flex_2 div{margin-bottom: .40rem;display: flex;display:-webkit-flex;color:#f85d63;}
.flex .flex_2 div a{display: block;float: left;color:#f85d63;padding: .1rem .4rem;border-radius: 25px;text-align:center;}
.flex .flex_2 div a:first-child{padding-left: 0!important;}

.flex .flex_1 p{color:#f85d63;font-size:.8561rem;font-weight: bold;}
.flex .flex_1 p strong{font-size:.522rem;font-weight: bold;}
.flex .flex_1 span{color:#666;font-size:.554rem;line-height: 1.3rem;}

.img1{background: url(../img/img1.png) center no-repeat;background-size: contain;width:3.2853rem;height:3.2853rem;}
.img2{background: url(../img/img2.png) center no-repeat;background-size: contain;width:3.2853rem;height:3.2853rem;}
.img3{background: url(../img/img3.png) center no-repeat;background-size: contain;width:3.2853rem;height:3.2853rem;}
.img4{background: url(../img/img4.png) center no-repeat;background-size: contain;width:3.84rem;height:3.413rem;}
.img5{background: url(../img/img5.png) center no-repeat;background-size: contain;width:3.84rem;height:3.413rem;}


.tftg{margin-top: .4266rem;background: #fff;}
.tftg .title{padding:.50rem .64rem;border-bottom: 1px solid #eee;overflow: hidden;}
.tftg .title p{float: left;font-size: .64rem;color:#000;}
.tftg .title a{display: block;float: right;color:#666;font-size: .54rem;}
.bt{border-bottom: 1px solid #eee;}
.br{border-right: 1px solid #eee;}

/*.fxts{font-size: .504rem;text-align:center;color:#666666;margin: .4266rem .68rem 2.53rem .68rem;}*/
.fxts{font-size: .304rem;text-align:left;color:#666666;margin: .4266rem .68rem 2.53rem .68rem;}

.btn{background: #c9a85b;display: block;width:100%;height:2.13rem;line-height: 2.13rem;color:#fff;font-size: .7253rem;text-align: center;font-weight: bold;position: fixed;bottom:0;}

