/*header.html*/

.header{height: 98px;width:100%;background:#b9d7df;overflow:hidden;}
.header .content{width:1000px;margin: 0 auto;}
.header .logo,.header .nav{float:left;}
.header .nav li{float:left;line-height: 95px;color:#fff;padding:0 20px;}
.header .nav li a{display: inline-block;color:#fff;}
.header .nav li a:hover{border-bottom: 3px solid #367d49;}
.header .nav li .active{border-bottom: 3px solid #367d49;}

.header .other{float:right;line-height: 95px;}
.header .other .service{float:left;padding-right: 30px;color:#fff;}
.header .other .lan{float:left;padding-right: 10px;}
.header .other .lan input{border: 1px solid #fff;background: none;color:#fff;cursor:pointer;}


/*header-bar.html*/
.header-bar{background: #dbf5f3;height: 30px;}
.header-bar div{float:left;line-height: 30px;color:#7a7b82;font-size: 14px;}
.header-bar div a{padding: 0 20px;width:50px;text-align: center;}
.header-bar .address{position: relative;}
.header-bar .address a{display: inline-block;   }
.header-bar .address ul{background: #dbf5f3;width: 90px;position: absolute;left:0px;text-align: center;display: none;}
.header-bar .address li{background: #dbf5f3;border-top:1px solid #ccc;cursor:pointer;}
.header-bar .address li:hover{color: #ff7238;}
.header-bar .welcome{float:right;}


/*footer.html*/
.footer{height:100px;background: #b9d7df;margin-top: 40px;}
.footer .content{width:1000px;margin: 0 auto;}
.footer .content p{color:#999;font-size: 14px;text-align: center;line-height: 100px;}

