/*header.html*/

.header{height: 98px;min-width: 1000px;background:#b9d7df;}
.header .content{width:1000px;margin: 0 auto;clear: both;}
.header .logo,.header .nav{float:left;}
.header .logo{height: 98px;}
.header .logo img{margin-top: 20px;}
.header .nav li{float:left;line-height: 95px;color:#fff;padding:0 20px;}
.header .nav li:first-child{padding-left: 40px;}
.header .nav li a{display: inline-block;color:#fff;}
.header .nav li a:hover{border-bottom: 3px solid #fff;}
body.on1 .header .nav li .on1{border-bottom: 3px solid #fff;}
body.on2 .header .nav li .on2{border-bottom: 3px solid #fff;}
body.on3 .header .nav li .on3{border-bottom: 3px solid #fff;}
body.on4 .header .nav li .on4{border-bottom: 3px solid #fff;}
body.on5 .header .nav li .on5{border-bottom: 3px solid #fff;}

.header .other{float:right;line-height: 95px;}
.header .other .service{float:left;padding-right: 30px;color:#fff;position: relative;}
.header .other .service ul{display:none;position: absolute;z-index:99;background: #b9d7df;width: 90px;top:66px;left:-26px;}
.header .other .service li{height: 25px;line-height: 25px;border-top:1px solid #ccc;cursor:pointer;font-size: 14px;text-align: center;}
.header .other .lan{float:left;padding-right: 10px;}
.header .other .lan a{border: 1px solid #fff;background: none;color:#fff;cursor:pointer;padding: 0 2px;}

.media-header,.mlogined{display: none;}






/*header-bar.html*/
.header-bar{background: #eee;height: 60px;min-width: 1000px;margin-bottom: 30px;}
.header-bar .content{width:1000px;margin: 0 auto;}
.header-bar .content .address,.header-bar .content .login,.header-bar .content .cart{float:right;line-height: 60px;color:#999;font-size: 14px;margin-right: 10px;}
.header-bar .content .cart span{display: inline-block;background: url(../img/2.png) no-repeat;width:15px;height:16px;float:left;margin-top: 21px;margin-right: -15px;}
.header-bar .content .cart .count{color: #ff7238;}
.header-bar .content .address span{display: inline-block;background: url(../img/1.png) no-repeat;width:11px;height:15px;float:left;margin-top: 23px;margin-right: -20px;}
.header-bar .content div a{padding: 0 20px;text-align: center;}
.header-bar .address{position: relative;}
.header-bar .address a{display: inline-block;text-align: left!important;padding-left: 13px!important;}
.header-bar .address ul{z-index:99;background: #eee;width: 90px;position: absolute;left:0px;text-align: center;display: none;}
.header-bar .address li{background: #eee;border-top:1px solid #ccc;cursor:pointer;}
.header-bar .address li:hover{color: #ff7238;}
.header-bar .content .welcome{line-height: 60px;color:#999;font-size: 14px;float: left;}

.header-bar .logined{position: relative;}
.header-bar .logined a{display: inline-block;}
.header-bar .logined ul{z-index:99;background: #eee;position: absolute;left:0px;text-align: center;display: none;}
.header-bar .logined li{background: #eee;border-top:1px solid #ccc;cursor:pointer;}
.header-bar .logined li:hover{color: #ff7238;}

/*footer.html*/
.footer{height:100px;background: #b9d7df;margin-top: 40px;min-width: 1000px;}
.footer .content{width:1000px;margin: 0 auto;}
.footer .content p{color:#999;font-size: 14px;text-align: center;line-height: 100px;}



@media screen and (max-width:414px){
    .header-bar{height:30px;margin-bottom: 0}
    .header-bar,.footer{width: 100%!important;min-width:100%;}
    .header{display: none;}
    .header-bar .content .welcome{font-size: 12px;margin-left: 15px;float:right;line-height: 30px;}
    .header-bar.header-bar .content .address,.header-bar .content .login,.header-bar .content .cart{display: none;}

    .header-bar .content{width:100%;}

    .media-header{display: block;position: relative;width:100%;background:#b9d7df;height: 56px;}
    .media-header .address,.media-header .logo{line-height: 51px;float:left;color:#fff;font-size: 14px;}
    .media-header .icon{float:left;}

    .media-header .icon{padding: 0 10px;}
    .media-header .icon img{width:30px;height:20px; margin-top: 16px;}
    .media-header .logo{width:100px;position: absolute;left:50%;margin-left: -38px;}
    .media-header .logo img{width: 72px;height: 40px;margin-top: 8px;}
    .media-header .cart a{background-image: url(../img/app_cart.png);background-repeat:no-repeat;width:20px;height:21px;display: inline-block;margin-top: 19px;}
    .media-header .user,.media-header .cart{float:right;color:#fff;margin-right: 14px;}
    .media-header .user a{background-image: url(../img/ren.png);background-repeat:no-repeat;width:20px;height:23px;display: inline-block;margin-top: 17px;}

    .media-header .cart .count{
        line-height: 20px;
        display: block;
        float: right;
        margin-top: 20px;
        margin-left: 5px;
        color: #ff7238;
    }

    .media-header .address{position: relative;}
    .media-header .address a{display: inline-block;}
    .media-header .address span{display: block;background: url(../img/byod_sec.png) no-repeat;width:12px;height: 7px;float: right;margin-top: 24px;margin-left: 5px;}
    .media-header .address ul{z-index:99;background: #b9d7df;width: 90px;position: absolute;left:0px;text-align: center;display: none;}
    .media-header .address li{background: #b9d7df;border-top:1px solid #ccc;cursor:pointer;line-height: 35px;}
    .media-header .address li:hover{color: #ff7238;}

    .media-header .nav{font-size:12px;display:none;position: absolute;top:56px;left:0;z-index: 99;background: #b9d7df;width: 38%;}
    .media-header .nav li{clear:both;line-height: 30px;border-top:1px solid #eee;color:#fff;font-size: 14px;padding-left: 10px;position: relative;padding-right: 10px;}
    .media-header .nav li a{display: inline-block;width: 100%;font-size:12px;}
    .media-header .nav li a:hover{border-bottom: none;}
    .media-header .nav li .active{border-bottom: none;}

    .media-header .nav .service ul{z-index: 99;background: #b9d7df;}
    .media-header .nav li a{display: inline-block;width: 100%;font-size:12px;}


    .selc:after {
        content: "";
        position: absolute;
        right: 8px;
        top: 50%;
        width: 8px;
        height: 8px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: translateY(-50%) rotate(-135deg);
    }

    .footer .content{width:100%;margin: 0 auto;}
}

