


.product{overflow: hidden;margin-top: 10px;position: relative;}
.product .image,.product .con{float:left;}

.product-swiper {
    width: 380px!important;
    height: 350px!important;
    border: 1px solid #eee;
}
.product-swiper img{
    width: 380px!important;
    height: 350px!important;
}

.product .small{
    margin-top: 10px;

    /*position: absolute;

    left:50%;
    transform:translate(-50%,0);
    font-size: 36px;
    margin: 30px auto;
    border-bottom: 2px solid #50b7b4;*/
}
.product .small a{display: block;margin: 0 5px;width:80px;height: 80px;float:left;}
.product .small img{width:80px;height: 80px;}
.product .small a:hover,.product .small .active{border: 1px solid #50b7b4;}

.product .con{margin: 20px 30px;}
.product .con .title{margin-bottom: 30px;}
.product .con .title p{color:#333;font-size: 24px;font-weight: bold;}
.product .con .title span{color:#929292;font-size: 14px;}
.product .con .detail td.td1{color:#666;font-size: 16px;line-height: 40px;}
.product .con .detail td.td2{color:#929292;font-size: 16px;}
.product .con .detail td.td2.offer{color:#50b7b4;font-size: 26px;}
.product .con .detail td.td2.color a{color:#929292;font-size: 14px;border: 1px solid #eee;padding: 0 3px;border-radius: 3px;}
.product .con .detail td.td2.color .active{border: 1px solid #50b7b4;color:#50b7b4;}

.product .con .detail td.td2.norm a{color:#929292;font-size: 14px;border: 1px solid #eee;padding: 0 3px;border-radius: 3px;}
.product .con .detail td.td2.norm .active{border: 1px solid #50b7b4;color:#50b7b4;}

.product .con .detail td.td2 .less{background: none;border: 1px solid #eee;cursor:pointer;}
.product .con .detail td.td2 .plus{background: none;border: 1px solid #eee;cursor:pointer;}
.product .con .detail td.td2 .text{background: none;border: 1px solid #eee;width:40px;text-align: center;}

.product .con .btn{margin-top: 30px;}
.product .con .btn .collect{cursor: pointer;line-height: 45px;margin-right: 30px;}
.product .con .btn .collect span{background: url(../img/star.png) no-repeat;width:23px;height: 22px;display: inline-block;margin-top: 10px;float: left;margin-right: 5px;}
.product .con .btn .add{display: inline-block;background:#fbe8a4;cursor: pointer;color:#fff;width:215px;height:45px;border-radius: 5px;text-align: center;line-height: 45px;margin-right: 10px; }
.product .con .btn .buy{display: inline-block;background:#fa874b;cursor: pointer;color:#fff;width:215px;height:45px;border-radius: 5px;text-align: center;line-height: 45px; }

.productNav{margin-top:20px;height: 40px;border-bottom: 2px solid #eee;}
.productNav ul{}
.productNav li{color:#666;font-size:14px;float:left;width:126px;background: #eee;text-align: center;margin-right: 12px;height: 40px;line-height: 40px;border-radius: 5px 5px 0 0;cursor:pointer;}
.productNav li:hover,.productNav .active{background: #50b7b4;color:#fff;}

.productDetail{display: none;}

.product .callMe{display: none;}

.contact{position: absolute;top:500px;right: 0;}
.contact a{background: #50b7b4;font-size: 14px;width:120px;height:40px;text-align: center;line-height: 40px;display: inline-block;margin-top: 10px;border-radius: 5px;color: #fff;}
.contact a em{background: url(../img/phone.png) no-repeat;width:25px;height: 24px;display: inline-block;margin-top: 9px;float: left;margin-left: 9px;}


@media screen and (max-width:414px){
    .product .small{display: none;}
    .product .image{width: 100%;}
    .product-swiper {
        width: 375px!important;
        margin: 0 auto;
    }
    .product-swiper img{
        width: 375px!important;

    }
    .product .con .btn{display: flex;}
    .product .con .btn .collect span{margin-top: 3px;}

    .product .con .btn .collect{margin-right: 0;flex:1;width: auto;height: 30px;line-height: 30px;font-size: 14px;}
    .product .con .btn .add{font-size: 14px;flex:1;width: auto;height: 30px;line-height: 30px;}
    .product .con .btn .buy{font-size: 14px;flex:1;width: auto;height: 30px;line-height: 30px;}

    .product .con .detail td.td1,.product .con .detail td.td2{font-size: 12px;line-height: 30px;}

    .productNav ul{display: flex;}
    .productNav li{flex:1;margin-right: 0;background: none;}
    .productNav li:hover,.productNav .active{background: none;border-bottom:1px solid #50b7b4;color:#50b7b4;}

    .contact{top:600px;}
    .contact a{font-size: 12px;height:30px;line-height: 30px;width: 100px;}
    .contact a em{margin-top: 3px;}
}