.solution{text-align: center;}
.solution .title {
    width: auto;
    font-size: 36px;
    border-bottom: 2px solid #50b7b4;
    margin: 30px;
    display: inline-block;
    font-weight: normal;
}

.solution .text{font-size: 14px;color:#666;width: 80%;margin: 0 auto;border: 1px solid #eee;padding: 10px;text-align: left;}
.solution .content{width:80%;margin: 0 auto;}

.solution .content .title {
    width: auto;
    font-size: 14px;
    color:#50b7b4;
    border: none;
    margin: 30px;
    display: inline-block;
    font-weight: normal;
}
.solution .content table{font-size: 14px;color:#666;text-align: left;}
.solution .content table td{line-height: 21px;padding: 10px 0;}
.solution .content table .td1{text-align: right;}
.solution .content table .td1 strong{color: #ff5821;padding-right: 5px;}
.solution .content table .td_strong{color:red;font-size: 12px;}
.solution .content table .td2 .select{width:150px!important;border: 1px solid #eee;height: 30px;padding-left: 5px;}

.solution .content table .td2 .img{float:left;width:70px;height:70px;border: 1px solid #eee;text-align: center;padding: 0;position: relative;margin-right: 10px;}
.solution .content table .td2 .img .file{width:70px;height:70px;opacity: 0;z-index: 999;position: absolute;top:0;left:0;}
.solution .content table .td2 .img span{line-height: 66px;font-size: 45px;font-weight:normal;color:#eee;}
.solution .content table .td2 .img img{position: absolute;top:0;left:0;width:70px;height:70px;z-index: 99;}

.solution .content table .td2 .email,.solution .content table .td2 .phone{border:1px solid #eee;height: 30px;width:200px!important;padding-left: 10px;}
.solution .content table .td2 .input{border:1px solid #eee;height: 30px;width:200px!important;padding-left: 10px;}
.solution .content table .td2 .price{border:1px solid #eee;height: 30px;width:200px!important;padding-left: 10px;}
.solution .content table .td2 .trackingNumber{border:1px solid #eee;height: 30px;width:200px!important;}

.solution .content table .td2 .ticket1{display: inline-block;}
.solution .content table .td2 textarea{    display: inline-block;
    float: left;
    border: 1px solid #eee;
    width:80%;
}

.solution .content table .td2 .ticket1{width:115px;float:left;margin: 40px 5px 0 5px;}
.solution .content table .td2 .ticket1 .up{background: url(../img/8_1.png) no-repeat;width:115px;height:83px;}
.solution .content table .td2 .ticket1 .up .img{background: url(../img/9_1.png) no-repeat;width:20px;height:20px;float:left;margin: 34px 10px 0 28px;border: 0;}
.solution .content table .td2 .ticket1 .up p{color:#348284;font-size: 14px;padding-top: 33px;float:left;}
.solution .content table .td2 .ticket1 .down{background: #f9f9f9;height:50px;padding-top: 20px;}
.solution .content table .td2 .ticket1 .down a{border: 1px solid #74d2d4;color:#74d2d4;width: 100px;height:20px;margin: 0 auto;display: block;text-align: center;border-radius: 3px;line-height: 20px;}
.solution .content table .td2 .ticket1 .down p{border: 1px solid #74d2d4;color:#74d2d4;width: 100px;height:20px;margin: 0 auto;display: block;text-align: center;border-radius: 3px;line-height: 20px;}
.solution .content table .td2 .active{border: 1px solid #ff7238;}

.solution .content .btn a{display: inline-block;width:100px;height:30px;line-height: 30px;text-align: center;color:#fff;font-size: 14px;background: #50b7b4;}

.solution .content table label{padding-left: 10px;}

@media screen and (max-width:414px){
    .solution .title{font-size: 18px;margin: 15px;}
    .solution .content{width: 95%;}
    .solution .content table .td1{width: auto;font-weight: bold;white-space: nowrap;
        text-overflow: ellipsis;}

    .solution .content table .td2 .select{width:100px!important;}
    .solution .content table .td2 .img .file{width:50px;height:50px;}
    .solution .content table .td2 .img{width:50px;height:50px;}
    .solution .content table .td2 .img span{line-height: 43px;}

    .solution .text{font-size: 12px;}
    .solution .content table{font-size: 12px;}
}
