<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bui</title>
    <link href="/js/bui/css/page-min.css" rel="stylesheet" type="text/css" />
    <link href="/js/bui/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/js/bui/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/js/bui/css/main-min.css" rel="stylesheet" type="text/css" />
    <style>
        .span6 {
            width: 260px;
            margin-left: 0;
            height: 27px;
            background-color: #fff;
            margin-top: 3px;
        }
        .bui-select .bui-select-input {
            _border: 1px solid #c3c3d6;
            border-right: none;
            vertical-align: middle;
            outline: none;
            _height: 22px;
            _padding: 1px 4px;
            width: 96px;
        }
        .form-horizontal .control-label{
            float:left;
            text-align:right;
            width:98px;
        }
        .bui-select-list {
            overflow: auto;
            max-height: 220px;
        }
        .span10 {
            width: 523px;
            float: left;
            margin-left: 0;
            height: 27px;
            background-color: #fff;
            margin-top: 2px;
            margin-right: 8px;
        }
        .span1 {
            width: 1085px;
            float: left;
            margin-left: 10px;
            height: 1px;
            background-color: lightgray;
        }
        .span0 {
            width: 1px;
            float: left;
            height: 30px;
            background-color: lightgray;
        }
        .span2 {
            width: 1px;
            float: left;
            height: 29px;
            margin-left: 575px;
            background-color: lightgray;
        }
        .span8 {
            width: 310px;
            margin-top: 8px;
        }
        .controls-multi{
            float:left;
            text-align:right;
            width:98px;
        }
        select.input-normal {
            width: 74px;
            margin-left: 33px;
            font-family: inherit;
        }
        input[type="text"] {
            width: 117px;
        }
        input[type="text_fundid"] {
            width: 392px;
        }
        .bui-tree-list {
            background-color: #fff;
            border: 1px solid #c3c3d6;
            height: 220px;
            overflow: auto;
            width: 396px;
        }
        button, input[type="button"], input[type="reset"], input[type="submit"] {
            cursor: pointer;
            font-size: 100%;
        }
    </style>

</head>
<body>

<div class="container">
    <div class="search-grid-container">
        <div id="grid" style="margin-top: 10px;"></div>
    </div>
</div>
<script type="text/javascript" src="/js/bui/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/js/bui/js/bui.js"></script>
<script type="text/javascript" src="/js/bui/js/config.js"></script>
<script type="text/javascript">
    //BUI.use('common/page');
    BUI.use(['bui/data','bui/grid'],function (Data,Grid) {


        var Mask = BUI.Mask;
        var loadMask = new Mask.LoadMask({
            el : 'body',
            msg : 'loading ....'
        });

        var columns = [
            {title:'基金账号',dataIndex:'r_fundacct',width:60,elCls:'center'},
            {title:'交易账号',dataIndex:'r_tradeacco',width:60,elCls:'center'},
            {title:'客户姓名',dataIndex:'r_invnm',width:60,elCls:'center'},
            {title:'资金渠道',dataIndex:'r_banknm',width:60,elCls:'center'},
            {title:'资金来源',dataIndex:'r_cashfromNm',width:60,elCls:'center'},
            {title:'资金模式',dataIndex:'r_capitalmodeNm',width:60,elCls:'center'},
            {title:'委托方式',dataIndex:'r_accptmdNm',width:60,elCls:'center'},
            {title:'托管网点',dataIndex:'r_branchcodeNm',width:60,elCls:'center'},
            {title:'客户类型',dataIndex:'r_custstNm',width:60,elCls:'center'},
            {title:'基金简称',dataIndex:'r_fundidNm',width:60,elCls:'center'},
            {title:'收费方式',dataIndex:'r_sharetypeNm',width:60,elCls:'center'},
            {title:'业务类型',dataIndex:'r_apkindNm',width:60,elCls:'center'},
            {title:'具体业务类型',dataIndex:'r_subapkindNm',width:90,elCls:'center'},
            {title:'目标基金',dataIndex:'r_ofundidNm',width:60,elCls:'center'},
            {title:'申请日期',dataIndex:'r_workdate',width:60,elCls:'center'},
            {title:'下单日期',dataIndex:'r_apdt',width:60,elCls:'center'},
            {title:'下单时间',dataIndex:'r_aptm',width:60,elCls:'center'},
            {title:'申请金额',dataIndex:'r_subamt',width:60,elCls:'right',summary:true},
            {title:'申请份额',dataIndex:'r_subquty',width:60,elCls:'right',summary:true},
            {title:'确认金额',dataIndex:'r_ackamt',width:60,elCls:'right',summary:true},
            {title:'申请状态',dataIndex:'r_applystNm',width:60,elCls:'center'},
            {title:'支付状态',dataIndex:'r_paystNm',width:60,elCls:'center'},
            {title:'RTTA状态',dataIndex:'r_transstNm',width:80,elCls:'center'},
            {title:'折扣率',dataIndex:'r_commro',width:50,elCls:'center'},
            {title:'是否追加质押',dataIndex:'r_isaddNm',width:90,elCls:'center'},
            {title:'申请流水号',dataIndex:'r_serialno',width:80,elCls:'center'},
            {title:'银行卡号',dataIndex:'r_bankacco',width:60,elCls:'center'}
        ];

        var data = [
            {r_fundacct:'123',r_tradeacco:'22'},
            {r_fundacct:'123',r_tradeacco:'22'},
            {r_fundacct:'123',r_tradeacco:'22'}
            ];

        if(data.length !== 0){
            $('#grid').css({overflow:'auto'});
        }

        var store = new Data.Store({
                data : data,
                autoLoad: true
            }),
            grid = new Grid.Grid({
                render:'#grid',
                columns : columns,
                width: '100%',
                loadMask: true, //加载数据时显示屏蔽层
                emptyDataTpl:'<div class="centered" style="padding:20px;"><h2>无数据</h2></div>',//空数据模板
                plugins : [Grid.Plugins.Summary],
                store : store,
                // 底部工具栏
                bbar:{
                    pagingBar:true,
                    width: '100%'
                }
            });

        grid.render();


    });
</script>

</body>
</html>