*{
	margin: 0px;
	padding:0px;
}

#main{
	position:relative;
}

.box{
	padding:5px;
	float:left;
}

.bo_img{
	padding:5px;
	border:1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
	border-radius: 5px;
}

.bo_img img{
	width:150px;
	height:auto;
}

#div2{
	width: 100%;
	height: 50px;
	padding:10px;
	position:absolute;
	display: none;
}

#div3{
	width: 400px;
	height: 40px;
	background:orange;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	
}