@charset "UTF-8";
.bg{background:#f6f6f6;}
.skin{  background-color: #222222!important;  }

.re_main{padding: .5rem;background: #fff;overflow: hidden;}
.re_main .step{clear: both;padding-bottom: 1.28rem;height:1.28rem; }
.re_main .step .left{float:left;position: relative;margin-left: .353rem;margin-top: 0.2rem;}
.re_main .step .right{float:left;margin-left: .653rem;}

.re_main .step .left p{width:.853rem;height:.853rem;background: #fb5c5f;color:#fff;line-height: .853rem;text-align: center;border-radius: 50%;}
.re_main .step .left .red{background: #fb5c5f;}
.re_main .step .left .gray{background: #a0a0a0;}
.re_main .step .left .line{width:2px;height:2.133rem;position: absolute;left:50%;margin-left: -1px;z-index: 999;}

.re_main .step .right{width:7rem;height:1.2rem;border:1px solid #8d8d8d;text-align: center;line-height: 1.2rem;background: #e8e8e8;}
.re_main .step .right .p1{font-size: .64rem;color:#333;}
.re_main .step .right .p1 strong{color:#fb5c5f;}
.re_main .step .right .p2{color:#666666;font-size: .5546rem;margin-top: .60rem;}


.center{width:3rem;height:2px;background: #a0a0a0;font-size: 1px;float:left;margin-top: .56rem;}

.re_main .step .proper{
    background: url(../img/icon_on.png) no-repeat;
    background-size: contain;
    width: .64rem;
    height: .64rem;
    display: inline-block;
    float:left;
    margin-top: .3rem;
    margin-left: .3rem;
}
.btn{padding:0.5rem 1rem;background:#f6f6f6;display: flex;display:-webkit-flex;align-items: center;justify-content: center;flex-wrap: wrap;}
.btn button{background: #fff;color:#666;height:1.2rem;border-radius: 3px;padding: 0 .4rem;margin-right: .3rem;margin-bottom:.3rem;border: 0.05rem solid #d7d7d7;}

.btn_bk{background: #c73e31!important;color: #fff!important;}

.none .img {
    background: url(../img/none.png) no-repeat;
    background-size: contain;
    width: 3.925rem;
    height: 4.096rem;
    margin: 3rem auto 1rem;
}
.none p {
    color: #999999;
    text-align: center;
    font-size: .59rem;
}

.zhezhao{display:none;position:absolute;top:0;left:0;background:#000;opacity: 0.4;width:100%;height:100%;z-index: 22;}
.close{background:url(../img/close.png) no-repeat;width:.64rem;height:.64rem;background-size:contain;position: absolute;top:.64rem;right:.64rem;cursor:pointer;}

.turn_tan{display:none;position: absolute;left:50%;top:50%;margin-top:-4.2rem;margin-left: -6.97rem;background: #fff;width:13.952rem;z-index: 99;border-radius: 7px;}
.tan_top{height: 1.92rem;font-size: .64rem;color:#000;text-align: center;line-height: 1.92rem;border-bottom: 1px solid #eee;}
.tan_p{text-align: center;color:#666;font-size: .6rem;margin-top: .74rem;margin-bottom: 1.0rem;padding: 0 .64rem;display: -webkit-box;overflow: hidden;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}


/*
查询*/
.info_top{padding: .5rem;color:#666666;font-size: .512rem;}
.info_section{padding: 0 .64rem;background:#fff;}
.info_text{position:relative;padding: .60rem 0;font-size: .59rem;color:#000;border-bottom: 1px solid #eee;display: flex;display: -webkit-flex;}
.info_text_card p{flex:3;-webkit-flex:3;color:#666666;}
.info_text span{flex: 1;-webkit-flex:1;letter-spacing: normal}
.info_text .flex{flex: 1;-webkit-flex:1;position: relative;margin-right: .7rem;}
.info_text input{font-size: .59rem;flex:3;-webkit-flex:3;}
.info_text2 input{font-size: .59rem;flex:2;-webkit-flex:2;}
.info_text3 input{font-size: .59rem;flex:2;-webkit-flex:2;}
.img_code span{display: flex;display: -webkit-flex;align-items: center;-webkit-align-items: center;}
.img_code{padding:.20rem 0;}
/*.info_text3 input::-webkit-input-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}
.info_text3 input:-moz-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}
.info_text3 input::-moz-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}
.info_text3 input:-ms-input-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}*/
.info_text select{font-size: .64rem;flex:3;-webkit-flex:3;}
.info_text .veriCode{font-size: .64rem;flex:3!important;-webkit-flex:3!important;display: flex;display: -webkit-flex;}
.info_text .veriCode input{font-size: .64rem;flex:1!important;-webkit-flex:1!important;width:60%;}
.info_text a{font-size: .54rem;width:40%;border-left: 1px solid #999;padding-left: .60rem;}

.selc:after{
    content: "";
    position: absolute;
    right: 0.605rem;
    top: 50%;
    width: 8px;
    height: 8px;
    border-left: 3px solid #aaaaaa;
    border-bottom: 3px solid #aaaaaa;
    -webkit-transform: translateY(-50%) rotate(-135deg);
    -ms-transform: translateY(-50%) rotate(-135deg);
    -o-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
}

.del{
    display: none;
    position: absolute;
    top:10%;
    right:0;
    width:1.2rem;
    height:1.5rem;
}
.del i{
    display: block;
    background: url(../img/del.png) no-repeat;
    background-size: contain;
    width:.84rem;
    height:.84rem;
    margin: .4rem auto 0;
}

.go_back{position: absolute;left: .8rem;top: 3%;color: #fff;font-size: .584rem;}
.info_section{clear:both;}
.inqu{height:1.52rem;line-height:1.52rem;background: #c73e31;color:#fff;margin:.3rem auto;width:100%;border-radius: 4px;}

.info_section .table3 td:first-child{width:50%!important;text-align: left;}
.info_section .table3 td{width:25%;text-align: left;}

.info_section table td:first-child{width:30%;text-align: left;}
.info_section table td:last-child{width:44%;text-align: left;word-break:break-all;word-wrap:break-word;}
/*.info_section table td{display: flex;flex: 1;justify-content: center;align-items: center;}*/
.info_section table .str{font-weight: bold;}

.info_section table{font-size: .512rem;width: 100%;border: none;}
.info_section table tr{border-bottom: 1px solid #efefef;border-top:none;border-collapse: collapse;}
.info_section table th{color:#000;height: 1.49rem;text-align: left;}
.info_section table td{color:#666;text-align: center;padding:0.4rem 0;}

.mar{padding:0 .64rem .3rem;margin-bottom: .20rem;margin-top: .64rem;}

.info_con{overflow: hidden;border-bottom: 1px dashed #e4e4e4;font-size: .554rem;line-height: .955rem;padding-bottom: .64rem;}
.info_section .left,.info_section .right{float:left;font-size: .512rem}
.cle{clear: both;}
.info_section .right{float: right;margin-right: .7rem;}
.info_bottom{overflow: hidden;}
.info_bottom .unlock{height:1.2rem;text-align:center;line-height:1.2rem;font-size:.6rem;background: #c73e31;color:#fff;margin:.3rem auto 0;width:2.5rem;border-radius: 4px;float: right;}

.h3{font-size: .64rem;font-weight: normal;padding:.554rem .64rem .4rem;}



.info_tan{display:none;width:12.8rem;background: #fff;border-radius: 5px;position: absolute;top:50%;left:50%;margin-left: -6.4rem;margin-top:-2.6rem;z-index: 99;}
.info_tan_top{color:#000;font-size: .60rem;padding:1.067rem 1.000rem .83rem 1.000rem;border-bottom: 1px solid #eee;}
.define{font-size: .64rem;color:#0070fa;line-height: 1.75rem;}
.cancel{font-size: .64rem;color:#0070fa;line-height: 1.75rem;border-right: 1px solid #eee;}
.define_btn{text-align: center;display: flex;display: -webkit-flex;}
.define_btn a{flex: 1;-webkit-flex:1;}
.tc{text-align: center;}
.pb20{padding-bottom: 1.20rem!important;}

.unlock_tan{
    display: none;
    background: #a2a4a3;
    color: #fff;
    text-align: left;
    padding: .64rem;
    position: absolute;
    top: 40%;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 0.9rem;
    font-size: .64rem;
    overflow: hidden;
}
.unlock_tan p{color:#fff;font-size: .64rem;}


.fund_btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    border-top: 1px solid #eee;
}
.fund_btn a {
    height: 2.13rem;
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    font-size: .755333rem;
    color: #000;
}

.focus{color: #c73e31!important;}

.fund_btn .border_left {
    border-left-color: #eee !important;
}

.fund_btn .border_left {
    border-left: 1px solid #eee;
}

.con{display: none;margin-bottom: 2.5rem;}

.reset,.overrule{float:right;}

.overrule{height:1.2rem;text-align:center;line-height:1.2rem;font-size:.6rem;background: #fff;color:#c73e31;border:1px solid #c73e31;margin:.3rem auto 0;width:2.5rem;border-radius: 4px;}
.reset{height:1.2rem;text-align:center;line-height:1.2rem;font-size:.6rem;background: #c73e31;color:#fff;margin:.3rem 0 0 .554rem;width:2.5rem;border-radius: 4px;}

.flex2{flex:2!important;-webkit-flex: 2!important;}

.title h3{display: block;float:left;}
.add{display:block;height:1.2rem;text-align:center;line-height:1.2rem;font-size:.6rem;background: #fff;color:#c73e31;border:1px solid #c73e31;width:2.5rem;border-radius: 4px;float:right;margin: .3rem .64rem 0 0;}

/*
提示页面*/

.pro_img{width:5.37rem;height: 2.21rem;margin: 3.1rem auto 2.1rem;}
.pro_img .img{float: left;background: url(../img/ico1.png) no-repeat;background-size:contain;width:2.21rem;height: 2.21rem; }
.pro_img p{font-size: .7rem;font-weight: bold;float: left;margin-top: .6rem;margin-left: .3rem;}
.pro_text{margin-top: .64rem;}
.pro_text p{text-align: center;font-size: .554rem;line-height: 1.2rem;}
.pro_p1{text-align: center;font-size: .554rem;padding:.8rem 0;}
.pro_p2{text-align: center;font-size: .554rem;padding:.8rem 0;color:#c73e31;width: 60%;margin: 0 auto;}

.info_text i{color:#c73e31;}


/*
TA流程图*/

.process001{
    padding-left: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    position: relative;z-index: 3;
    width: 70%;
    margin:0 auto;
}
.line{width:0.25rem;height:26.8rem;background:#eeeeee;position: absolute;left:3.35rem;top:3.5rem;z-index: 1;}
.process001 .pro{clear:both;overflow: hidden;}
.process001 .pro .zx{float:left;display: inline-block;padding-right: 0.5rem;line-height: 2.3rem;color:#999999;}
.process001 .pro .round,.process001 .pro .bg{float:left;}
.process001 .pro .round{position:relative;width:0.65rem;height:0.65rem;background:#e6e6e6;border-radius: 50%;margin-left:0.15rem;margin-top: 0.7rem;margin-right: 0.65rem;}

.process001 .pt20{padding-top:1rem;}
.process001 .pt10{padding-top:0.5rem;}

.process001 .pro .bg{padding:0.5rem;position: relative;margin-left: .15rem;}
.process001 .pro .bg .box{background:#fff;position:relative;z-index:99;border: 0.05rem solid #d7d7d7;color:#666;font-size: 0.59rem;height:1.06rem;width:3.96rem;border-radius: 0.25rem;text-align: center;line-height: 1.06rem;}
.process001 .pro .bg:before{content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -0.5rem;
    top: 0.65rem;
}
.process001 .pro .up:after{content: "";
    display: block;
    width:0.12rem;height:2.5rem;background:#eeeeee;
    position: absolute;
    left: 0.26666rem;
    top: -2.6rem;
    z-index: 1;
}
.process001 .pro .down:before{content: "";
    display: block;
    width:0.12rem;height:2.5rem;background:#eeeeee;
    position: absolute;
    left: 0.26666rem;
    top: 0.69rem;z-index: 1;
}
.process001 .mt10{margin-top: 0.5rem;}
.process001 .ml10{margin-left: 0.5rem;}

.process001 .zxz .bg{background:#ffead8;padding:0.5rem;border-radius: 0.5rem;}
.process001 .zxz .bg:before{border-right: 0.6rem solid #ffead8;  }
.process001 .zxz .bg .box{background: #fff;}
.process001 .zxz .bg .colR,.process001 .wzx .bg .colR{background: #eb0a0a;border:0.05rem solid #eb0a0a;color:#fff}
.process001 .zxz .bg .colY,.process001 .wzx .bg .colY{border:0.05rem solid #ff7414;color:#ff7414}
.process001 .zxz .bg .colB,.process001 .wzx .bg .colB{background: #fff;border:0.05rem solid #d7d7d7;color:#666666}
.process001 .zxz .round{background:#ff7414;border: 0.15rem solid #ffc7a1;margin-top: 0.65rem;margin-left: 0;animation:changeRound .5s ease .2s infinite alternate running;}
.process001 .zxz .zx{color:#f17d26;}
.process001 .zxz .up:after{ top: -2.66rem; }
.process001 .zxz .down:before{ top: 0.78rem; }

@keyframes changeRound {
    0%{
        border: 0.15rem solid #ffc7a1;
    }
    100%{
        border: 0.15rem solid #fff;
    }
}


.process001 .wzx .zx{color:#666666;}
.process001 .wzx .bg{border-radius: 0.5rem;}
.process001 .pl2 .bg:before,.process001 .fl2 .bg:before,.process001 .fl3 .bg:before,.process001 .fl4 .bg:before{border-right: 0.6rem solid #fff9f4;  }
.process001 .wzx .bg .box{background:#fff;}
.process001 .wzx .round{background:#e6e6e6;}

.process001 .pl2 .bg,.process001 .fl2 .bg,.process001 .fl3 .bg,.process001 .fl4 .bg{background:#fff9f4;}
.process001 .fl2 .bg .box{clear:both;}
.process001 .fl2 .zx{line-height: 3.6rem;}
.process001 .fl2 .round{margin-top: 1.5rem;}
.process001 .fl2 .bg:before{top:1.4rem;}

.process001 .fl3 .bg .box{clear:both;}
.process001 .fl3 .zx{line-height: 5.3rem;}
.process001 .fl3 .round{margin-top: 2.3rem;}
.process001 .fl3 .bg:before{top:2.2rem;}
.process001 .fl3 .down:before{height:3.5rem;}
.process001 .fl3 .up:after{height:3.5rem;top: -3.5rem;}

.process001 .fl4 .bg .box{clear:both;}
.process001 .fl4 .zx{line-height: 7.0rem;}
.process001 .fl4 .round{margin-top: 3.0rem;}
.process001 .fl4 .bg:before{top:3.0rem;}
.process001 .fl4 .down:before{height:4.2rem;}
.process001 .fl4 .up:after{height:4.5rem;top: -4.69rem;}


.proper {
    background: url(../img/icon.png) no-repeat;
    background-size: contain;
    width: .64rem;
    height: .64rem;
    display: inline-block;
    float: left;
    margin-top: .7rem;
    margin-left: .3rem;
}

.mt0{margin-left: 0!important;}

.clear_time{margin: .4rem auto;font-size: .54rem;color:#666;}
.clear_time p{text-align: center;}

.for_pro h3{height:1.593rem;line-height: 1.593rem;font-size: .68rem;color:#000;font-weight:normal;border-bottom: 1px solid #e7e7e7;padding-left: .64rem;}
.for_pro{background: #fff;margin-top: .445rem;}
.for_pro .pro_details{margin-left:.64rem;display: flex;display: -webkit-flex;justify-content: center;align-items: center;-webkit-justify-content: center;-webkit-align-items: center;font-size: .59rem;color:#666;border-bottom: 1px solid #e7e7e7;}
.for_pro .pro_details .p1{flex:1;-webkit-flex:1;margin-right: .64rem;padding: .54rem 0;}


.to_right{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    -webkit-transform:  rotate(-45deg);
    -o-transform:  rotate(-45deg);
    -ms-transform:  rotate(-45deg);
    transform:  rotate(-45deg);
    float: right;
}

.pro_details .focus .to_right{
    border-right: 2px solid #c73e31!important;
    border-bottom: 2px solid #c73e31!important;
}



/*民生银行*/
.mt0{margin-top: 0!important;}
.pl0{padding-left: 0!important;}
.tc{text-align: center!important;}
.tr{text-align: right!important;}
.tl{text-align: left!important;}
.comp_section{margin-top: .427rem;background: #fff;overflow: hidden;}
.comp_section h3{height: 1.706rem;  line-height: 1.92rem;  font-size: .59rem;  color: #000;  font-weight: normal;  border-bottom: 1px solid #e7e7e7;  padding-left: .64rem;}
.comp_section h3 strong{color:#666666;font-size: .554rem;margin-left: .2rem;}
.comp_section .comp_info{margin: 0 .64rem;font-size: .59rem;color: #666;padding: .426rem 0 .34rem 0;}
.comp_section .comp_info p{margin-bottom: .32rem;}
.pie{width:100%;height: 10rem;}


.dis_flex{display: flex;display:-webkit-flex;align-items: center;-webkit-align-items: center;}
.flex_1{flex:1;-webkit-flex: 1;}
.flex_2{flex:2;-webkit-flex: 2;}
.flex_3{flex:3;-webkit-flex: 3;}
.flex_4{flex:4;-webkit-flex: 4;}
.dis_info,.dis_info2{color:#666;padding: .426rem .64rem;font-size: .554rem;border-bottom:1px solid #efefef;}
.dis_title,.dis_pr:last-child{color:#000!important;background:#fff!important;}
.dis_title.pd{padding: .2rem .64rem;}
.dis_info.pd{padding: .2rem .64rem;}
.bg_color{background: #f6f6f6;}
.dis_info:nth-child(2n){background: #f6f6f6;}
.rules .dis_info{background: #fff;}

.dis_pr{clear: left;display: block;height: 1.72rem;}
.dis_pr .flex_1{width: 30%;float: left;line-height: 1.72rem;}
.dis_pr .flex_2{width: 40%;float: left;line-height: 1.72rem;}
.dis_pr .flex_3{width: 30%;float: left;line-height: 1.72rem;}
.lineNo{line-height: 1rem!important;}

.cmbc .info_con{border-bottom: none;color:#666;padding:.4rem .64rem;}
.cmbc .info_con p{line-height: 1.2rem;}
.comp_section a11{color:#0c7ec4;text-decoration: underline;}

.comp_section .left,.comp_section .right{float:left;font-size: .512rem}
.comp_section .right{float: right;margin-right: .7rem;}

.pie_text{text-align: center;padding: .2rem 0;font-size: .554rem;}
.data_text {
    font-size: .554rem;
    color: #666;
    text-align: center;
    height: 1.4933rem;
    line-height: 1.49333rem;
}
.info_con strong{color:#fb5c5f;}
.comp_section a:visited{text-decoration: none;}