/**
 * ui-box 基本样式
 * @authors 	Inman Shaw
 * @date 		2014-05-28 17:12:01
 * @version 	1.0.0
 *
 * demo
style 1:
<div class="ui-box">
	<div class="ui-box-hd"></div>
	<div class="ui-box-bd"></div>
</div>

style 2:
<div class="ui-box">
	<div class="ui-box-hd"></div>
	<div class="ui-box-left"></div>
	<div class="ui-box-right"></div>
</div>

ui-box-hd 可选
支持三种布局：
1. 上下两块
2. “品”字形
3. 单独一块
 */
.ui-box{margin-bottom: 10px;border: 1px solid #e6e6e6;color: #333;line-height: 1.9;}
.ui-box:after{content:"."; height:0; line-height:0; font-size:0; display:block; clear:both; visibility:hidden;}
.ui-box .ui-box-hd{padding: 0 20px;height: 33px;line-height: 33px;font-size: 16px;border-bottom: 1px solid #e6e6e6;background-color: #f4f4f4;}
.ui-box .ui-box-bd{padding: 20px;}
.ui-box .ui-box-left{width: 17.8%;float: left;padding:1.53em 0 0 1.53em;}
.ui-box .ui-box-right{margin-left: 19.8%;padding: 20px;border-left: 1px solid #e6e6e6;}