/**
 * 垂直导航样式
 * @authors 	Inman Shaw
 * @date 		2014-05-28 17:33:35
 * @version 	1.0.0
 *
 * html
<ul class="ui-menu-vertical">
	<li class="ui-mv-item ui-mv-active"><a href="#">item_1</a></li>
	<li class="ui-mv-item"><a href="#">item_2</a></li>
	<li class="ui-mv-item"><a href="#">item_3</a></li>
</ul>
 *
 */
.ui-menu-vertical{font-size: 14px;color: #333}
.ui-menu-vertical .ui-mv-item{height: 30px;line-height: 30px;padding-left: 20px;}
.ui-menu-vertical .ui-mv-item a{display: block;color: #333;text-decoration: none;}
.ui-menu-vertical .ui-mv-item a:hover{display: block;text-decoration: underline;}
.ui-menu-vertical .ui-mv-active{background-color: #e6e6e6;}
.ui-menu-vertical .ui-mv-active a:hover{text-decoration: none;}
