/**
 * ui-pager
 * @authors 	Inman Shaw
 * @date 		2014-06-13 14:00:34
 * @version 	1.0.0
 */

.ui-pager{font-size: 0;padding: 10px 0;}
.ui-pager form{display: inline-block;font-size:13px;margin-left: 10px;vertical-align: top;line-height: 25px;}
.ui-pager-lnks{border: 1px solid #e7e7e7;display: inline-block;vertical-align: top;}
.ui-pager-lnks a, .ui-pager-lnks span{font-size:13px;display: inline-block;height: 23px;line-height: 23px;padding: 0 10px;border-left: 1px solid #e7e7e7;margin-left: -1px;}
.ui-pager-lnks a{color: #3355aa}
.ui-pager-lnks a:hover{color: #3355aa;text-decoration: underline;}
.ui-pager-lnks span{cursor: default;background-color: #eee;color: #999}

.ui-pager .ui-pager-input{height: 15px;line-height: 15px;padding: 4px 3px;border: 1px solid #c0c0c0;width: 42px;vertical-align: top;margin: 0 5px;}
.ui-pager .ui-pager-input:focus{outline: 0}
.ui-pager .ui-pager-submit{height: 25px;line-height: 25px;width: 44px;text-align: left;border: 1px solid #e6e6e6;border-radius: 2px;background-color: #f5f5f5;box-shadow: inset 1px 1px 2px #fff;text-align: center;margin-left: 5px;cursor: pointer;vertical-align: top;}