/**
 * ui-step 步骤条
 * @authors 	Inman Shaw
 * @date 		2014-06-03 10:18:58
 * @version 	1.0.0
 */

.ui-step {padding: 0 33px; margin: 0 auto; font-size: 13px; list-style: none; zoom: 1; position: relative; color: #666;} 
.ui-step:after {clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden }
.ui-step li {float: left; height: 55px; margin: 0; width: 50% ; position: relative }
.ui-step .ui-step-info {height: 50px; position: absolute; top: 0; width: 150px; text-align: center; left: -25px;}
.ui-step .ui-step-number {width: 25px;height: 25px;line-height: 25px;font:700 14px/25px arial;color: #fff;text-align: center;background: #d2d2d2;border-radius: 12px;}
.ui-step .ui-step-text {height: 20px; line-height: 20px; margin-top: 5px;position: relative;left: -62.5px;}
.ui-step .ui-step-line {height: 3px;margin: 11px 33px 0 8px;background: #dcdcdc; display: block;border-top: 1px solid #ddd;box-shadow: inset -1px 0 0 rgba(209,209,209,1)}
.ui-step-3 li {width: 33%}
.ui-step-4 li {width: 25%}
.ui-step-5 li {width: 20%}
.ui-step-6 li {width: 16.6%}
.ui-step-active {color: #f26900 }
.ui-step-active .ui-step-number,.ui-step-done .ui-step-number{background: #f70}
.ui-step-done .ui-step-line {background: #f70;border-top: 1px solid #d95f00;box-shadow: inset -1px 0 0 rgba(242,106,0,1);}

