/**
 * 带边框 table 基本样式
 * @authors 	Inman Shaw
 * @date 		2014-05-28 17:00:01
 * @version 	1.0.0
 *
 * html
<table class="ui-border-table">
	<thead>
		<tr>
			<th></th>
			<th></th>
			...
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			...
		</tr>
		...
	</tbody>
</table>

表头背景色：	#ccc
边框颜色：		#e6e6e6
 *
 */
.ui-border-table{width: 100%;border: 1px solid #e6e6e6;color: #333;border-collapse: collapse;}
.ui-border-table tr{background-color: #fff;}
.ui-border-table th{padding: 8px;border: 1px solid #e6e6e6;background-color: #ccc;font-size:14px}
.ui-border-table td{padding: 8px;border: 1px solid #e6e6e6;}
.ui-border-table tr:nth-of-type(even){background: #f4f4f4;}