<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>window.name</title>
</head>
<body>
<script>
  //var a = {"a":"22","b":"2323"};
  window.name='{"a":"22","b":"2323"}';
</script>
</body>
</html>