<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <style>
        input{padding:0;margin:0;}
    </style>
</head>
<body>
    <div style="overflow: hidden;padding: 20px 30px;">
        <span style="display: block;float:left;line-height: 34px;margin-right: 20px;font-size: 14px;">标题:</span>
        <input type="text" style="height:32px;display: block;float:left;width:425px;border: 1px solid #ccc;text-indent: 10px;">
        <input type="button" value="搜索" style="height:34px!important;width:86px!important;padding:0!important;display: block;float:left;background:#e4bd54;border: none;cursor:pointer;color:#fff;font-size: 14px;line-height: 34px;">
    </div>
    <a href="#">小熊</a>
    <a href="javascript:;">管子</a>
</body>
</html>