<!--header页面-->
<div class="header">
    <div class="content">
        <div class="logo">
            <img src="./../public/img/web_logo.png" alt="logo">
        </div>
        <div class="nav">
            <ul>
                <li><a href="./aboutUs.html" class="on1">关于我们</a></li>
                <li><a href="./solution.html" class="on2">解决方案</a></li>
                <li><a href="./eduSoftware.html" class="on3">教育软件推荐</a></li>
                <li><a href="./information.html" class="on4">资讯中心</a></li>
                <li><a href="./index.html" class="on5">BYOD平台</a></li>
            </ul>
        </div>
        <div class="other">
            <div class="service">
                <a href="#">维修</a>
                <ul>
                    <li><a href="./center.html">维修记录</a></li>
                    <li><a href="javascript:;">维修申请</a></li>
                </ul>
            </div>
            <div class="lan">
                <a href="./../zh/index.html">zh</a>
            </div>
        </div>
    </div>
</div>

<div class="media-header">
    <div class="icon">
        <img src="./../public/img/fenlei.png" alt="">
    </div>
    <div class="address">
        <a class="madd" href="javascript:;">深圳</a><span></span>
        <ul>
            <li data-name="sz">深圳</li>
            <li data-name="sh">上海</li>
        </ul>
    </div>
    <div class="logo">
        <img src="./../public/img/web_logo.png" alt="logo">
    </div>
    <div class="cart"><a href="./cart.html"></a><em class="count"></em></div>
    <div class="user"><a href="./center.html"></a></div>


    <div class="nav">
        <ul>
            <li class="selc"><a href="./aboutUs.html">关于我们</a></li>
            <li class="selc"><a href="./solution.html">解决方案</a></li>
            <li class="selc"><a href="./eduSoftware.html">教育软件推荐</a></li>
            <li class="selc"><a href="./information.html">资讯中心</a></li>
            <li class="selc"><a href="./index.html">BYOD平台</a></li>
            <li class="service"><a href="javascript:;">维修</a>
                <ul>
                    <li class="selc"><a href="./center.html">维修记录</a></li>
                    <li class="selc"><a href="./solution.html">维修申请</a></li>
                </ul>
            </li>
            <li class="selc"><a href="javascript:;">当前语言：中文</a></li>
            <li class="selc loging"><a href="./login.html" >登录</a></li>
            <li class="service mlogined"><a href="javascript:;">个人中心</a>
                <ul>
                    <li class="selc"><a href="./center.html">个人中心</a></li>
                    <li class="selc"><a href="javascript:;" class="signOut">退出登录</a></li>
                </ul>
            </li>
            <li class="selc"><a href="./prefectData.html">完善资料</a></li>
        </ul>
    </div>
</div>