<!--头部登录信息-->
<div class="header-bar">
    <div class="content">
        <span class="welcome"></span>
        <div class="login logined" style="display: none;">
            <a href="javascript:;">MY ACCOUNT</a>
            <ul>
                <li><a href="./center.html">MY ACCOUNT</a></li>
                <li><a href="javascript:;" class="signOut">Log out</a></li>
            </ul>
        </div>
        <div class="login loging"><a href="./login.html">LOGIN/REGISTER</a></div>
        <div class="cart"><a href="./cart.html"><span></span>CART<em class="count"></em></a></div>
        <!--<div class="address">
            <span></span>
            <a class="add" href="javascript:;">SHENZHEN</a>
            <ul>
                <li data-name="1">SHENZHEN</li>
                <li data-name="0">SHANGHAI</li>
            </ul>
        </div>-->
        <!--<div class="login"><a href="javascript:;" data-name="personalCenter">个人中心</a></div>-->

    </div>
</div>