@charset "UTF-8";
.bg{background:#f6f6f6;}
.skin{  background-color: #222222!important;  }

.re_main{padding: .5rem;background: #fff;overflow: hidden;}
.re_main .step{clear: both;padding-bottom: 1.28rem;height:1.28rem; }
.re_main .step .left{float:left;position: relative;margin-left: .353rem;margin-top: 0.2rem;}
.re_main .step .right{float:left;margin-left: .653rem;}

.re_main .step .left p{width:.853rem;height:.853rem;background: #fb5c5f;color:#fff;line-height: .853rem;text-align: center;border-radius: 50%;}
.re_main .step .left .red{background: #fb5c5f;}
.re_main .step .left .gray{background: #a0a0a0;}
.re_main .step .left .line{width:2px;height:2.133rem;position: absolute;left:50%;margin-left: -1px;z-index: 999;}

.re_main .step .right{width:7rem;height:1.2rem;border:1px solid #8d8d8d;text-align: center;line-height: 1.2rem;background: #e8e8e8;}
.re_main .step .right .p1{font-size: .64rem;color:#333;}
.re_main .step .right .p1 strong{color:#fb5c5f;}
.re_main .step .right .p2{color:#666666;font-size: .5546rem;margin-top: .60rem;}


.center{width:3rem;height:2px;background: #a0a0a0;font-size: 1px;float:left;margin-top: .56rem;}

.re_main .step .proper{
    background: url(../img/icon_on.png) no-repeat;
    background-size: contain;
    width: .64rem;
    height: .64rem;
    display: inline-block;
    float:left;
    margin-top: .3rem;
    margin-left: .3rem;
}
.btn{margin:1rem;}
.btn button{background: #fb613e;color:#fff;height:1.2rem;border-radius: 3px;padding: 0 .4rem;margin-right: .3rem;}





/*
查询*/
.info_top{padding: .5rem;color:#666666;font-size: .512rem;}
.info_section{padding: 0 .64rem;background:#fff;}
.info_text{position:relative;padding: .60rem 0;font-size: .64rem;color:#000;border-bottom: 1px solid #eee;display: flex;display: -webkit-flex;}
.info_text_card p{flex:3;-webkit-flex:3;color:#666666;}
.info_text span{flex: 1;-webkit-flex:1;letter-spacing: normal}
.info_text .flex{flex: 1;-webkit-flex:1;position: relative;margin-right: .7rem;}
.info_text input{font-size: .64rem;flex:3;-webkit-flex:3;}
.info_text2 input{font-size: .64rem;flex:2;-webkit-flex:2;}
.info_text3 input{font-size: .64rem;flex:2;-webkit-flex:2;}
.img_code span{display: flex;display: -webkit-flex;align-items: center;-webkit-align-items: center;}
.img_code{padding:.20rem 0;}
/*.info_text3 input::-webkit-input-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}
.info_text3 input:-moz-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}
.info_text3 input::-moz-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}
.info_text3 input:-ms-input-placeholder{flex:2;letter-spacing:0;font-size: .31rem;}*/
.info_text select{font-size: .64rem;flex:3;-webkit-flex:3;}
.info_text .veriCode{font-size: .64rem;flex:3!important;-webkit-flex:3!important;display: flex;display: -webkit-flex;}
.info_text .veriCode input{font-size: .64rem;flex:1!important;-webkit-flex:1!important;width:60%;}
.info_text a{font-size: .54rem;width:40%;border-left: 1px solid #999;padding-left: .60rem;}

.selc:after{
    content: "";
    position: absolute;
    right: 0.605rem;
    top: 50%;
    width: 8px;
    height: 8px;
    border-left: 3px solid #aaaaaa;
    border-bottom: 3px solid #aaaaaa;
    -webkit-transform: translateY(-50%) rotate(-135deg);
    -ms-transform: translateY(-50%) rotate(-135deg);
    -o-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
}

.del{
    display: none;
    position: absolute;
    top:10%;
    right:0;
    width:1.2rem;
    height:1.5rem;
}
.del i{
    display: block;
    background: url(../img/del.png) no-repeat;
    background-size: contain;
    width:.64rem;
    height:.64rem;
    margin: .4rem auto 0;
}

.go_back{position: absolute;left: .8rem;top: 3%;color: #fff;font-size: .584rem;}

.inqu{height:1.52rem;line-height:1.52rem;background: #c73e31;color:#fff;margin:.3rem auto;width:100%;border-radius: 4px;}
.info_section table{width:100%;text-align: center;font-size: .64rem;padding:.3rem 0;}
.info_section table tr{}
.info_section table td{padding:.2rem 0;height: .64rem;border:1px solid #a1a1a1;border-collapse: collapse;flex:1;-webkit-flex:1;}
.info_section table .str{font-weight: bold;}
.mar{padding:.6rem .64rem .3rem;margin-bottom: .20rem;}

.info_con{overflow: hidden;border-bottom: 1px dashed #e4e4e4;font-size: .554rem;line-height: .955rem;padding-bottom: .64rem;}
.info_section .left,.info_section .right{float:left;}
.info_section .left p:first-child{font-size: .59rem!important;}
.info_section .right{margin-top: .9rem;float: right;margin-right: .7rem;}
.info_bottom{overflow: hidden;}
.info_bottom .unlock{height:1.2rem;text-align:center;line-height:1.2rem;font-size:.6rem;background: #c73e31;color:#fff;margin:.3rem auto 0;width:2.5rem;border-radius: 4px;float: right;}

.h3{font-size: .64rem;font-weight: normal;padding:.554rem .64rem .4rem;}

.zhezhao{display:none;position:absolute;top:0;left:0;background:#000;opacity: 0.4;width:100%;height:100%;z-index: 2;}

.info_tan{display:none;width:12.8rem;background: #fff;border-radius: 5px;position: absolute;top:50%;left:50%;margin-left: -6.4rem;margin-top:-2.6rem;z-index: 99;}
.info_tan_top{color:#000;font-size: .60rem;padding:1.067rem 1.000rem .83rem 1.000rem;border-bottom: 1px solid #eee;}
.define{font-size: .64rem;color:#0070fa;line-height: 1.75rem;}
.cancel{font-size: .64rem;color:#0070fa;line-height: 1.75rem;border-right: 1px solid #eee;}
.define_btn{text-align: center;display: flex;display: -webkit-flex;}
.define_btn a{flex: 1;-webkit-flex:1;}
.tc{text-align: center;}
.pb20{padding-bottom: 1.20rem!important;}

.unlock_tan{
    display: none;
    background: #a2a4a3;
    color: #fff;
    text-align: left;
    padding: .64rem;
    position: absolute;
    top: 40%;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 0.9rem;
    font-size: .64rem;
    overflow: hidden;
}
.unlock_tan p{color:#fff;font-size: .64rem;}


.fund_btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    border-top: 1px solid #eee;
}
.fund_btn a {
    height: 2.13rem;
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    font-size: .755333rem;
    color: #000;
}

.focus{color: #c73e31!important;}

.fund_btn .border_left {
    border-left-color: #eee !important;
}

.fund_btn .border_left {
    border-left: 1px solid #eee;
}

.con{display: none;}

.reset,.overrule{float:right;}

.overrule{height:1.2rem;text-align:center;line-height:1.2rem;font-size:.6rem;background: #fff;color:#c73e31;border:1px solid #c73e31;margin:.3rem auto 0;width:2.5rem;border-radius: 4px;}
.reset{height:1.2rem;text-align:center;line-height:1.2rem;font-size:.6rem;background: #c73e31;color:#fff;margin:.3rem 0 0 .554rem;width:2.5rem;border-radius: 4px;}

.flex2{flex:2!important;-webkit-flex: 2!important;}