<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>window.name</title>
</head>
<body>
{"c":"22","d":"2323"}
<script>
    //document.domain = 'http://10.60.103.175:4000';
    //window.name='{"a":"22","b":"2323"}';
</script>
</body>
</html>