@charset "utf-8";
/*header css*/
header{height:1.7rem;line-height: 1.7rem;text-align:center;font-size: 0.7rem;color:#fff;width: 100%;position: fixed;z-index: 1000000000;top:0;left:0;background: #0498e5;}

header a.back{display: inline-block;position: absolute;left: 0.625rem;top: 50%;width: 10px;height: 10px;border-left: 2px solid #fff;border-bottom: 2px solid #fff;-webkit-transform: translateY(-50%) rotate(45deg);-ms-transform: translateY(-50%) rotate(45deg);-o-transform: translateY(-50%) rotate(45deg);transform: translateY(-50%) rotate(45deg);}
header a.close_h{position: absolute;left: 2.525rem;top: 1%;color:#fff;font-size: .7rem;}
header a.back:active{border-color:rgba(255,255,255,.8);}

header a:active{font-weight:bold;}

header strong{font-size: 13px;}

header .detail{position: absolute;right: .5rem;font-size: .56rem;}

body{background: #f0f0f0;}


.mt17{margin-top: 1.7rem!important;overflow: hidden;}
.tc { text-align: center; }

.nav{display: flex;display:-webkit-flex;background: #fff;}
.nav .tab{flex: 1;display:flex;font-size: .59rem;justify-content: center;align-items: center;height:1.87rem;color:#333333;}
.nav .active{color:#0498E5;border-bottom: 1px solid #0498E5;}


.con{background: #fff;margin-top: .30rem;padding: .64rem;display: none;}
.con h3{font-size: .512rem;font-weight: normal;}

.con .zhiVip{background: url(../img/1.png) no-repeat;background-size: contain;width:8.53rem;height:3.73rem;text-align: center;overflow: hidden;margin: .8rem auto 0;}
.con .zhiVip .p1{color:#fff;font-size: .8533rem;margin-top: .93rem;}
.con .zhiVip .p2{color:#fff;font-size: .426rem;}

.con .interest{background: url(../img/2.png) no-repeat;background-size: contain;width:14.93rem;height: 1.685rem;margin: 7.72rem auto 0;}

.con .detail{margin: 1.024rem 0 0 1.74rem}
.con .detail div{margin-top: .2rem;}
.con .detail span{display:block;float: left;margin-top:.16rem;margin-right: .4rem;background: url(../img/3.png) no-repeat;background-size: contain;width:.5973rem;height: .49rem;}
.con .detail p{font-size: .597rem;}

.con .submit{background: #0498E5;width: 100%;height:1.664rem;display: block;color:#fff;text-align: center;line-height: 1.664rem;font-size: .59rem;border-radius: 5px;}
.con .pay{margin-top: 2rem;}



