@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("pub-header-topbar.css");
@import url("pub-header-logo.css");
@import url("pub-footer.css");
@import url("../mod/popup.css");
@import url("../mod/tabs.css");
h2{font-weight: 700;font-size: 2em;padding: 1em 0;}

.content{width: 1000px;margin: 50px auto;min-height: 550px}
.tab-cnt{font-size: 180px;line-height: 400px;color: #fff;text-align: center;font-family: tahoma}
h1{font-size: 10em}



h1{font-size: 1em}




