
/**
 * 网通商场 页面导航
 * @authors 谭子良
 * @date    2014-06-25 10:21:13
 * @version 1.0.0
 */

.pub-nav-list { height: 38px; border-bottom: 2px solid #000;}
.pub-nav-list ul { float: left; margin-left: 20px;}
.pub-nav-list li { float: left;}
.pub-nav-list li a { height: 38px; line-height: 38px; font-size: 16px; font-weight: 700; color: #000; display: block; *display:inline; *zoom:1; padding: 0px 20px; }
.pub-nav-list li a:hover { color: #f30; }
.pub-nav-list li.current a { color: #1896e8; background: #e7f4fc;}