/*
	name: 	商场-页尾-关注
	for: 	pub-footer-attention.html
*/
.wrap-atten{margin-top: 5px;}
.wrap-atten .wrap-atten-inner{border: 1px solid #e6e6e6;text-align: left;height: 60px;padding: 10px;line-height: 1.6;color: #666}
.wrap-atten .wrap-atten-inner .col-left{float: left;width: 60px;}
.wrap-atten .wrap-atten-inner .col-right{margin-left: 70px;}
.wrap-atten .txt{display: inline-block;margin: 0 5px 0 20px;}
.wrap-atten .ico-code_60x60{height: 60px;background: url(../../img/sc/icon/code_60x60.jpg) 0 center no-repeat;}
.wrap-atten .ico-mail_60x60{height: 60px;background: url(../../img/public/icon/64x64/mail_yellow.gif) 0 center no-repeat;}
.wrap-atten .ico-sina_24x24,.wrap-atten .ico-tencent_32x32{margin-left: 10px;display: inline-block;vertical-align: middle;width: 32px;}
.wrap-atten .ico-sina_24x24{height: 24px;background: url(../../img/public/icon/24x24/sina.gif) 0 center no-repeat;}
.wrap-atten .ico-tencent_32x32{height: 32px;background: url(../../img/public/icon/32x32/tencent.gif) 0 center no-repeat;}
.wrap-atten .ui-btn-s3{background-color: #fff;font-size: 14px;width: 76px;padding: 0;}
.wrap-atten .ui-btn-s3:hover{background-color: #f4f4f4;color: #666;}
.wrap-atten .item-1{margin-left: 10%;}
.wrap-atten .item-3{width: 75%;}