/**
 * 网通商场 消费者保障专题 头部LOGO
 * @authors 谭子良
 * @date    2014-05-21 16:46:46
 * @version 1.0.0
 */

.pub-header-product { width: 100%; height: 105px; overflow: hidden;}


/*logo area*/
.pub-header-product .logo {font-size: 0; height: 50px; padding:30px 0px 0px 0px;}
.pub-header-product .logo .logo-split {display:block; width: 1px; height:40px; overflow: hidden; text-indent: -9999px; background: #e1e1e1; float: left; margin: 5px 10px;}
.pub-header-product .logo .lnk-sc{ font:500 30px/30px tahoma,arial,'Microsoft Yahei','SimHei'; color: #666; display: block; float: left; margin-top: 15px;}
.pub-header-product .logo .lnk-sc:hover{color: #f30}

/*search-form-area*/
.pub-header-product .search-area { height: 65px; margin: 15px auto; float: left;}
.pub-header-product .search-tab { width: 100%; height: 25px; overflow: hidden; }
.pub-header-product .search-tab li { float: left; padding: 0px 15px; height: 25px; line-height: 25px; cursor: pointer;}
.pub-header-product .search-tab li.current { float: left; background: #1796e7; color: #fff; border-radius: 3px 3px 0px 0px; cursor: default;}
.pub-header-product .search-cont li { float: left;}
.pub-header-product .search-cont li input.text { width: 440px; height: 26px; line-height:26px; padding:5px; border:2px solid #1e99e7; float: left; color: #999;}
.win-1200 .pub-header-product .search-cont li input.text { width: 488px; }
.win-1400 .pub-header-product .search-cont li input.text { width: 668px; }
.pub-header-product .search-cont li input.focus { color: #333;}
.pub-header-product .search-cont li button { height: 40px; line-height: 40px; padding:0px 15px; background: #1e99e7; float: left; color: #fff; border:none; cursor: pointer; font-size: 18px; border-radius: 0px 3px 3px 0px;}

.pub-header-product .search-cont form { display: none;}
.pub-header-product .search-cont form.current { display: block;}