/**
 * 网通商场 面包屑
 * @authors 谭子良
 * @date    2014-05-23 14:04:48
 * @version 1.0.0
 */

/**
 * 被引用到：
 * /cate-brand.html
 */

.crumbs { width: 100%; height: 24px; overflow: hidden; clear:both; }
.crumbs li { height: 24px; line-height: 24px; color: #666; margin-right:5px; float: left;}
.crumbs li em { color: #f30;}
.crumbs li a { color: #666;}
.crumbs li a:hover { color: #f30;}

.crumbs li .s-option {float: left; height: 22px; line-height: 22px; border:1px solid #bebebe; padding: 0px 5px;}
.crumbs li .s-option .s-option-val { font-weight: normal; font-style: normal; color: #f30; float: left;}
.crumbs li .s-option:hover , .crumbs li .s-option-hover { border:1px solid #f30;}
.crumbs li .s-option a.del { width: 18px; height: 18px; float: left; display: block; background: url(../../img/sc/misc/i_001.png) no-repeat -118px -198px; margin: 2px 0px 0px 5px; text-indent: -9999px;}
.crumbs li .s-option a.del:hover { background: url(../../img/sc/misc/i_001.png) no-repeat -118px -238px;}