/**
 * 商场-页尾
 * @authors 	Inman Shaw
 * @date    	2014-05-22 15:20:00
 * @version 	1.0.0
 */

/**
 * 被引用到：
 * /sc/safeguard.html > pub-footer-3.html
 */
.footer{text-align: center;line-height: 27px;cursor: default;font-size: 12px;color: #666}
.footer .sitemap{width: 940px;margin: 0 auto;padding: 8px 0 17px 60px;text-align: left;border: 1px solid #e6e6e6;color: #666}
.footer .sitemap .container{width: 930px;}
.footer .sitemap dl dt{font-weight: 700;font-size: 14px;}
.footer .sitemap dl dd{font-size: 13px;line-height: 22px;}
.footer .blogroll{width: 1000px;margin: 0 auto;text-align: left;line-height: 18px;padding: 8px 0px;margin-top: 10px;border-top: 1px solid #e6e6e6;}
.footer a{color: #666}
.footer a:hover{color: #f60}

/* 基础页尾 */
.footer-basic {text-align: center;line-height: 27px;cursor: default;font-size: 12px;color: #666}
.footer-basic .auth-lnks{margin-top: 8px;}
.footer-basic .auth-lnks a{display: inline-block;}
.footer-basic .auth-lnks img{display: block;}
.footer-basic .auth-lnks .auth_ss img{width: 95px;height: 50px;}
.footer-basic{ width:1000px; border-top: 1px solid #e6e6e6; margin: 0px auto; padding: 8px 0px;}
.footer-basic a{margin: 0 3px;color: #666}
.footer-basic .copyright, .footer-basic .copyright a{color: #999}
.footer-basic a:hover{color: #f60}

/* 满屏时 .footer.full-border */
.full-border .blogroll{width: 100%;}
.full-border .blogroll .container{width: 930px; padding-left: 70px;}
.full-border .sitemap{width: 100%;padding-left: 0;border-left: 0 none;border-right: 0 none;}
.full-border .sitemap .container{width: 930px; padding-left: 70px;}
.full-border .footer-basic{width: 100%;}


/*底部自适应*/
.win-1200 .container { width:1200px;}
.win-1200 .footer .sitemap{width: 1140px;}
.win-1200 .footer .sitemap .container{width:1130px;}
.win-1200 .footer .blogroll{width: 1200px;}
.win-1200 .footer .main{ width:1200px;}
.win-1200 .full-border .blogroll .container{width: 1130px;}
.win-1200 .full-border .sitemap .container{width: 1130px;}
.win-1200 .footer-basic { width: 1200px;}

.win-1400 .container { width:1400px;}
.win-1400 .footer .sitemap{width: 1340px;}
.win-1400 .footer .sitemap .container{width:1330px;}
.win-1400 .footer .blogroll{width: 1400px;}
.win-1400 .footer .main{ width:1400px;}
.win-1400 .full-border .blogroll .container{width:1330px;}
.win-1400 .full-border .sitemap .container{width:1330px;}
.win-1400 .footer-basic { width: 1400px;}

