/**
 * 商品列表模块
 * @authors 	Inman Shaw
 * @date 		2014-06-09 18:20:46
 * @version 	1.0.0
 */

/* main */
/* 宽度>=1000px */
.mod-plist{margin: 0;}
.mod-plist li{padding: 0;margin: 0 0 13px;}
.mod-plist-img, .mod-plist-img img{display: block;}
.mod-plist-img{background-color: #f4f4f4;}
.mod-plist-img img{width: 100%;}

/* 3列 */
.mod-plist-3{margin-right: -5px;}
.mod-plist-3 .mod-plist-img{border:2px solid #e6e6e6;}
.mod-plist-3 li{margin-right: -2px;}

/* 3列间隙 */
.mod-plist-3-gap{margin: 0 -10px;}
.mod-plist-3-gap li{padding: 0 10px;}

/* 4列 */
.mod-plist-4{margin-right: -3px;}
.mod-plist-4 .mod-plist-img{border:1px solid #e6e6e6;}
.mod-plist-4 li{margin-right: -1px;}

/* 4列间隙 */
.mod-plist-4-gap{margin: 0 -10px;}
.mod-plist-4-gap li{padding: 0 10px;}

/* 5列 */
.col-1-5{width: 20%;float: left;padding: 5px;box-sizing: border-box;min-height: 1px;}
.mod-plist-5{margin-right: -4px;}
.mod-plist-5 .mod-plist-img{border:1px solid #e6e6e6;}
.mod-plist-5 li{margin-right: -1px;}

/* 5列间隙 */
.mod-plist-5-gap{margin: 0 -5px;}
.mod-plist-5-gap li{padding: 0 5px;}

/* details */
.mod-plist-title{padding-top: 7px;}
.mod-plist-title a{font-size: 14px;color: #333}
.mod-plist-price,.mod-plist-sales,.mod-plist-comment{color: #666}

.mod-plist-3 .mod-plist-info,.mod-plist-4 .mod-plist-info,.mod-plist-5 .mod-plist-info{padding-right: 7px;}

.mod-plist-3 .mod-plist-price,.mod-plist-3 .mod-plist-sales,.mod-plist-3 .mod-plist-comment,
.mod-plist-4 .mod-plist-price,.mod-plist-4 .mod-plist-sales,.mod-plist-4 .mod-plist-comment,
.mod-plist-5 .mod-plist-price,.mod-plist-5 .mod-plist-sales,.mod-plist-5 .mod-plist-comment{padding: 1px 5px 1px 0;}

.mod-plist-price del{color: #999;font-size: 14px}
.mod-plist-price strong{font-size: 16px;font-family: arial;color: #f30}
.mod-plist-price span{font-size: 12px;color: #f30}
.mod-plist-comment a{color: #666}

/* 宽度<1000px */
.wrap-small .mod-plist-3-gap,.wrap-small .mod-plist-4-gap{margin: 0 -5px;}
.wrap-small .mod-plist-3-gap li, .wrap-small .mod-plist-4-gap li{padding: 0 5px;}
.wrap-small .mod-plist-3{margin-right: -2px;}
.wrap-small .mod-plist-3 li{margin-right: -1px;}
.wrap-small .mod-plist-3 .mod-plist-img{border-width: 1px;}















