/**
 * 页头 logo
 * @authors 	Inman Shaw
 * @date 		2014-06-11 11:00:00
 * @version 	1.0.0
 */

/* logo */
.logo-section{border-bottom: 3px solid #1895e5;}
.logo-section .logo{font-size: 0;height: 60px;}

/* 网通 */
.logo .lnk-ewt{display: inline-block;padding-right: 10px;margin-right: 10px;border-right: 1px solid #e1e1e1;vertical-align: middle;}
/* logo 大 */
.logo .lnk-ewt img{width: 177px;}
/* logo 中 */
/*.logo-m .lnk-ewt img{width: 150px;height: 43px;}*/
/* logo 小 */
/*.logo-s .lnk-ewt img{width: 120px;height: 35px;}*/


/* 商场 */
.logo .lnk-sc{font:500 30px/30px tahoma,arial,'Microsoft Yahei','SimHei',\5b8b\4f53;color: #666;display: inline-block;vertical-align: bottom;}
.logo .lnk-sc:hover{color: #f30}

/* 商场招商 */
.logo .lnk-sc-zs, .logo .sc-zs-sub{display: inline-block;vertical-align: bottom;}
.logo .lnk-sc-zs{display: none;}
.logo .sc-zs-sub{margin-left: 9px;display: none;}
