
/**
 * 更多 当前小弹窗提示
 * @authors 谭子良
 * @date    2014-06-26 18:14:32
 * @version 1.0.0
 */

.mod-more {display:inline; }
.mod-more .moreText { width:42px; height:20px; line-height:20px; display:inline-block; background:url(../../img/public/icon/16x16/moreTip.gif) no-repeat 32px -42px; color:#35a; font-size:13px; margin:0px 10px; cursor:pointer;}
.mod-more.over .moreText { background:url(../../img/public/icon/16x16/moreTip.gif) no-repeat 32px 8px; color:#f30;}
.mod-more .moreTip { display:none;}
.mod-more.over .moreTip { display:block; position:absolute; padding:10px 15px; border:1px solid #e6e6e6; background:#fff; box-shadow:0px 0px 3px 0px #f7f7f7;}
.mod-more.over .moreTip .sTriangle { width:14px; height:9px; display:block; background:url(../../img/public/icon/16x16/sTriangle.gif) no-repeat;position:absolute; top:-8px; left:16px;}



