
/**
 * 网通商场 列表无数据样式
 * @authors 谭子良
 * @date    2014-06-27 17:11:37
 * @version 1.0.0
 */

.sc-mod-proNoDatas { background: #fff5f2 url(../../img/sc/misc/i_005.gif) no-repeat left center; border: 1px solid #fad6cd; padding: 20px 20px 20px 120px;}
.sc-mod-proNoDatas h2 { width: 100%; font-size: 16px; font-weight: 500; margin-bottom: 10px;}
.sc-mod-proNoDatas p { line-height: 28px; width: 100%; overflow: hidden;}
.sc-mod-proNoDatas .searchWord { color: #f30; margin: 0px 5px;}

.sc-mod-proNoDatas .resetSearch { margin-top: 5px;}
.sc-mod-proNoDatas .resetSearch .ui-input { width: 200px; height: 17px; padding: 3px; border: 1px solid #bdbdbd; color: #999; margin: 0px 4px;}
.sc-mod-proNoDatas .resetSearch input { float: left;}


.misc-guess-recommend { font-size: 16px; color: #000; font-weight: 500; line-height: 30px; height: 30px; padding: 10px 0px;}