
/**
 * 网通商场 产品列表 你浏览过的商品
 * @authors 谭子良
 * @date    2014-06-19 15:50:36
 * @version 1.0.0
 */

.sc-mod-proFooterHistory { border:1px solid #e6e6e6;}

.sc-mod-proFooterHistory .mod-proFooterHistory-head { width: 100%; overflow: hidden; border-bottom: 1px solid #e6e6e6;}
.sc-mod-proFooterHistory .mod-proFooterHistory-title { height: 38px; padding-left: 25px; line-height: 38px; float: left;}
.sc-mod-proFooterHistory .mod-proFooterHistory-pages { float: right; padding-right: 25px;}
.sc-mod-proFooterHistory .mod-proFooterHistory-pages span { float: left; margin:13px 0px 0px 5px; width: 12px; height: 12px; display: block; border-radius: 6px 6px 6px 6px; background: #cdcdcd; text-indent: -9999px;}
.sc-mod-proFooterHistory .mod-proFooterHistory-pages span.current {background:#676767;}

.mod-proFooterHistory-body { padding:20px 25px;}
.mod-proFooterHistory-box { width: 100%; overflow: hidden;}
.mod-proFooterHistory-box ul { width: 9999px;}
.mod-proFooterHistory-box li { float: left; width: 200px; height: 280px; margin-right: 48px;}
.win-1200 .mod-proFooterHistory-box li { margin-right: 38px;}
.win-1400 .mod-proFooterHistory-box li { margin-right: 30px;}

.mod-proFooterHistory-box li .mod-proFooterHistory-img { width: 200px; height: 200px; padding-bottom: 10px;}
.mod-proFooterHistory-box li .mod-proFooterHistory-img img { width: 200px; height: 200px;}


.mod-proFooterHistory-box li .mod-proFooterHistory-price { color: #f30; }
.mod-proFooterHistory-box li .mod-proFooterHistory-price b { font-size: 12px;}
.mod-proFooterHistory-box li .mod-proFooterHistory-price em { font-size: 16px; font-weight: bold; font-family: arial;}
.mod-proFooterHistory-box li .mod-proFooterHistory-del { color: #999;}

.mod-proFooterHistory-box li .mod-proFooterHistory-name a { color: #666; }
.mod-proFooterHistory-box li .mod-proFooterHistory-name a:hover { color: #f30;}