
/**
 * 商场前端 产品列表 右侧掌柜热卖商品
 * @authors 谭子良
 * @date    2014-06-16 13:37:51
 * @version 1.0.0
 */

.sc-mod-proCategory { background: #fff; border: 2px solid #e6e6e6; border-bottom-width: 1px;}
.sc-mod-proCategory-item { background: #f4f4f4; position: relative; border-bottom: 1px solid #e6e6e6;}
.sc-mod-proCategory-name { width: 90px; padding: 15px; float: left; line-height: 24px;}
.sc-mod-proCategory-subitem { margin-left: 120px; padding:15px 135px 15px 15px; background: #fff;}
.sc-mod-proCategory-subitem ul { height: 96px; overflow: hidden;}
.sc-mod-proCategory-subitem ul li { float: left; margin-right: 10px; height: 24px; line-height: 24px;}
.sc-mod-proCategory-subitem ul li a { color: #666; margin-right: 30px;}
.sc-mod-proCategory-subitem ul li a:hover { color: #f30;}
.sc-mod-proCategory-option { position: absolute; right: 10px; top: 15px;}

.win-1200 .sc-mod-proCategory-name { width: 118px; }
.win-1200 .sc-mod-proCategory-subitem { margin-left: 148px; }

.win-1400 .sc-mod-proCategory-name { width: 148px; }
.win-1400 .sc-mod-proCategory-subitem { margin-left: 178px; }

/*更多 按钮*/
a.sc-mod-proCategory-subMore { height: 20px; padding: 2px; display: block; float: left; cursor: pointer;}
a.sc-mod-proCategory-subMore em { color: #666; float: left; display: block; height: 20px; line-height: 20px;}
a.sc-mod-proCategory-subMore b { width: 20px; height: 20px; display: block; float: left; background:url(../../img/sc/misc/i_001.png) no-repeat -180px -196px;}
a.sc-mod-proCategory-subMore:hover em { color: #f30;}
a.sc-mod-proCategory-subMore:hover b { background:url(../../img/sc/misc/i_001.png) no-repeat -180px -236px;}

/*多选 按钮*/
a.sc-mod-proCategory-subMany { height: 20px; padding: 0px 5px; margin: 2px 10px 0px 0px; background: #f4f4f4; display: block; float: left; cursor: pointer;}
a.sc-mod-proCategory-subMany em { color: #666; float: left; display: block; height: 20px; padding-right: 5px; line-height: 20px;}
a.sc-mod-proCategory-subMany b { width: 16px; height: 20px; display: block; float: left; background:url(../../img/sc/misc/i_001.png) no-repeat 0px -316px;}
a.sc-mod-proCategory-subMany:hover em { color: #f30;}
a.sc-mod-proCategory-subMany:hover b { background:url(../../img/sc/misc/i_001.png) no-repeat -30px -316px;}

/*更多分类*/
.sc-mod-proCategory-more { width: 72px; padding: 0px 5px 0px 10px; height: 24px; margin: 0px auto; border: 1px solid #e6e6e6; border-top: none;}
.sc-mod-proCategory-more a { height: 20px; padding: 2px; display: block; float: left; cursor: pointer;}
.sc-mod-proCategory-more a em { color: #666; float: left; display: block; height: 20px; line-height: 20px;}
.sc-mod-proCategory-more a b { width: 16px; height: 20px; display: block; float: left; background:url(../../img/sc/misc/i_001.png) no-repeat -180px -196px;}
.sc-mod-proCategory-more a:hover em { color: #f30;}
.sc-mod-proCategory-more a:hover b { background:url(../../img/sc/misc/i_001.png) no-repeat -180px -236px;}