
/**
 * 网通商场 产品列表 底部搜索
 * @authors 谭子良
 * @date    2014-06-19 15:49:15
 * @version 1.0.0
 */

.sc-mod-proFooterSearch { background:#f4f4f4; width: 100%; padding: 20px 0px; overflow: hidden; margin: 20px auto; text-align: center;}
.sc-mod-proFooterSearch ul { margin: 0px auto; display: inline-block;}
.sc-mod-proFooterSearch li { float: left;}
.sc-mod-proFooterSearch .sc-mod-proFooterSearch-keyword { width: 560px; height: 36px; float: left; line-height: 36px; padding: 0px 10px; font-size: 14px; border:2px solid #1895e5; float: left;}
.sc-mod-proFooterSearch .sc-mod-proFooterSearch-btn { height: 40px; background:#1895e5; color: #fff; font-size: 16px; text-align: center; padding: 0px 15px; border:none; cursor: pointer; border-radius: 0px 3px 3px 0px; }

.win-1200 .sc-mod-proFooterSearch .sc-mod-proFooterSearch-keyword { width: 680px;}
.win-1400 .sc-mod-proFooterSearch .sc-mod-proFooterSearch-keyword { width: 810px;}