
/**
 * 网通商场 店铺列表
 * @authors 谭子良
 * @date    2014-06-20 16:52:21
 * @version 1.0.0
 */

.sc-mod-merchant-item { width: 100%; height: 137px; padding: 20px 0px; border-bottom: 1px solid #e6e6e6;}

/*店铺图标*/
.sc-mod-merchant-item .sc-mod-merchant-logo { width: 100px; height: 100px; overflow: hidden; margin:16px 10px 0px 0px; position: relative; float: left;}
.sc-mod-merchant-item .sc-mod-merchant-logo .sc-mod-merchant-type-01 { width: 20px; height: 20px; position: absolute; display: block; top: 0px; right: 0px; background:url(../../img/sc/misc/i_001.png) no-repeat 0px -80px;}
.sc-mod-merchant-item .sc-mod-merchant-logo .sc-mod-merchant-type-02 { width: 20px; height: 20px; position: absolute; display: block; top: 0px; right: 0px; background:url(../../img/sc/misc/i_001.png) no-repeat -30px -80px;}
.sc-mod-merchant-item .sc-mod-merchant-logo .sc-mod-merchant-type-03 { width: 20px; height: 20px; position: absolute; display: block; top: 0px; right: 0px; background:url(../../img/sc/misc/i_001.png) no-repeat -60px -80px;}
.sc-mod-merchant-item .sc-mod-merchant-logo .sc-mod-merchant-type-04 { width: 20px; height: 20px; position: absolute; display: block; top: 0px; right: 0px; background:url(../../img/sc/misc/i_001.png) no-repeat -90px -80px;}

/*店铺相关说明*/
.sc-mod-merchant-item .sc-mod-merchant-merCont { width: 300px; margin-top: 16px; float: left; }
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot01 { width: 100%; overflow: hidden; height: 25px; line-height: 18px;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot01 a { float: left; font-size: 16px; color: #333;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot01 a:hover { color: #f30;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot01 .sc-mod-merchant-merGrade { padding-left: 10px;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot01 .sc-mod-merchant-merGrade span { width: 16px; height: 16px; display: block; margin: 2px 0px 0px 5px; background:url(../../img/sc/misc/i_001.png) no-repeat -210px -160px; float: left; text-indent: -9999px;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot02 { width: 100%; overflow: hidden; height: 20px; line-height: 18px; color: #666; clear: both;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot02 a { float: left;  color: #666;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot02 a:hover { color: #f30;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot02 .flag-cat { width: 16px; height: 16px; display: block; float: left; margin-left: 5px; background:url(../../img/public/icon/16x16/cat.gif) no-repeat 0px 0px;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot03 { width: 100%; overflow: hidden; height: 24px; line-height: 18px; color: #666; clear: both;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot03 span { float: left;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot03 a { float: left; color: #666; margin-right: 5px;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot03 a:hover { color: #f30; }

.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot04 { width: 100%; clear: both;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot04 .sc-mod-merchant-countBox { float: left; padding-right: 6px; margin-right: 6px; border-right: 1px solid #e6e6e6;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot04 .sc-mod-merchant-countBox01 { display: block; font-family:  Arial; font-size: 12px; line-height: 14px; height: 14px; overflow: hidden; margin-bottom: 2px; color: #000; font-weight: bold;}
.sc-mod-merchant-item .sc-mod-merchant-merCont .sc-mod-merchant-cot04 .sc-mod-merchant-countBox02 { display: block; height: 16px; line-height: 16px; color: #666; overflow: hidden;}

.sc-mod-merchant-moreOptions { width: 20px; height: 20px; background:url(../../img/sc/misc/i_001.png) no-repeat -180px -80px; cursor: pointer; text-indent: -9999px; float: left; margin: 11px 0px 0px 5px;}
.sc-mod-merchant-flags {padding: 0px 5px 0px 10px; float: left;}
.sc-mod-merchant-flags span { width: 20px; height: 22px; display: block; float: left; margin-left: 5px; margin-top: 10px; text-indent: -9999px;}
.sc-mod-merchant-flags span.flag-zp { background:url(../../img/sc/safeguard/ico.png) no-repeat -50px -200px;}
.sc-mod-merchant-flags span.flag-fh { background:url(../../img/sc/safeguard/ico.png) no-repeat -100px -200px;}
.sc-mod-merchant-flags span.flag-7d { background:url(../../img/sc/safeguard/ico.png) no-repeat -150px -200px;}
.sc-mod-merchant-flags span.flag-xb { background:url(../../img/sc/safeguard/ico.png) no-repeat -150px -200px;}
.sc-mod-merchant-flags span.flag-dj { background:url(../../img/sc/safeguard/ico.png) no-repeat -150px -200px;}

/*店铺产品展示*/
.sc-mod-merchant-item .sc-mod-merchant-proCont { float: right; padding-left: 10px; height: 135px; border:1px solid #e6e6e6; background: #fff; overflow: hidden; width: 290px;}
.win-1200 .sc-mod-merchant-item .sc-mod-merchant-proCont { width: 435px;}
.win-1400 .sc-mod-merchant-item .sc-mod-merchant-proCont { width: 580px;}
.sc-mod-merchant-item .sc-mod-merchant-proCont ul li { width: 135px; float: left; margin: 10px 10px 10px 0px;}
.sc-mod-merchant-item .sc-mod-merchant-proCont ul li .sc-mod-merchant-proCont-photo { height: 100px; overflow: hidden;}
.sc-mod-merchant-item .sc-mod-merchant-proCont ul li .sc-mod-merchant-proCont-text { height: 20px; overflow: hidden; line-height: 24px; font-size: 12px;}


.c-999 { color: #999;}

