@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("../mod/form-select.css");
@import url("pub-header-topbar.css");
@import url("pub-header-logo.css");
@import url("pub-footer.css");
@import url("pub-progress.css");
@import url("pub-shop.css");
@import url("pub-footer-recommend.css");

/**
 * 网通商场 购物车 确认订单信息
 * @authors 谭子良
 * @date    2014-05-26 14:24:28
 * @version 1.0.0
 */

.wrap { width: 1000px; margin: 0px auto;}

/*标题*/
.item-title { width: 100%; height: 20px; overflow: hidden; position: relative; margin-bottom: 15px;}
.item-title p { width: 100%; height: 2px; overflow: hidden; background: #e6e6e6; margin-top: 9px;}
.item-title em { height: 20px; display: inline-block; line-height: 20px; padding:0px 10px; background: #fff; position: absolute; left: 0px; top: 0px; font-size: 14px; border-left: 5px solid #e6e6e6;}

/*第一次购买 收货信息*/
.consignee { padding: 20px; border: 1px solid #d1edff; background: #f5fbff; margin-bottom: 15px;}
.input-rel { float: left; }
.input-rel .ui-input { float: left;}
.rel-text { color: #999; line-height: 30px; margin: 0px 10px; display: inline-block; float: left;}
.rel-split { color: #999; line-height: 30px; margin: 0px 3px; display: inline-block; float: left;}
.consignee .ui-form-item { padding-bottom: 10px; padding-left: 130px;} /*重置*/
.consignee .ui-input { }  /*重置*/
.consignee .ui-textarea { width: 420px; height: 40px;} /*重置*/
.consignee .ui-checkbox { margin:10px 0px;}

/*非第一次登录者显示收货地址集*/
.address { width: 100%; overflow: hidden;}
.address ul { width: 1030px; overflow: hidden;}
.address li { float: left; margin: 0px 20px 20px 0px; width: 233px; height: 128px; border: 1px solid #e6e6e6; background:url(../../img/sc/shop-cart/address.png) no-repeat -1px -1px; position: relative; }
.address li:hover , .address li.hover { background:url(../../img/sc/shop-cart/address.png) no-repeat -1px -131px; }
.address li .it1 { height: 56px; margin: 15px 15px 0px 15px; padding-bottom: 4px; line-height: 17px; border-bottom: 1px solid #e6e6e6;}
.address li .it2 { margin: 8px 15px 0px 15px; line-height: 16px;}
.address li .it3 { position: absolute; top: 0px; right: 0px; display: none;}
.address li .it3 i { width: 22px; height: 18px; background:url(../../img/sc/misc/i_001.png) no-repeat -150px -120px; display: inline-block; text-indent: -9999px; float: left;margin-right: 2px; cursor: pointer;}
.address li .it3 span { height: 18px; background:#000; color: #fff; display: block; line-height: 16px; padding: 0px 5px; display: block; float: left; cursor: pointer; opacity: 0.2; filter:alpha(opacity=20); *line-height: 18px; overflow: hidden;}
.address li:hover .it3, .address li.hover .it3 { display: block;}
.address li .it3 i:hover, .address li .it3 i.hover { background:url(../../img/sc/misc/i_001.png) no-repeat -180px -120px;}
.address li .it3 span:hover, .address li .it3 span.hover { opacity: 0.35; filter:alpha(opacity=35);}
.address li .it4 { width: 32px; height: 32px; background:url(../../img/sc/misc/i_001.png) no-repeat -180px 0px; position: absolute; right: 0px; bottom: 0px; } 

.address-option { width: 100%; padding:0px 0px 40px 0px; overflow: hidden;}
.address-option a { color: #35a;}
.address-option a:hover { color: #f30;}

/*附加留言区块*/
.item tr.message td { background: #e5f5ff; border-top: 1px solid #d1edff; }
.item tr.message .message-area { padding:10px 20px;}
.item tr.message .message-area lable { float: left; color: #666; line-height: 32px;}
.item tr.message .message-area .ui-textarea { width: 420px; height: 20px; line-height: 20px;} /*重置*/

.item tr.message .item-count { width: 300px; padding:10px 20px 10px 10px; float: right; }
.item tr.message .item-count dl { width: 100%;}
.item tr.message .item-count dt {width: 175px; float: left; text-align: right; line-height: 25px;}
.item tr.message .item-count dd { width: 120px; float: right;}
.item tr.message .item-count dd .price-f30 { line-height: 25px;}

/*底部统计与提交按钮区块*/
.footer-count { width: 978px; overflow: hidden; padding: 10px; border: 1px solid #e6e6e6; border-radius: 3px 3px 3px 3px; background: #f4f4f4; }
.footer-count ul { float: right; clear: both; overflow: hidden;}
.footer-count ul li { float: left; line-height: 13px;}
.footer-count ul li span { display: block; float: left; margin-top: 14px; color: #666;}
.footer-count ul li.price  { padding-top: 0px; font-size: 25px; line-height: 36px; color: #f30;}
.footer-count p { float: right; clear:both; border-bottom: 1px solid #e6e6e6; padding:0px 0px 5px 0px; margin-bottom: 10px;}

.fc-post { width: 100%; overflow: hidden; padding: 10px 0px; text-align: right;}

/*宽度像素*/
.w370 { width: 370px;}
.w150 { width: 150px;}
.w110 { width: 110px;}

/*颜色*/
.c-666 { color: #666;}
.c-f30 { color: #f30;}

/*外填充*/
.mt5 { margin-top: 5px;}


