@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("../mod/form-select.css");
@import url("pub-header-topbar.css");
@import url("pub-header-logo.css");
@import url("pub-footer.css");
@import url("pub-progress.css");
@import url("pub-shop.css");

/**
 * 网通商场 购物车 确认收货
 * @authors 谭子良
 * @date    2014-05-26 14:24:28
 * @version 1.0.0
 */

.wrap { width: 1000px; margin: 0px auto;}

/*标题*/
.item-title { width: 100%; height: 20px; overflow: hidden; position: relative; margin-bottom: 15px;}
.item-title p { width: 100%; height: 2px; overflow: hidden; background: #e6e6e6; margin-top: 9px;}
.item-title em { height: 20px; display: inline-block; line-height: 20px; padding:0px 10px; background: #fff; position: absolute; left: 0px; top: 0px; font-size: 14px; border-left: 5px solid #e6e6e6;}

.item tr.cont td { border-bottom: 1px solid #d1edff; } /*重置*/
/*附加留言区块*/
.item tr.message td { background: #e5f5ff; padding:15px 20px;} 
.foot-firm-count { color: #333; font-size: 14px; line-height: 22px;}
.foot-firm-count em { color: #333; font-weight: bold; font-size: 16px; line-height: 24px; float: right;}

/*底部统计与提交按钮区块*/
.order-notice { border: 1px solid #d1edff; background: #f5fbff; padding: 10px 20px;}
.order-notice table td { border-bottom: 1px solid #d1edff; line-height: 36px; vertical-align: middle;}
.order-warn h2 { color: #f30; font-size: 16px; padding: 30px 0px 0px 20px; }
.order-warn p { color: #333;  padding: 15px 0px 0px 20px; }
/*支付区块*/
.order-pay { width: 100%; overflow: hidden; padding-bottom: 50px;}
.order-pay .ui-form-item { padding: 7px 0px 10px 142px;}
.order-pay .ui-label { color: #333;}
.order-pay .ui-input { width: 240px;}

/*宽度像素*/
.w370 { width: 370px;}
.w150 { width: 150px;}
.w110 { width: 110px;}

/*颜色*/
.c-666 { color: #666;}
.c-f30 { color: #f30;}

/*外填充*/
.mt5 { margin-top: 5px;}


