@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("../mod/form-select.css");
@import url("pub-header-topbar.css");
@import url("pub-header-uc.css");
@import url("uc-mod-appraise.css");
@import url("pub-footer.css");
@import url("pub-crumbs.css");

/**
 * 网通商场 会员中心 买家中主 查看物流 logistics
 * @date    2014-07-28 17:43:08
 * @version 1.0.0
 */

/*page css*/
.firstArea { border: 1px solid #e6e6e6; border-bottom: none; margin-bottom: 10px;}
.logisticsOrder dt , .logisticsOrder dd { font-weight: 700;}

.logisticsProgress { padding-bottom: 20px; border-bottom: 1px solid #e6e6e6;}
.logisticsProgress li { margin: 10px auto;}

.logisticsCompany { padding:30px 0px;}
.logisticsCompany p { margin-bottom: 10px;}
.logisticsCompany ul { background: #fff6eb; border:1px solid #ffead1; padding:10px 15px; color: #666;}
.logisticsCompany a { color: #35a;}
.logisticsCompany a:hover { color: #f30;}

/*覆盖*/
.crumbs { margin:5px auto;}
.mod-appraise .proMess .store { border-top: none; border-bottom: 1px solid #e6e6e6; }
