@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("pub-header-topbar.css");
@import url("pub-header-ucenter.css");
@import url("uc-mod-wrap.css");
@import url("uc-mod-buy-sideMenu.css");
@import url("uc-mod-page-curMarkBar.css");
@import url("uc-mod-listTopBar.css");
@import url("pub-footer.css");

/**
 * 网通商场 会员中心 买家中心 已购买的商品
 * @authors 谭子良
 * @date    2014-07-29 15:08:57
 * @version 1.0.0
 */


/*商品搜索区*/
.proNotes { padding: 15px 20px; margin: 0px auto 10px auto; background: #f5fbff; border-bottom: 1px solid #d1edff;}
.proNotes li { width: 33%; float: left; height:30px; line-height: 30px; white-space: nowrap; overflow: hidden;}

/*商品列表*/
.myGoodsList  { background: #f5fbff;}
.myGoodsList li { float: left; padding:20px 0px 20px 0px;}
.myGoodsList .photo { width: 65px; overflow: hidden; padding-left: 10px;}
.myGoodsList .photo img { width: 60px; height: 60px; border: 1px solid #e6e6e6; display: block;}
.myGoodsList .proInfo { width: 205px; padding: 20px 10px;}
.myGoodsList .proInfo p { width: 100%; height: 20px; overflow: hidden;}
.myGoodsList .proInfo a { color: #333;}
.myGoodsList .proInfo a:hover { color: #f30;}
/* 网店标识 start */
.myGoodsList .flag-x1 { margin-top: 4px; width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -30px -160px;}
.myGoodsList .flag-x2 { margin-top: 4px; width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -60px -160px;}
.myGoodsList .flag-x3 { margin-top: 4px; width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -90px -160px;}
.myGoodsList .flag-x4 { margin-top: 4px; width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -120px -160px;}
/* 网店标识 end */
.myGoodsList .noePrice { width: 100px; text-align: center; }
.myGoodsList .number { width: 90px; text-align: center;}
.myGoodsList .privilege , .myGoodsList .status { width: 120px; text-align: center;}
.myGoodsList .logistics { width: 100px; text-align: center;}

/*兰色分隔横线*/
.blue-rowLine { background: #d1edff; width: 100%; height: 1px; text-indent: -9999px; font: 0px/0px arial; overflow: hidden;}

/*底部商品统计*/
.footCount { background: #e5f5ff; padding:10px 20px;}
.footCount .subWrap { color: #333; float: right; }
.footCount .subWrap span { float: left; margin-left: 3px; display: block;}
.footCount .subWrap span.it1 { line-height: 28px; font-size: 14px;}
.footCount .subWrap span.it2 { line-height: 30px; font-size: 12px;}
.footCount .subWrap span.it3 { line-height: 30px; font-size: 18px; font-family: aiarl;}
.footCount .subWrap span.it4 { line-height: 30px; font-size: 16px; color: #f30; font-weight: bold;}
.footCount .subWrap span.minus { width: 20px; height: 20px; background: url(../../img/sc/misc/i_001.png) no-repeat -60px -320px; margin: 8px 10px 0px 10px;}
.footCount .subWrap span.increase { width: 20px; height: 20px; background: url(../../img/sc/misc/i_001.png) no-repeat -210px -243px; margin: 8px 10px 0px 10px; }
.footCount .subWrap span.count { width: 20px; height: 20px; background: url(../../img/sc/misc/i_001.png) no-repeat -90px -320px; margin: 8px 10px 0px 10px; }

/*备忘信息填写*/
.senNotes { margin: 20px auto 40px auto;}
.senNotes h2 { font-size: 16px; font-weight: 700; margin-bottom: 5px; color: #333;}
.senNotes h2 span { font-size: 13px; font-weight: 300; color: #999;}
.senNotes .ui-textarea { width: 98%; height: 100px;}
.senNotes .wordsCount { text-align: right; margin-bottom: 10px; padding-right: 10px;}

/*重定义覆盖*/
a { color: #35a;}
a:hover { color: #f30;}
.c-f30 { color: #f30;}

/*uc-mod-page-curMarkBar.css*/
.uc-mod-page-curMarkBar { border-bottom: 2px solid #a6ddff;}


