@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("pub-header-topbar.css");
@import url("pub-header-ucenter.css");
@import url("uc-mod-wrap.css");
@import url("uc-mod-buy-sideMenu.css");
@import url("uc-mod-page-curMarkBar.css");
@import url("uc-mod-page-tool.css");
@import url("uc-mod-listTopBar.css");
@import url("uc-mod-footPagesBar.css");
@import url("pub-footer.css");

/**
 * 网通商场 会员中心 买家中心 已购买的商品
 * @authors 谭子良
 * @date    2014-07-29 15:08:57
 * @version 1.0.0
 */

.myGoodsNav { float: left; margin-left: 20px; margin-top: 10px;}
.myGoodsNav li { float: left; line-height: 18px;}
.myGoodsNav li.split { color: #666; margin: 0px 12px;}
.myGoodsNav li em { color: #f30;}

/*商品搜索区*/
.topPro-saarch { padding: 20px 20px 10px 20px; margin: 0px auto 10px auto; background: #f5fbff; border-bottom: 1px solid #d1edff;}
.topPro-saarch dl { width: 100%; height: 30px; margin-bottom: 10px; overflow: hidden;}
.topPro-saarch dt { width: 80px; float: left; line-height: 30px;}
.topPro-saarch dd { float: left; margin-right: 10px;}
.topPro-saarch dd label { width: 20px; line-height: 30px; text-align: center;}
.topPro-saarch dd a { height: 25px; line-height: 25px; padding: 0px 10px; display: block; margin-top: 3px; color: #333;}
.topPro-saarch dd a:hover { background: #eeeeee; border-radius: 2px 2px 2px 2px; }
.topPro-saarch dd a.selected { background: #1896e6; color: #fff; border-radius: 2px 2px 2px 2px;}
.topPro-saarch dd .moreOpts { height:30px; line-height:30px; padding-right:14px; display:inline-block; _display: inline; _zoom:1; background:url(../../img/public/icon/16x16/moreTip.gif) no-repeat right 12px; color:#35a; font-size:13px; margin:0px 10px; cursor:pointer;}
.topPro-saarch dd .moreOpts.lap { background:url(../../img/public/icon/16x16/moreTip.gif) no-repeat right -38px;}
.topPro-saarch .ui-input { float: left; width: 240px;}
.topPro-saarch .ui-btn { float: left;}


/*商品列表*/
.myGoodsList  { margin-top: 10px; background: #f5fbff;}
.myGoodsList .myGoodsTitle {width: 100%; height: 30px; background: #e5f5ff; overflow: hidden;}
.myGoodsList.past { background: #f9f9f9;}
.myGoodsList.past .myGoodsTitle { background: #f1f1f1;}
.myGoodsList .myGoodsTitle li { float: left; margin-left:10px; line-height: 30px; white-space: nowrap; overflow: hidden;}
.myGoodsList .myGoodsTitle li label input { margin: 9px 10px 0px 0px; float: left;}
.myGoodsList .myGoodsTitle .flag-cat { background: url("../../img/public/icon/16x16/cat.gif") no-repeat 0px 0px; display: inline-block; float: left; width: 16px; height: 16px; margin: 6px 0px 0px 5px; }
.myGoodsList .myGoodsDetail { width: 100%; overflow: hidden; }
.myGoodsList .myGoodsDetail li { float: left; padding:20px 0px 20px 10px; padding-bottom: 1000px; margin-bottom: -980px; color: #666;}
/*pro start*/
.myGoodsList .myGoodsDetail .proCont { width: 445px; padding-left: 0px;}
.myGoodsList .myGoodsDetail .proCont dl { width: 100%; overflow: hidden;}
.myGoodsList .myGoodsDetail .proCont dd { float: left; padding-left: 10px;}
.myGoodsList .myGoodsDetail .proCont .splitLine { width: 100%; height: 20px; border-bottom: 1px dashed #e6e6e6; margin-bottom: 20px;}
.myGoodsList .myGoodsDetail .photo { width: 65px; overflow: hidden;}
.myGoodsList .myGoodsDetail .photo img { width: 60px; height: 60px; border: 1px solid #e6e6e6; display: block;}
.myGoodsList .myGoodsDetail .proInfo { width: 135px;}
.myGoodsList .myGoodsDetail .proInfo p { width: 100%; height: 20px; overflow: hidden;}
.myGoodsList .myGoodsDetail .proInfo a { color: #333;}
.myGoodsList .myGoodsDetail .proInfo a:hover { color: #f30;}
.myGoodsList .myGoodsDetail .noePrice { width: 85px; text-align: center; }
.myGoodsList .myGoodsDetail .number { width: 40px; text-align: center;}
.myGoodsList .myGoodsDetail .service { width: 70px; text-align: center;}
/*pro end*/
.myGoodsList .myGoodsDetail .money { width: 108px; padding-left: 0px; border-left: 1px dashed #e6e6e6;  border-right: 1px dashed #e6e6e6; text-align: center;}
.myGoodsList .myGoodsDetail .money .count { color: #000; font-weight: 700;}
.myGoodsList .myGoodsDetail .status { width: 95px; padding-left: 0px; text-align: center;}
.myGoodsList .myGoodsDetail .status .tradeOK { color: #0a6630;}
.myGoodsList .myGoodsDetail .tradeOpts { width: 93px; padding-left: 0px; border-left: 1px dashed #e6e6e6;  border-right: 1px dashed #e6e6e6; text-align: center;}
.myGoodsList .myGoodsDetail .otherOpts { width: 85px; padding-left: 0px; text-align: center;}
/* 购买留言小提示 start */
.messageTip {display:inline; }
.messageTip .moreText  { width: 14px; padding: 5px 0px; text-indent: -9999px; cursor: pointer; height: 10px; display: block; margin: 0px auto; background: url(../../img/sc/misc/i_009.gif) no-repeat 0px 5px;}
.messageTip .moreTip { display:none;}
.messageTip.over .moreTip { display:block; position:absolute; padding:10px 15px; border:1px solid #e6e6e6; background:#fff; box-shadow:0px 0px 3px 0px #f7f7f7; text-align: left;}
.messageTip.over .moreTip b { color: #f30;}
.messageTip.over .moreTip .sTriangle { width:14px; height:9px; display:block; background:url(../../img/public/icon/16x16/sTriangle.gif) no-repeat;position:absolute; top:-8px; left:16px;}
/* 购买留言小提示 end */
/* 备忘小提示 start */
.noteTip {display:inline; }
.noteTip .moreText  { width: 30px; cursor: pointer; padding-right: 14px; height: 20px; display: block; margin: 0px auto; background: url(../../img/sc/misc/i_008.gif) no-repeat 30px 3px;}
.noteTip .moreTip { display:none;}
.noteTip.over .moreTip { display:block; position:absolute; padding:10px 15px; border:1px solid #e6e6e6; background:#fff; box-shadow:0px 0px 3px 0px #f7f7f7; text-align: left;}
.noteTip.over .moreTip .sTriangle { width:14px; height:9px; display:block; background:url(../../img/public/icon/16x16/sTriangle.gif) no-repeat;position:absolute; top:-8px; left:16px;}
/* 备忘小提示 end */
/* 网店标识 start */
.myGoodsList .myGoodsDetail .flag-x1 { margin-top: 4px; width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -30px -160px;}
.myGoodsList .myGoodsDetail .flag-x2 { margin-top: 4px; width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -60px -160px;}
.myGoodsList .myGoodsDetail .flag-x3 { margin-top: 4px; width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -90px -160px;}
.myGoodsList .myGoodsDetail .flag-x4 { margin-top: 4px; width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -120px -160px;}
/* 网店标识 end */

/*重定义覆盖*/
a { color: #35a;}
a:hover { color: #f30;}
.c-f30 { color: #f30;}
/*uc-mod-page-curMarkBar.css*/
.uc-mod-page-curMarkBar { border-bottom: 2px solid #a6ddff;}


/*如果页面没有数据*/
.emptyBox { padding:150px 0px 180px 100px; height: 60px; }
.emptyBox .error-icon { width: 70px; height: 70px; background: #fff url(../../img/sc/misc/i_001.png) no-repeat 0px 0px; float: left; margin-right: 15px; }
.emptyBox .error-info { float: left;}
.emptyBox .error-info h2 { font-size: 20px; color: #333; line-height: 48px; font-weight: 400;}
.emptyBox .error-info a { color: #666;}
.emptyBox .error-info a:hover { color: #f30;}
.emptyBox .error-info a.em { color: #0066CC;}
.emptyBox .error-info a.em:hover { color: #f30;}

