@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("pub-header-topbar.css");
@import url("pub-header-ucenter.css");
@import url("uc-mod-wrap.css");
@import url("uc-mod-topArea.css");
@import url("uc-mod-buy-sideMenu.css");
@import url("pub-footer.css");

/**
 * 网通商场 会员中心 买家中心
 * @authors 谭子良
 * @date    2014-05-23 11:21:34
 * @version 1.0.0
 */

/*首页区块划分*/
.uc-buy-index-main { width:828px; height:755px; border:1px solid #e6e6e6; background:#fff;}
.uc-buy-index-main .leftArea { width:577px; height:755px; float:left;}
.uc-buy-index-main .rightArea { width:249px; height:755px; float:right; border-left:1px solid #e6e6e6;}
.uc-buy-index-main .box1 { padding:15px 20px; height:305px; border-bottom:1px dashed #e6e6e6;}
.uc-buy-index-main .box2 { padding:15px 20px; height:190px; border-bottom:1px dashed #e6e6e6;}
.uc-buy-index-main .box3 { padding:15px 20px; }

.uc-buy-index-main .box-head { width:100%; overflow:hidden;}
.uc-buy-index-main .box-title { font-size:15px; font-weight:700; float:left;}

/*已经购买的商品*/
.uc-buy-index-main .myGoodsNav { float:left; padding-top:2px;}
.uc-buy-index-main .myGoodsNav li { float:left; margin-left:10px; display:inline-block;}
.uc-buy-index-main .myGoodsNav li em { color:#f30; font-weight:700;}
.uc-buy-index-main .myGoodsList { width:100%; height:240px;}
.uc-buy-index-main .myGoodsList li { width:100%; overflow:hidden; margin:15px auto 20px auto; }
.uc-buy-index-main .myGoodsList li .img { width:60px; height:60px; float:left; margin-right:10px;}
.uc-buy-index-main .myGoodsList li .img img { width:60px; height:60px;}
.uc-buy-index-main .myGoodsList li .aside { width:265px; float:left; margin-right:20px;}
.uc-buy-index-main .myGoodsList li .aside h2 { margin-bottom:3px; line-height:18px;}
.uc-buy-index-main .myGoodsList li .aside h2 a { color:#333;}
.uc-buy-index-main .myGoodsList li .aside h2 a:hover { color:#f30;}
.uc-buy-index-main .myGoodsList li .aside p { color:#666;}
.uc-buy-index-main .myGoodsList li .price { width:100px; padding-top:12px; float:left;}
.uc-buy-index-main .myGoodsList li .price span { display:block; color:#333;}
.uc-buy-index-main .myGoodsList li .price del { display:block; color:#999;}
.uc-buy-index-main .myGoodsList li .price i { font-style:normal; float:left;}
.uc-buy-index-main .myGoodsList li .price em { font-family:Arial;}
.uc-buy-index-main .myGoodsList li .pay { float:right; padding-top:20px;}
.uc-buy-index-main .myGoodsList li .pay a{ width:80px; height:23px; text-align:center; line-height:23px; color:#333; display:inline-block; float:left; background:url(../../img/sc/uc/btn.png) repeat-x 0px -30px; border:1px solid #d9d9d9; border-radius:3px 3px 3px 3px;}
.uc-buy-index-main .myGoodsList li .pay a:hover { background:#fff; }

/*购物车*/
.uc-buy-index-main .shopCartNav { float:left; padding-top:2px; margin-left:10px;}
.uc-buy-index-main .shopCartNav em { margin-right:5px; font-weight:700; color:#f30;}
.uc-buy-index-main .shopCartList { width:100%; height:240px;}
.uc-buy-index-main .shopCartList li { width:100%; height:60px; overflow:hidden; margin:15px auto 20px auto; }
.uc-buy-index-main .shopCartList li .img { width:60px; height:60px; float:left; margin-right:10px;}
.uc-buy-index-main .shopCartList li .img img { width:60px; height:60px;}
.uc-buy-index-main .shopCartList li .aside h2 { height:18px; overflow:hidden; margin-bottom:3px; line-height:18px;}
.uc-buy-index-main .shopCartList li .aside h2 a { color:#333;}
.uc-buy-index-main .shopCartList li .aside h2 a:hover { color:#f30;}
.uc-buy-index-main .shopCartList li .price { line-height:14px; overflow:hidden;}
.uc-buy-index-main .shopCartList li .long { line-height:18px; padding-top:2px;}
.uc-buy-index-main .shopCartList li .price span { color:#333; display:block; margin-right:10px; float:left;}
.uc-buy-index-main .shopCartList li .price del { color:#999; display:block; float:left;}
.uc-buy-index-main .shopCartList li .price i { font-style:normal; float:left;}
.uc-buy-index-main .shopCartList li .price em { font-family:Arial; float:left;}

/*省200*/
.uc-buy-index-main .province { background:#ffefeb; border:1px solid #ffdad1; color:#f30; padding:0px 5px; height:18px; line-height:18px; border-radius:3px 3px 3px 3px; display:inline-block; margin-top:4px;}
/*查看更多*/
.uc-buy-index-main .more { text-align:center; border-top:1px solid #e6e6e6; padding-top:5px;}
.uc-buy-index-main .more a { color:#666;}
.uc-buy-index-main .more a:hover { color:#f30;}
.uc-buy-index-main .more em { color:#f30; font-weight:700;}

/*我的收藏*/
.uc-buy-index-main .shopCollection { width:100%; height:140px;}
.uc-buy-index-main .shopCollection ul { margin-right:-10px; padding:15px 0px;}
.uc-buy-index-main .shopCollection ul li { width:80px; overflow:hidden; margin-right:10px; float:left;}
.uc-buy-index-main .shopCollection ul li img { width:80px; height:80px;}
.uc-buy-index-main .shopCollection ul li span { font-style:normal; color:#666; display:block; line-height:16px;}
.uc-buy-index-main .shopCollection ul li span i , .uc-buy-index-main .shopCollection ul li span em { font-style:normal; float:left;}
/*我的收藏 店铺*/
.uc-buy-index-main .store { height:115px;}
.uc-buy-index-main .store ul li img{ border-radius:40px;}

.nothing { color:#999; text-align:center; padding:30px 0px;}
.nothing a { color:#999; text-decoration:underline;}
.c-999 { color:#999; }







