@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("pub-header-topbar.css");
@import url("pub-header-ucenter.css");
@import url("uc-mod-wrap.css");
@import url("uc-mod-buy-sideMenu.css");
@import url("uc-mod-page-curMarkBar.css");
@import url("uc-mod-listTopBar.css");
@import url("uc-mod-footPagesBar.css");
@import url("pub-footer.css");

/**
 * 网通商场 会员中心 买家中心 举报管理
 * @authors 谭子良
 * @date    2014-07-31 14:49:19
 * @version 1.0.0
 */

.reportNav { float: left; margin-left: 20px; margin-top: 10px;}
.reportNav li { float: left; line-height: 18px;}
.reportNav li.split { color: #666; margin: 0px 12px;}
.reportNav li em { color: #f30;}

.report-info { padding:20px; }
.report-info h2 { margin-bottom: 5px; font-weight: 700;}
.report-info li { line-height: 24px; list-style:inside disc; color: #666;}

/*举报列表*/
.reportList .item { width: 100%; overflow: hidden; padding:15px 0px; border-bottom: 1px solid #e6e6e6;}
.reportList .item li { float: left; padding-left: 10px;}
.reportList .item .c1 { width: 195px;}
.reportList .item .c2 { width: 165px;}
.reportList .item .c3 { width: 115px;}
.reportList .item .c4 { width: 135px;}
.reportList .item .c5 { width: 105px;}
.reportList .item .c6 { width: 55px;}

/*重定义覆盖*/
a { color: #35a;}
a:hover { color: #f30;}
.c-f30 { color: #f30;}
