/**
 * 买家中心 评价
 * @authors 谭子良
 * @date    2014-07-24 13:48:57
 * @version 1.0.0
 */

.areabox { border: 1px solid #e6e6e6; border-bottom: none; margin-bottom: 10px;}

.mod-appraise { border-bottom: 1px solid #e6e6e6; background:#f9f9f9; }
.mod-appraise .proMess { width: 30%; float: left;}
.mod-appraise .proMess .title { width: 100%; height: 40px; background: #f1f1f1; border-bottom:1px solid #e6e6e6; text-indent: 20px;  line-height: 40px; font-size: 14px; font-weight: 400;}
.mod-appraise .proMess .product { padding:20px;}
.mod-appraise .proMess .proImg { width: 60px; height: 60px; border: 1px solid #e6e6e6; float: left; margin-right: 10px;}
.mod-appraise .proMess .proImg img { width: 60px; height: 60px; display: block;}
.mod-appraise .proMess .proInfo p { height: 18px; line-height: 18px; overflow: hidden;}
.mod-appraise .proMess .proInfo a { color: #333;}
.mod-appraise .proMess .proInfo a:hover { color: #f30;}
.mod-appraise .proMess .proInfo p.pro-color { color: #666; margin-top: 2px; margin-bottom: 5px;}
.mod-appraise .proMess .flag-x1 { width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -30px -160px;}
.mod-appraise .proMess .flag-x2 { width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -60px -160px;}
.mod-appraise .proMess .flag-x3 { width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -90px -160px;}
.mod-appraise .proMess .flag-x4 { width: 16px; height: 16px; display: inline-block; float: left; margin-right: 3px; background: url("../../img/sc/misc/i_001.png") no-repeat -120px -160px;}
.mod-appraise .proMess .store { border-top: 1px solid #e6e6e6; margin: 0px 20px; padding: 15px 0px;}
.mod-appraise .proMess .store p { margin-bottom: 5px;}
.mod-appraise .proMess .store dl { width: 100%; overflow: hidden; color: #666; line-height: 24px;}
.mod-appraise .proMess .store dt { float: left; width: 72px;}
.mod-appraise .proMess .store dd { float: left;}
.mod-appraise .proMess .store dd i { font-style: normal;}
.mod-appraise .proMess .store dd .flag-cat { cursor: pointer; background: url("../../img/public/icon/16x16/cat.gif") no-repeat 0px 0px; display:inline-block; float: left;height: 16px; margin: 4px 0px 0px 5px; width: 16px;}
.mod-appraise .appWrap { width: 70%; background:#fff; float: right; border-left: 1px solid #e6e6e6; margin-left: -1px;}
.mod-appraise .appWrap .appWrapArea { padding: 20px 30px}
.mod-appraise .appWrap dl { width: 100%; overflow: hidden;}
.mod-appraise .appWrap dd { width: 50%; height: 25px; margin-bottom: 5px; float: left;}
.mod-appraise .appWrap h2 { width: 100%; margin-bottom: 20px; font-size: 16px; line-height: 30px; font-weight: 700; color: #666;}

/*星星等级*/
.mod-appraise .starLevel b { height: 25px; overflow: hidden; font-weight: normal; color: #666; float: left; line-height: 28px;}
.mod-appraise .starLevel span { display: block; float: left; margin-left: 5px;} 
.mod-appraise .starLevel span i { width: 25px; height: 25px; overflow: hidden; float: left; text-indent: -9999px; display: block; background: url(../../img/sc/icon/star.gif) no-repeat 0px -25px; cursor: pointer; margin-left: 5px;}
.mod-appraise .starLevel span i.selected { background-position: 0px 0px;}

/*评论留言*/
.mod-appraise .appraiseMessage { background: #f5fbff; padding: 15px 10px; margin: 20px auto;}
.mod-appraise .appraiseMessage .impLevel { width: 100%; height: 30px;}
.mod-appraise .appraiseMessage .impLevel label { float: left; display: block; margin-right: 30px;}
.mod-appraise .appraiseMessage .impLevel input { float: left; margin-right: 10px; margin-top: 8px;}
.mod-appraise .appraiseMessage .impLevel label b { display: block; height: 25px; line-height: 28px; padding-left: 24px; float: left; font-weight: normal; color: #666;}
.mod-appraise .appraiseMessage .level-well { background: url(../../img/sc/icon/heart.gif) no-repeat 0px 3px; }
.mod-appraise .appraiseMessage .level-middle { background: url(../../img/sc/icon/heart.gif) no-repeat 0px -27px; }
.mod-appraise .appraiseMessage .level-poor { background: url(../../img/sc/icon/heart.gif) no-repeat 0px -57px; }
.mod-appraise .appraiseMessage .messTextarea { margin: 5px auto; text-align: center;}
.mod-appraise .appraiseMessage .messTextarea textarea { width: 98%; height: 80px; margin: 0px auto;}
/*晒图组件*/
.mod-appraise .appraiseMessage .upImgArea { float: left;}
.mod-appraise .appraiseMessage .upImgBtn { width: 40px; height: 20px; overflow: hidden; float: left; position: relative;} 
.mod-appraise .appraiseMessage .upImgBtn span { background: #a6ddff; color: #fff; display: block; cursor: pointer; width: 40px; height: 20px; line-height: 18px; text-align: center; border-radius: 2px 2px 2px 2px;}
.mod-appraise .appraiseMessage .upImgBtn input { opacity: 0; filter: alpha(opacity=0); position: absolute; left: 0px; top: 0px;}
.mod-appraise .appraiseMessage .upImgList { float: left; margin-left: 10px;}
.mod-appraise .appraiseMessage .upImgList li {float: left; width: 30px; height: 30px; margin: 0px 3px; overflow: hidden; position: relative;}
.mod-appraise .appraiseMessage .upImgList li img { width: 30px; height: 30px; display: block;}
.mod-appraise .appraiseMessage .upImgList li b { width: 30px; height: 30px; display: block; position: absolute; left: 0px; top: 0px; background: #000; color: #fff; opacity: 0.7; filter:aphla(opacity=70); text-align: center; line-height: 30px; cursor: pointer; display: none; }
.mod-appraise .appraiseMessage .upImgCount { float: left; margin-left: 10px; color: #666; font-family: arial;}
.mod-appraise .appraiseMessage .messCount { float: left; margin-right: 20px;}
.mod-appraise .appraiseMessage .anonymity { float: left; margin-right: 20px;}
.mod-appraise .appraiseMessage .anonymity input { float: left; margin-top: 4px; margin-right: 5px;}
.mod-appraise .appraiseMessage .anonymity b { float: left; font-weight: normal; color: #666;}
.mod-appraise .appraiseMessage .upShare { float: left;}
.mod-appraise .appraiseMessage .upShare li { float: left; margin-left: 5px; color: #666;}
.mod-appraise .appraiseMessage .upShare li img { margin-top: 2px; margin-right: 5px;}