
/**
 * 会员中心 店铺收藏 列表循环
 * @authors 谭子良
 * @date    2014-07-18 14:22:01
 * @version $Id$
 */


/*店铺列表*/
.uc-favorite-store { width: 100%; height: 120px; padding: 20px 0px; border-bottom: 1px solid #e6e6e6;}
/*店铺类型*/
.store-type-01 { width: 20px; height: 20px; display: block; float: left; margin-right: 5px; background:url(../../img/sc/misc/i_001.png) no-repeat 0px -80px;}
.store-type-02 { width: 20px; height: 20px; display: block; float: left; margin-right: 5px; background:url(../../img/sc/misc/i_001.png) no-repeat -30px -80px;}
.store-type-03 { width: 20px; height: 20px; display: block; float: left; margin-right: 5px; background:url(../../img/sc/misc/i_001.png) no-repeat -60px -80px;}
.store-type-04 { width: 20px; height: 20px; display: block; float: left; margin-right: 5px; background:url(../../img/sc/misc/i_001.png) no-repeat -90px -80px;}
/*选择控件 input*/
.uc-favorite-store .opt { width: 25px; padding-left: 10px; padding-top: 3px; float: left;}
/*店铺logo*/
.uc-favorite-store .logo { width: 60px; position: relative; margin-right: 10px; float: left;}
.uc-favorite-store .logo img { width: 60px; height: 60px; margin: 30px 0px;}
.uc-favorite-store .logo a.del { width: 16px; height: 16px; display: block; padding: 2px; cursor: pointer; position: absolute; left: 0px; top: 0px; background: url(../../img/public/icon/16x16/del.gif) no-repeat 2px 2px; text-indent: -9999px;}
/*店铺介绍*/
.uc-favorite-store .info { width: 280px; float: left; margin-top: 38px; padding-bottom: 20px;}
.uc-favorite-store .info01 { width: 100%; overflow: hidden; height: 25px; line-height: 18px;}
.uc-favorite-store .info01 a.store-name { float: left; font-size: 16px; color: #333;}
.uc-favorite-store .info01 a.store-name:hover { color: #f30;}
.uc-favorite-store .info01 .store-level { padding-left: 10px;}
.uc-favorite-store .info01 .store-level span { width: 16px; height: 16px; display: block; margin: 2px 0px 0px 5px; background:url(../../img/sc/misc/i_001.png) no-repeat -210px -160px; float: left; text-indent: -9999px;}
.uc-favorite-store .info02 { width: 100%; overflow: hidden; height: 20px; line-height: 20px; color: #666;}
.uc-favorite-store .info02 .flag-cat { width: 16px; height: 16px; display: block; float: left; margin-left: 5px; background:url(../../img/public/icon/16x16/cat.gif) no-repeat 0px 0px;}
.uc-favorite-store .infoTip { width: 150px; padding: 10px 15px; color: #666; margin-top: 10px; background: #fff; border: 1px solid #e6e6e6; position: absolute; box-shadow: 0px 0px 0px 3px #f7f7f7; display: none;}
.uc-favorite-store .infoTip .title { color: #333;}
.uc-favorite-store .infoTip p b { color: #35a;}

/*店铺经营的商品推荐*/
.uc-favorite-store .store-proCont { width: 440px; float: right;}
.uc-favorite-store .store-proCont li { width: 100px; height: 120px; padding-left: 10px; float: left;}
.uc-favorite-store .store-proCont li img { width: 100px; height: 100px; }
.uc-favorite-store .store-proCont li .price { height: 20px; line-height:16px; overflow: hidden;}
.uc-favorite-store .store-proCont li .price i { font-style: normal;}
.uc-favorite-store .store-proCont li .price b { font-weight: 400; font-family: arial;}