/**
 * 网通商场 会员中心 买家中心 我的优惠劵 列表
 * @authors 谭子良
 * @date    2014-07-21 13:59:02
 * @version 1.0.0
 */

.coupList dl { width: 100%; overflow: hidden; border-bottom: 1px solid #e6e6e6; padding: 20px 0px; }
.coupList dt , .coupList dd { float: left;}
.coupList .check { width: 25px; padding-left: 10px;}
.coupList .coupVal { width: 130px;  }
.coupList .coupVal a { width: 75px; height: 50px; padding-left: 25px; line-height: 50px; font-size: 30px; font-family: arial; color: #2e9fe6; display: block; background: url(../../img/sc/uc/IconS_10.gif) no-repeat 0px 0px;}
.coupList .store { width: 145px;}
.coupList .inif { width: 135px;}
.coupList .time { width: 95px; } 
.coupList .validity { width: 105px; line-height: 15px; padding-top: 2px; text-align: center;}
.coupList .state { width: 95px; text-align: center;}
.coupList .opts { width: 90px; text-align: center;}
.coupList .opts a { color: #35a;}
.coupList .opts a:hover { color: #f30;}
.grey { color: #999;}