/**
 * 网通商场 会员中心 页面基础框架 盒子模型
 * @authors 谭子良
 * @date    2014-05-23 11:21:34
 * @version 1.0.0
 */

/*买家中心 布局结构*/
.uc-mod-wrap { width:100%; overflow:hidden; background:#f8f8f8 url(../../img/sc/uc/IconS_5.jpg) no-repeat center top}
.uc-mod-wrap.noBg { background:#fff; background-image:none;}
.uc-mod-wrap .uc-mod-leftWrap { width:149px; float:left; padding: 0px;}
.uc-mod-wrap .uc-mod-rightWrap { width:850px; float:left;  *zoom:1;}

/*右侧内容区*/
.uc-mod-conter {  padding:20px 0px 0px 19px; }

/*左侧内容区*/
.uc-mod-sideMenu {  background:#fff;   position: relative; padding: 20px 0px 20px 9999px; margin:-20px 0px 20px -9999px; background: #f8f8f8;border-bottom: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;}




