@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-form-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("pub-header-topbar.css");
@import url("pub-header-ucenter.css");
@import url("uc-mod-wrap.css");
@import url("uc-mod-buy-sideMenu.css");
@import url("uc-mod-page-curMarkBar.css");
@import url("pub-footer.css");

/**
 * 网通商场 会员中心 卖家中心 修改 我的资质证书
 * @authors jiangzhiqiang
 * @date    2014-08-21 17:25:39
 * @version 1.0.0
 */

/* 头部标题及选项卡 */
.license{width:830px; }
.license .title-bar{line-height: 40px;height:42px;font-size: 14px;border-bottom: 2px solid #ccc;}
.license .title-bar .title{font-size: 18px;font-weight: bold;float: left;}
.license .title-bar .tabs-btn{cursor:pointer;line-height: 32px;display: inline-block;vertical-align: bottom;float: right;padding: 0 12px;margin-right:10px;margin-top: 10px;border-radius: 3px 3px 0px 0px;background-color: #f8f8f8}
.license .title-bar .tabs-btn.selected{line-height: 28px;display: inline-block;vertical-align: bottom;float: right;padding: 0 12px;margin-right:10px;margin-top: 10px;border: 2px solid #ccc;border-bottom: 2px solid #fff;border-radius: 3px 3px 0px 0px;background-color: #fff;position:relative;top:2px;}

/* 表单 提示语 */
.license .ui-form .notice{ background: none repeat scroll 0 0 #fff6eb;border: 1px solid #ffead1;margin: 10px auto;padding: 5px 10px;overflow: hidden;}
.license .ui-form .notice .icon{vertical-align: top;margin-top: 2px;width:16px;height:16px;background: url("../../img/public/icon/16x16/notice.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);display: inline-block;}
.license .ui-form .notice span{line-height: 20px;}

/* 表单 */
.license .ui-form form table{padding: 0 10px;}
.license .ui-form form table tr td{line-height: 30px;padding-bottom: 16px;}
.license .ui-form form table tr td.title{text-align: right;}
.license .ui-form form table tr td em{padding:0 5px;color: #f30;}
.license .ui-form form table tr td .ui-input{border-radius: 2px;}
.license .ui-form form table tr td .tip{color: #999;padding:0 5px;}
.license .ui-form form table tr td .gap{overflow: hidden;height: 10px;}
.license .ui-form form table tr td li{float: left;}
.license .ui-form form table tr td li .preview{width: 200px;height: 140px;background: #b5b8b2;}
.license .ui-form form table tr td li .upload{background: #535353;position: relative;top: -32px;text-align: center;vertical-align: middle;opacity: 0.8; filter:alpha(opacity=80);}
.license .ui-form form table tr td li .upload .btn-upload{background: #f5f5f5;color: #333;line-height: 24px;fi}
.license .ui-form form table tr td li .preview img{border: none;width: 200px;height: 140px;cursor: pointer;}
