@import url("../base/reset.css");
@import url("../base/public.css");
@import url("../mod/ui-grid-1.0.0.css");
@import url("../mod/ui-button-1.0.0.css");
@import url("../mod/ui-box-1.0.0.css");
@import url("pub-header-topbar.css");
@import url("pub-header-logo.css");
@import url("pub-footer.css");
@import url("pub-footer-attention.css");
@import url("zs-public.css");
@import url("zs-mod-nav.css");
/*@import url("zs-mod-service.css");*/
/**
 * 商场招商 常见问题
 * @authors 	Inman Shaw
 * @date 		2014-06-05 15:32:17
 * @version 	1.0.0
 */

/*招商logo*/
.zs .logo-section{border-bottom: 0 none;}

.footer .blogroll{border-top: 2px solid #1896e6;}


.ui-box{margin-bottom: 20px;}
.ui-box .list{padding: 0 0 0 20px;}

.list, .list ol{counter-reset: li;list-style: none;padding: 0;} 
.list ol{margin: 0 0 0 42px;}
.list p{position: relative; display: block; padding: 0 0 0 25px;}
.list p.q{font-size: 14px;}
.list p::before {content: 'Q'counter(li); counter-increment: li; position: absolute; left: -1.3em; top: 50%; margin-top: -1.3em; background: #e3f1fc; height: 2.2em; width: 2.2em; line-height: 2.2em;text-align: center;font-size: 14px; font-weight: 700; border-radius: 2.2em; color: #1896e6}
.list ol p{color: #666;padding-left: 5px;line-height: 1.6;}
.list ol p::before{content: counter(li)'、';height: 1em; width: 1em;border-radius: 0;background:none;font-size: 13px;color: #666;font-weight: 500}
.list ol.a{margin-left: 20px;}
.list ol.a p::before{content:'';}
.list li{margin-top: 20px;}
.list ol li{margin-top: 0;}

.lt-ie9 .list, .lt-ie9 .list ol{list-style: decimal;}
.lt-ie9 .list p{padding: 0.4em;}
