/**
 * 店铺装修-商品分类
 * @authors 	Inman Shaw
 * @date 		2014-06-10 15:56:56
 * @version 	1.0.0
 */

.mod-category{padding: 10px 0 19px 0;background-color: #fff;border: 2px solid #e6e6e6;border-top: 0 none;font-size: 0;margin-bottom: 10px;}
.mod-category-inner{overflow: hidden;}
.mod-category-col{display: inline-block;vertical-align: top;font-size: 13px;border-left: 1px solid #333;padding:0 50px 0 24px;margin-left: -1px;padding-bottom: 100em;margin-bottom: -100em;}
.mod-category-col dt{font-size: 16px;line-height: 28px;}
.mod-category-col a{color: #333;line-height: 28px;}

/* 窄 */
.wrap-small .mod-category-col{padding-left: 18px;padding-right: 30px;}