/**
 * 商场-店铺装修 排序&搜索
 * @authors 	Inman Shaw
 * @date 		2014-06-13 11:27:08
 * @version 	1.0.0
 */

.mod-sort{padding: 0 10px 0 0;margin-bottom: 10px;background-color: #f5f5f5;border: 1px solid #e6e6e6;}
.mod-sort-pagger{float: right;width: 13%;text-align: right;margin-top: 7px;}
.mod-sort-pagger .lnk-prev,.mod-sort-pagger .lnk-next{display: inline-block;vertical-align: top;width: 18px;height: 18px;line-height: 18px;background-color: #fff;border: 1px solid #e6e6e6;color: #757575;text-align: center;}
.mod-sp-status{font-family: arial;margin: 0 10px;line-height: 18px;display: inline-block;vertical-align: top;}

.mod-sort-ordering{font-size: 0}
.mod-sort-ordering a{font-size: 13px;display:inline-block;height: 33px;line-height: 33px;color: #333;padding: 0 10px 0 8px;border-right: 1px solid #e6e6e6;}
.mod-sort-ordering a.active{background-color: #fff;color: #f50}

.mod-sort-ordering .ico-arrow_b,.mod-sort-ordering .ico-arrow_t{display: inline-block;width: 11px;height: 11px;vertical-align: middle;background-position: 0 0;background-repeat: no-repeat;margin-left: 5px;}

.mod-sort-ordering .ico-arrow_b{background-image: url(../../img/public/icon/16x16/arrow_b2.gif);}
.mod-sort-ordering .ico-arrow_t{background-image: url(../../img/public/icon/16x16/arrow_t2.gif);}
.mod-sort-ordering a.active .ico-arrow_b{background-image: url(../../img/public/icon/16x16/arrow_b2_0.gif);}
.mod-sort-ordering a.active .ico-arrow_t{background-image: url(../../img/public/icon/16x16/arrow_t2_0.gif);}