/**
 * 店铺装修-自定义模板
 * @authors 	Inman Shaw
 * @date 		2014-06-10 16:40:53
 * @version 	1.0.0
 */
.mod-custom-tmpl{border:2px solid #e6e6e6;border-top: 0 none;background-color: #fff;margin-bottom: 10px;}
.mod-ct-tips{text-align: center;padding: 15px 16px 24px 16px;color: #3355aa}

/* 侧栏 */
.aside .mod-custom-tmpl{border-width: 1px;border-radius: 0 0 2px 2px }
.aside .mod-ct-tips{padding: 15px 16px;}