/**
 * 店铺装修-侧栏 商品分类
 * @authors 	Inman Shaw
 * @date 		2014-06-10 17:36:12
 * @version 	1.0.0
 */
.mod-aside-category{background-color: #fff;border:1px solid #e6e6e6;border-top: 0 none;border-radius: 0 0 2px 2px;margin-top: -1px;margin-bottom: 10px;}
.mod-aside-category a{color: #333}
.mod-ac-top a{display:block;height: 30px;line-height: 30px;background-color: #f5f5f5;border-bottom: 1px dotted #e8e8e8;padding: 0 10px;}

.mod-ac-hd{height: 30px;line-height: 30px;padding: 0 10px;font-size: 12px}
.mod-ac-bd{padding: 0 4px;}
.mod-ac-bd dt{height: 30px;line-height: 30px;padding: 0 10px 0 5px;background-color: #333;color: #fff;border-radius: 3px}
.mod-ac-bd dt a{color: #fff;}
.mod-ac-bd dd ul{padding-left: 20px;}
.mod-ac-bd dd li{list-style: square;}
.mod-ac-bd dd li a{margin-left: -5px;line-height: 28px;}
.mod-ac-bd .ico-plus_12, .mod-ac-bd .ico-reduce_12{display: inline-block;width: 12px;height: 12px;vertical-align: middle;background-position: 0 0;background-repeat: no-repeat;margin-top: 9px;}
.mod-ac-bd .ico-plus_12{background-image: url(../../img/public/icon/16x16/plus_12.gif)}
.mod-ac-bd .ico-reduce_12{background-image: url(../../img/public/icon/16x16/reduce_12.gif)}