/**
 * 店铺装修-边栏搜索 
 * @authors 	Inman Shaw
 * @date 		2014-06-10 17:22:23
 * @version 	1.0.0
 * @dep 		ui-form-1.0.0.css
 */
.mod-aside-search{padding: 15px 0;background-color: #fff;border:1px solid #e6e6e6;border-top: 0 none;border-radius: 0 0 2px 2px;margin-top: -1px;margin-bottom: 10px;}
.mod-aside-search .ui-form-item{padding: 0 5px 10px 57px;}
.mod-aside-search .ui-input{outline: none;}
.mod-aside-search .input-search{width: 108px;padding: 3px 5px 2px 5px;}
.mod-aside-search .input-short{width: 38px;padding: 3px 5px 2px 5px;}
.mod-aside-search .mod-as-line{vertical-align: -5px;}
.mod-aside-search .ui-btn-submit{height: 25px;line-height: 25px;border:0 none;border-radius: 2px;background-color: #333;color: #fff;padding: 0 15px;font-family: tahoma,arial,'Microsoft Yahei','SimHei',\5b8b\4f53;cursor: pointer;}
.mod-aside-search .mod-as-ext{line-height: 21px;padding: 0 10px;}
.mod-aside-search .mod-as-ext a{color: #666;margin-right: 6px;white-space: nowrap;}