.pop-service .popup-content{min-height: 395px;}
.pop-service .clean-table .w1{width: 16.67%;}
.pop-service .clean-table .w2{width: 23.33%;}
.pop-service .clean-table .w3{width: 20%;}
.pop-service .clean-table .actions a{margin-right: 15px;}
.pop-service .clean-table input[type=text]{width: 70%;}
.pop-service .btn-box-right{text-align: right;padding-top: 5px;margin-top: 10px;border-top: 1px solid #e6e6e6;}
.pop-service .btn-box-right a{line-height: 25px;margin-left: 10px;}
.pop-service .btn-box{margin-top: 33px;}
.pop-service .btn-box .ui-btn{margin-right: 10px;}
.pop-service .ui-form{padding-top: 18px;}

.pop-service-add {width: 426px !important;}
.pop-service-add .popup-content{min-height: 200px;position: relative;}
.pop-service-add .clean-table .w1{width: 73%;}
.pop-service-add .clean-table .actions{text-align: right;}
.pop-service-add .clean-table .actions a{margin:0 0 0 15px;}

.pop-service-add .tips-add{height: 50px;width: 170px;line-height: 50px;text-align: center;color: #fff;background: #f50;
position: absolute;top: 50%;left: 50%;margin-top: -40px;margin-left: -85px;}