.pop-hotRank .ui-form-item{padding-left: 90px;}
.pop-hotRank .ui-form-item .ui-label{width: 90px;margin-left: -90px;}
.pop-hotRank .ui-form-item input{margin-right: 5px;}
.pop-hotRank .ui-form-item .ui-form-explain{margin-top: 5px;}
.pop-hotRank .ui-form-item .ui-form-text{margin-top: 5px;}
.pop-hotRank .ui-form-item select{width: 140px;} 
.pop-hotRank .btn-box{margin-top: 20px;}
.pop-hotRank .btn-box input{margin-right: 10px;}