.pop-backup form{padding: 30px 38px;}
.pop-backup .ui-form-item{padding-left: 88px;}
.pop-backup .ui-form-item .ui-label{width: 83px;margin-left: -88px;}
.pop-backup form .btn-box{padding-top: 20px;}
.pop-backup form .btn-box .ui-btn{margin-right: 10px;}