.pop-msg{width: 430px !important;}
.pop-msg .popup-content{min-height: 110px;padding-top: 25px;}
.pop-msg .cnt{line-height: 1.8;color: #333;}
.pop-msg .btn-box{padding-top: 25px;}
.pop-msg .btn-box .ui-btn{margin-right: 10px;}