.pop-recommend .cnt-form{margin-top: 10px;}
.pop-recommend .cnt-form .ui-form-item{padding-left:72px;}
.pop-recommend .cnt-form .ui-form-item .ui-label{width: 72px;margin-left: -72px;}
.pop-recommend .cnt-form select{width: 140px;margin-right: 10px;}
.pop-recommend .btn-box{padding-top: 20px;}
.pop-recommend .btn-box .ui-btn{margin-right: 10px;}
.pop-recommend .ipt-short{width: 30px;margin-right: 5px;}

.pop-recommend .r-s-hd{padding: 10px 20px;background: #e6e6e6}
.pop-recommend .recommend-search .ui-radio-for{vertical-align: middle;margin-right: 20px;}
.pop-recommend .recommend-search .ui-select{vertical-align: middle;}
.pop-recommend .r-s-hd .ui-btn{margin-left: 25px;}

.pop-recommend .recommend-search .ipt-long{width: 168px;margin-right: 6px;}
.pop-recommend .recommend-search .ipt-short{width: 38px;margin-right: 0;}

.pop-recommend .r-s-bd .item{height: 50px;padding: 10px 0 10px 20px;border-bottom: 1px solid #e6e6e6;}
.pop-recommend .r-s-bd .item .left,.pop-recommend .r-s-bd .item .right{height: 50px;}
.pop-recommend .r-s-bd .item .left{float: left;width: 396px;}
.pop-recommend .r-s-bd .item .right{line-height: 50px;margin-left: 504px;}
.pop-recommend .r-s-bd .img img{width: 50px;height: 50px;}
.pop-recommend .r-s-bd .item .info{margin-left: 55px;}
.pop-recommend .r-s-bd .info .title{height: 33px;line-height: 1.3;display: block;color: #333}
.pop-recommend .r-s-bd .info .price span{margin-right: 18px;color: #333}

.pop-recommend .r-s-ft{padding: 5px 0 5px 20px;}
.pop-recommend .r-s-ft .tag{display: inline-block;margin-right: 10px;padding: 0 10px;height: 20px;line-height: 20px;color: #333;border-radius: 3px}
.pop-recommend .r-s-ft .active{background: #83888e;color: #eee}
.pop-recommend .btn-box{padding-left: 20px;}

.pager{cursor: default;}
.pager a,.pager span{display: inline-block;width: 18px;height: 0;padding-top: 18px;overflow: hidden;background-position: center center;background-repeat: no-repeat;vertical-align: middle;}
.pager .lnk-prev, .pager .lnk-next{background-color: #fff;border: 1px solid #e6e6e6;}
.pager .lnk-prev{background-image: url(../../img/public/icon/16x16/arrow_l1.gif);}
.pager .lnk-next{background-image: url(../../img/public/icon/16x16/arrow_r1.gif);}
.pager label{display: inline-block;height: 18px;line-height: 18px;vertical-align: middle;margin: 0 5px;}
.pager .lnk-prev:hover{background-image: url(../../img/public/icon/16x16/arrow_l2.gif);}
.pager .lnk-prev-disable, .pager .lnk-prev-disable:hover{background-image: url(../../img/public/icon/16x16/arrow_l3.gif);background-color: #f4f4f4;cursor: default;}
.pager .lnk-next:hover{background-image: url(../../img/public/icon/16x16/arrow_r2.gif);}
.pager .lnk-next-disable, .pager .lnk-next-disable:hover{background-image: url(../../img/public/icon/16x16/arrow_r3.gif);background-color: #f4f4f4;cursor: default;}

/*display-form*/
.pop-recommend .display-form{margin-top: 20px;}
.pop-recommend .display-form .ui-form-item{padding-left: 75px;}
.pop-recommend .display-form .ui-form-item .ui-label{width: 70px;margin-left: -75px;}
.pop-recommend .display-form .ui-checkbox-for{margin-right: 20px;}

.pop-recommend .layout-type{width: 120px;height: 120px;padding-top: 5px;display: inline-block;border:3px solid #feba00;text-align: center;font-size: 0;position: relative;}
.pop-recommend .layout-type span{display: inline-block;width: 50px;height: 50px;background: #ccc}
.pop-recommend .type-1 span{margin: 5px 35px 0;}
.ico-check{display: inline-block;width: 20px;height: 20px;background:  url(../../img/public/icon/16x16/check.gif) center center no-repeat;}
.pop-recommend .layout-type .ico-check{position: absolute;right: 0;bottom: 0;}












