.pop-carousel .popup-content{padding: 15px 38px 40px;min-height: 340px;}
.pop-carousel .bd{min-height: 270px;}

.pop-carousel .clean-table .w1{width: 44%;}
.pop-carousel .clean-table .w2{width: 38%;}

.pop-carousel .actions a{margin-left: 0;margin-right: 15px;}
.pop-carousel .btn-box-right{text-align: right;padding-top: 5px;margin-top: 10px;border-top: 1px solid #e6e6e6;}
.pop-carousel .btn-box{margin-top: 33px;}
.pop-carousel .btn-box .ui-btn{margin-right: 10px;}

.pop-carousel .ui-form{padding-top: 18px;}
.pop-carousel .ui-form-item{padding-left: 72px;}
.pop-carousel .ui-label{width: 72px;margin-left: -72px;text-align: left;}
.pop-carousel .ui-form-text input[type=checkbox]{margin-left: 15px;}
.pop-carousel .ipt-px{width: 50px;}
