/**
 * 店铺装修 公共
 * @authors 	Inman Shaw
 * @date 		2014-06-10 16:24:32
 * @version 	1.0.0
 */
/* 板块标题 */
.block-title{height: 30px;line-height: 35px;padding: 0 20px;background-color: #333;color: #fff;border-bottom: 5px solid #666;font-size: 14px;}
.block-title .block-title-r{font-size: 13px;color: #fff}
.aside-title{height: 35px;line-height: 35px;padding: 0 10px;background-color: #333;color: #fff;border-radius: 2px;}

/* 左右两栏布局 */
.main{margin-left: -10px;margin-top: -5px;}
.aside{margin-right: 10px;margin-top: -5px;}

/* 以上是页头区域、以下是页尾区域 */
.region-desc{margin-bottom: 10px;}
.region-desc .cut-off{height: 30px;line-height: 30px;background-color: #e0e0e0;text-align: center;color: #666;}
.region-desc .block-add-lnk{height: 28px;line-height: 28px;padding: 0 10px;background: rgba(1,137,230,.1);border:1px dotted #1896e6;text-align: right;}
.region-desc .ico-plus {display: inline-block; vertical-align: -2px; margin-right: 5px; width: 12px; height: 12px; background: url(../../img/sc/zx/plus.png) 0 -15px no-repeat;}

/* popup */
.popup{width: 676px !important;border:2px solid #1c242e;border-radius: 4px;}
.popup .popup-header{height: 42px;line-height: 42px;padding:0 0 0 18px;background-color: #131920;color: #f4f4f4;font-size: 16px;text-align: left;border-radius: 2px 2px 0 0;}
.popup .popup-content{padding:0;color: #666;border-radius:0 0 4px 4px;}
.popup-show-overlay{filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);opacity: .2;}
.popup-header .popup-close{width: 26px;height: 0;float: right;padding-top: 26px;background: url(../../img/sc/zx/pop_close.gif) center center no-repeat;margin: 10px 8px 0 0;}
.popup-header .popup-close:hover{background-image: url(../../img/sc/zx/pop_close_hover.gif);}
.lt-ie9 .popup-show-overlay{background-color:#000;opacity: .2;filter:alpha(opacity=20);}

.popup .tab-cnt{background: #fff;display: none;}
.popup .tab-cnt-active{display: block;}
.zx-popup .popup-content{padding: 15px 38px 40px;}
.zx-popup .tab-titles{border-bottom: 3px solid #ccc;font-size: 0;}
.zx-popup .tab-titles .tab-title {font-size: 14px; padding: 2px 10px; color: #666; border-bottom: 3px solid #ccc; margin-bottom: -3px; display: inline-block;}
.zx-popup .tab-titles .tab-title:hover, .zx-popup .tab-titles .tab-title-active{border-bottom-color: #1896e6;}
.zx-popup .tab-titles .fr{font-size: 13px; margin-top: 5px;}

/*btn-dark*/
.btn-dark{height: 25px;line-height: 25px;padding: 0 15px;}
.btn-dark{background-color: #83888d;color: #fff}
.btn-dark:hover{background-color: #1896e6;color: #fff}

/*icons*/
.lnk-flex{display: inline-block;width: 12px;height: 12px;vertical-align: -1px;margin-left: -32px;margin-right: 16px;background:url(../../img/public/icon/16x16/plus_border.gif) center center no-repeat;}
.expand .lnk-flex{background-image: url(../../img/public/icon/16x16/minus_border.gif);}
.actions{font-size: 0}
.actions a{margin-left: 20px;}
.lnk-up,.lnk-down,.lnk-delete,.lnk-edit,.ico-plus{display: inline-block;vertical-align: middle;width: 16px;height: 0;padding-top: 16px;overflow: hidden;background-position: center center;background-repeat: no-repeat;}
.lnk-up{background-image: url(../../img/public/icon/16x16/arrow_u1_0.gif)}
.lnk-up.disabled{background-image: url(../../img/public/icon/16x16/arrow_u1.gif);cursor: default;}
.lnk-down{background-image: url(../../img/public/icon/16x16/arrow_d1_0.gif)}
.lnk-down.disabled{background-image: url(../../img/public/icon/16x16/arrow_d1.gif);cursor: default;}
.lnk-delete{background-image: url(../../img/public/icon/16x16/arrow_delete1.gif)}
.lnk-edit{background-image: url(../../img/public/icon/16x16/edit.gif)}
.ico-plus{background-image: url(../../img/public/icon/16x16/plus.gif);margin: 0 5px 0 0;vertical-align: -3px;}
.fold-line{display:inline-block;width: 14px;height: 14px;vertical-align: -2px;margin-right: 3px;border-left: 1px solid #bebebe;border-bottom: 1px solid #bebebe}

/*clean table*/
.clean-table{width: 100%;margin-top: 15px;}
.clean-table th,.clean-table td{text-align: left;}
.clean-table td{padding: 5px 0 10px;}
.clean-table .actions a{margin-right: 20px;margin-left: 0;}

.group .sub {display: none;}
.expand .sub {display: block;}
















