<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>component组件</title>
</head>
<body>
<div id="app">
    <test-component></test-component>
    <child></child>

    <div>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
    </div>


    <div>
        <child2 message="hello"></child2>
        <child3 my-message="my-message"></child3>
    </div>

    <div>
        <input type="text" v-model="parentMsg">
        <br>
        <child4 v-bind:my-message="parentMsg"></child4>
    </div>

    <div>
        <todo-bind v-bind="todo"></todo-bind>
    </div>

    <div>
        <p>{{total}}</p>
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <button-counter v-on:increment="incrementTotal"></button-counter>
    </div>

    <div>
        <currency-input v-model="price"></currency-input>
    </div>

</div>

<script src="lib/vue.js"></script>
<script>
    //全局注册
    Vue.component('test-component', {
        template: '<div>A custom component!</div>'
    });

    Vue.component('simple-counter', {
        template: '<button v-on:click="counter += 1">{{counter}}</button>',
        data: function () {
            return {counter: 0}
        }
    });

    Vue.component('child2', {
        props: ['message'],
        template: '<span>{{message}}</span>'
    });

    Vue.component('child3', {
        props: ['myMessage'],
        template: '<div>{{myMessage}}</div>'
    });

    Vue.component('child4', {
        props: ['myMessage'],
        template: '<span>{{myMessage}}</span>'
    });

    Vue.component('todo-bind', {
        props: ['isComplate'],
        template: '<input v-model="isComplate">'
    });

    Vue.component('button-counter', {
        props: [''],
        template: '<button v-on:click="incremnetCounter">{{counter}}</button>',
        data: function () {
            return {
                counter: 0
            }
        },
        methods: {
            incremnetCounter: function () {
                this.counter += 1;
                this.$emit('increment', this.counter);
            }
        }
    });


    Vue.component('currency-input', {
        props: ['value'],
        template: '<span>$<input ref="input" v-bind:value="value" v-on:input="updateValue($event.target.value)"></span>',
        methods: {
            updateValue: function (value) {
                var formattedValue = value.trim().slice(0, value.indexOf('.') === -1 ? value.length : value.indexOf('.') + 3);

                if(formattedValue !== value){
                    this.$refs.input.value = formattedValue;
                }

                this.$emit('input',Number(formattedValue));
            }
        }
    });


    var child = {
        template: '<div>child 局部注册</div>'
    };

    //var data = {counter:0};

    //创建根实例
    var app = new Vue({
        el: '#app',
        data: {
            parentMsg: '',
            todo: {
                text: 'Learn Vue',
                isComplate: false
            },
            total: 0,
            price: ''
        },
        components: {
            'child': child
        },
        methods: {
            incrementTotal: function (value) {
                this.total += 1;
                console.log("子组件向父组件通信:" + value);

            }
        }
    });


</script>
</body>
</html>