@charset "utf-8";

.link_color{color: #ff6048 !important;}

.skin{  background-color: #4c7abf!important;  }
.textColor{  color:#4c7abf!important;  }

.fund_btn{border-top-color: #4c7abf !important;}
.fund_btn .border_left{border-left-color: #4c7abf !important;}

/*交易查询*/
.bg{background:#f6f6f6;}



.info_top{padding: .5rem;color:#666666;font-size: .512rem;}
.info_section{padding: 0 .64rem;margin-bottom:.64rem;background:#fff;}
.info_text{position:relative;padding: .60rem 0;font-size: .64rem;color:#000;border-bottom: 1px solid #eee;display: flex;display: -webkit-flex;}
.info_text_card p{flex:3;-webkit-flex:3;color:#666666;}
.info_text span{flex: 1;-webkit-flex:1;}
.info_text .flex{flex: 1;-webkit-flex:1;position: relative;margin-right: .7rem;}
.info_text input{font-size: .64rem;flex:3;-webkit-flex:3;}
.info_text2 input{font-size: .64rem;flex:2;-webkit-flex:2;}
.info_text3 input{font-size: .64rem;flex:2;-webkit-flex:2;}
.img_code span{display: flex;display: -webkit-flex;align-items: center;-webkit-align-items: center;}
.img_code{padding:.20rem 0;}

.info_text select{font-size: .64rem;flex:3;-webkit-flex:3;}
.info_text .veriCode{font-size: .64rem;flex:3!important;-webkit-flex:3!important;display: flex;display: -webkit-flex;}
.info_text .veriCode input{font-size: .64rem;flex:1!important;-webkit-flex:1!important;width:60%;}
.info_text a{font-size: .54rem;width:40%;border-left: 1px solid #999;padding-left: .60rem;}

.selc:after{
    content: "";
    position: absolute;
    right: 0.605rem;
    top: 50%;
    width: 8px;
    height: 8px;
    border-left: 3px solid #aaaaaa;
    border-bottom: 3px solid #aaaaaa;
    -webkit-transform: translateY(-50%) rotate(-135deg);
    -ms-transform: translateY(-50%) rotate(-135deg);
    -o-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
}
.info_bottom{margin: .5rem;font-size: .412rem;overflow: hidden;}
.pro label{margin-left: .2rem;}
.pro label a{color:#148ce6;}
.submit{display:inline-block;text-align: center;width:100%;height:1.92rem;line-height: 1.92rem;font-size: .64rem;background: #ccc;border-radius:25px;margin-top: .69rem;color:#fff;}






.zhezhao{display:none;position:absolute;top:0;left:0;background:#000;opacity: 0.4;width:100%;height:100%;z-index: 2;}
.close{background:url(../img/close.png) no-repeat;width:.64rem;height:.64rem;background-size:contain;position: absolute;top:.64rem;right:.64rem;cursor:pointer;}

.turn_tan{display:none;position: absolute;left:50%;top:50%;margin-top:-4.2rem;margin-left: -6.97rem;background: #fff;width:13.952rem;height:8.448rem;z-index: 99;border-radius: 7px;}
.tan_top{height: 1.92rem;font-size: .64rem;color:#000;text-align: center;line-height: 1.92rem;border-bottom: 1px solid #eee;}
.tan_p{text-align: center;color:#666;font-size: .6rem;margin-top: .74rem;margin-bottom: 1.70rem;}
.tan_con{display: flex;display: -webkit-flex;justify-content: center;-webkit-justify-content: center;}
.tan_con table td{width:2.13rem;height:2.13rem;line-height:2.13rem;border: 1px solid #999;border-collapse: collapse;border-radius: 3px;font-size: .64rem;text-align: center;}
.tan_con input{width:2.13rem;text-align: center;font-size: .64rem;display: none;}
.input_password{position: absolute;left:-10rem;z-index: 3;}


@keyframes rotateImg{
    0%{
        transform:rotate(0deg);

    }
    100%{
        transform:rotate(1800deg);
    }
}

.mt20{margin-top: .64rem;}
.ml20{margin-left: .64rem;}
.mb20{margin-bottom: .64rem;}
.mt17{margin-top: 1.7rem;}




.err_tan{display:none;background:rgba(0,0,0,.7);color:#fff;text-align: left;padding:.64rem;position: absolute;top:30%;border-radius: 5px;letter-spacing: 1px;line-height: 0.9rem;font-size: .64rem;overflow: hidden;}

.tan2{top:15%}

.imgCode{width:4.266666666666667rem;height:1.706666666666667rem;}