<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="str">
    <ul>
        <li v-for="user in users|filterBy str in 'name'">
            {{user.name}}
        </li>
    </ul>
</div>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            //根据str模糊查找
            str:'',
            users:[
                {name:"13412414"},
                {name:"121qweq" },
                {name:"23"}
            ]
   }
})

</script>

</body>
</html>